<div class="row" style="height:100%;">
    <div *ngFor="let supportCase of supportCases">

        <div class="col-md-8">
            <h5 style="color:white;" *ngIf="!supportCase.isEditingSupportCase" (click)="supportCase.isEditingSupportCase = !supportCase.isEditingSupportCase">{{supportCase.number}}</h5>
            <input style="color:white; background-color:transparent;" *ngIf="supportCase.isEditingSupportCase" myFocus (blur)="updateSupportNumber(supportCase); supportCase.isEditingSupportCase=false;" type="text" [(ngModel)]="supportCase.number" name="supportCase.number"
                class="form-control" placeholder="{{supportCase.number}}">
        </div>

        <div class="col-md-4">
            <input type="button" (click)="updateSupportNumber(supportCase); supportCase.isEditingSupportCase=false;" value="Update" class="btn">
        </div>
    </div>
</div>