/* Kolla upp senare */

body[unresolved] {
    opacity: 0;
}

body {
    transition: none;
}


/* Centering inside div if parent is position:relative; */

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


/* Circular images */

.circular--portrait {
    position: relative;
    width: 75px;
    height: 75px;
    overflow: hidden;
    border: 5px solid rgb(40, 40, 40);
    border-radius: 50%;
    /* box-shadow: 4px 4px 4px 1px black; */
}

.circular--portrait img {
    width: 100%;
    height: auto;
}

.circular--landscape {
    display: inline-block;
    position: relative;
    width: 75px;
    height: 75px;
    overflow: hidden;
    border: 5px solid rgb(40, 40, 40);
    border-radius: 50%;
    /* box-shadow: 4px 4px 4px 1px black; */
}

.circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}


/* Slack feed */

.header-fixed {
    width: 100%
}

.header-fixed>thead,
.header-fixed>tbody,
.header-fixed>thead>tr,
.header-fixed>tbody>tr,
.header-fixed>thead>tr>th,
.header-fixed>tbody>tr>td {
    display: block;
}

.header-fixed>tbody>tr:after,
.header-fixed>thead>tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed>tbody {
    overflow-y: auto;
    height: 150px;
}

.header-fixed>tbody>tr>td:first-child,
.header-fixed>thead>tr>th:first-child {
    width: 10%;
    float: left;
}

.header-fixed>tbody>tr>td:not(:first-child),
.header-fixed>thead>tr>th:not(:first-child) {
    width: 90%;
    float: left;
}


/* Text alignment on supportDOM */

.supportLeft h5 {
    text-align: left;
}

.supportRight h5 {
    text-align: right;
}


/* Diff color on every other row */

tbody tr.trRow:nth-child(even) {
    background-color: rgb(37, 37, 37) !important;
}

tbody tr.trRow:nth-child(odd) {
    background-color: rgb(42, 42, 42) !important;
}


/* Equal table-row-height */

table>tbody>tr {
    display: flex !important;
    flex-wrap: wrap !important;
    overflow-y: hidden;
}

table>tbody>tr>td {
    overflow: auto !important;
    display: flex !important;
    overflow-y: hidden;
    /*word-wrap: break-word !important;*/
    min-height: 50px !important;
}


/* Button Interaction */

button {
    position: relative;
    display: inline-block;
    background-color: rgb(29, 34, 40) !important;
    color: white !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-color: rgb(160, 160, 160) !important;
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

button::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

button:active {
    background-color: rgb(58, 68, 80) !important;
}

button:hover {
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
}

button:hover::after {
    opacity: 1;
}


/* Header color */

h5 {
    color: white;
}

#atlwdg-trigger {
    width: 10vw!important;
    text-align: center!important;
    transform: translate(30vw, 5vh)!important;
    height: 3vh!important;
}