<div class="container-fluid" id="body" style="height:100vh; width:100vw; overflow:hidden; ">
    <!-- -->




    <div id="dashboardContent" class="row" style="height:100%; background: linear-gradient(141deg, rgb(200, 200, 200) 0%, rgb(220, 220, 220) 51%, rgb(200, 200, 200) 100%);">

        <div class="col-md-3" style="background-color:rgb(40,40,40); height:5%; box-shadow: 10px 3px 18px 1px rgba(0,0,0,0.75); text-align:center;">

        </div>
        <div class="col-md-6" style="background-color:rgb(40,40,40); height:5%; box-shadow: 10px 3px 18px 1px rgba(0,0,0,0.75); text-align:center;">
            <h5 style="color:rgb(240,240,240); text-align:center;">Flex Dashboard</h5>
        </div>
        <div class="col-md-3" style="background-color:rgb(40,40,40); height:5%; box-shadow: 10px 3px 18px 1px rgba(0,0,0,0.75); text-align:right;position:relative;">
            <i class="fas fa-bullhorn" style="color:rgb(240,240,240);top:50%; transform:translate(-100%, -50%);position:absolute;" aria-hidden="true"></i>
        </div>


        <div id="container_managersWork_support" class="col-md-3" style="height:95%;">
            <div id="managersWorkGrid" class="row" style="height:33.33%; padding:1%;">
                <div class="col-md-12" style="height:100%; box-shadow:2px 2px 2px -2px rgba(0,0,0,0.75); background-color:rgb(240,240,240);">

                    <div class="row" style="height:10%;">
                        <div class="col-md-12">
                            <h5 style="margin:0;color:rgb(80,80,80); display:inline-block; width:80%;text-align:left; height:50%; transform:translateY(50%);padding:0;">Flex Test</h5>
                            <h5 style="margin:0;color:rgb(80,80,80); display:inline-block; width:19%;text-align:right; height:50%; transform:translateY(50%);padding:0;">...</h5>
                        </div>
                    </div>

                    <div class="col-md-12" style="height:90%;">

                    </div>
                </div>

            </div>

            <app-number-of-plans></app-number-of-plans>

            <div id="supportGrid" class="row" style="height:33.33%; padding:1%;">
                <div class="col-md-12" style="height:100%; box-shadow:2px 2px 2px -2px rgba(0,0,0,0.75); background-color:rgb(240,240,240);">
                    <div class="row" style="height:10%;">
                        <div class="col-md-12">
                            <h5 style="color:rgb(80,80,80); display:inline-block; width:80%;text-align:left; height:50%; transform:translateY(50%);margin:0;padding:0;">Support</h5>
                            <h5 style="color:rgb(80,80,80); display:inline-block; width:18%;text-align:right; height:50%; transform:translateY(50%);margin:0;padding:0;">...</h5>
                        </div>
                    </div>
                    <div class="row" style="height:90%;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6" style="padding:0;padding-top:2%;padding-bottom:2%;">
                                        <h5 style="margin-bottom:0; text-align:left; color:rgb(80,80,80); border-bottom:1px solid rgb(200,200,200);">Status</h5>
                                    </div>
                                    <div class="col-md-6" style="padding:0;padding-top:2%;padding-bottom:2%;">
                                        <h5 style="margin-bottom:0; color:rgb(80,80,80); border-bottom:1px solid rgb(200,200,200);text-align:right;">#</h5>
                                    </div>
                                    <div class="col-md-6" style="padding:0;padding-top:2%;padding-bottom:2%;">
                                        <h5 style="margin-bottom:0; color:rgb(80,80,80); text-align:left;">Open</h5>
                                    </div>
                                    <div class="col-md-6 supportRight" style="padding:0;padding-top:2%;padding-bottom:2%;">
                                        <h5 style="margin-bottom:0; color:rgb(80,80,80); text-align:right;">34</h5>
                                    </div>
                                    <div class="col-md-6 supportLeft" style="padding:0;padding-top:2%;padding-bottom:2%;">
                                        <h5 style="margin-bottom:0; color:rgb(80,80,80); text-align:left;">Closed</h5>
                                    </div>
                                    <div class="col-md-6 supportRight" style="padding:0;padding-top:2%;padding-bottom:2%;">
                                        <h5 style="margin-bottom:0; color:rgb(80,80,80); text-align:right;">15</h5>
                                    </div>
                                    <div class="col-md-6 supportLeft" style="padding:0;padding-top:2%;padding-bottom:2%;">
                                        <h5 style="margin-bottom:0; color:rgb(80,80,80);text-align:left;">Restored</h5>
                                    </div>
                                    <div class="col-md-6 supportRight" style="padding:0;padding-top:2%;padding-bottom:2%;">
                                        <h5 style="margin-bottom:0; color:rgb(80,80,80); text-align:right;">21</h5>
                                    </div>
                                    <div class="col-md-6 supportLeft" style="padding:0;padding-top:2%;padding-bottom:2%;">
                                        <h5 style="margin-bottom:0; text-align:left; color:rgb(80,80,80);">New</h5>
                                    </div>
                                    <div class="col-md-6 supportRight" style="padding:0;padding-top:2%;padding-bottom:2%;">
                                        <h5 style="margin-bottom:0; color:rgb(80,80,80);text-align:right;">1</h5>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div id="container_crtr_whatsup" class="col-md-5" style="height:95%;">

            <div id="maintenanceGrid" class="row" style="height:33.33%; padding:1%;">
                <div class="col-md-12" style="height:100%; box-shadow:2px 2px 2px -2px rgba(0,0,0,0.75); background-color:rgb(240,240,240);">
                    <div class="row" style="height:10%;">
                        <div class="col-md-12">
                            <h5 style="margin:0;color:rgb(80,80,80); display:inline-block; width:80%;text-align:left; height:50%; transform:translateY(50%);padding:0;">Busniess Value Items</h5>
                            <h5 style="margin:0;color:rgb(80,80,80); display:inline-block; width:19%;text-align:right; height:50%; transform:translateY(50%);padding:0;">...</h5>
                        </div>
                    </div>
                    <div class="row" style="height:90%;">
                        <div class="col-md-12" style="padding:0;">

                        </div>
                    </div>
                </div>
            </div>

            <app-jira-release></app-jira-release>

            <app-jira-puls></app-jira-puls>



        </div>

        <div id="container_alerts_releasenotes_maintenance" class="col-md-4" style="height:95%;">
            <div id="alertsGrid" class="row" style="height:33.33%; padding:1%;">
                <div class="col-md-12" style="height:100%; box-shadow:2px 2px 2px -2px rgba(0,0,0,0.75); background-color:rgb(240,240,240);">
                    <div class="row" style="height:10%;">
                        <div class="col-md-12">
                            <h5 style="margin:0;color:rgb(80,80,80); display:inline-block; width:80%;text-align:left; height:50%; transform:translateY(50%);padding:0;">Velocity Releases</h5>
                            <h5 style="margin:0;color:rgb(80,80,80); display:inline-block; width:19%;text-align:right; height:50%; transform:translateY(50%);padding:0;">...</h5>
                        </div>
                    </div>
                    <div class="row" style="height:90%;">
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>
            </div>
            <div id="releaseNotesGrid" class="row" style="height:33.33%; padding:1%;">
                <div class="col-md-12" style="height:100%; box-shadow:2px 2px 2px -2px rgba(0,0,0,0.75); background-color:rgb(240,240,240);">
                    <div class="row" style="height:10%;">
                        <div class="col-md-12">
                            <h5 style="margin:0;color:rgb(80,80,80); display:inline-block; width:80%;text-align:left; height:50%; transform:translateY(50%);padding:0;">Velocity Type</h5>
                            <h5 style="margin:0;color:rgb(80,80,80); display:inline-block; width:19%;text-align:right; height:50%; transform:translateY(50%);padding:0;">...</h5>
                        </div>
                    </div>
                    <div class="row" style="height:90%;">
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>
            </div>

            <app-whats-up></app-whats-up>


        </div>




    </div>
</div>