<style>
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        z-index: 200!important;
        opacity: 1!important;
        border: none!important;
        /* border-bottom: 1px dotted black; */
    }
    
    .tooltip .tooltiptext {
        visibility: hidden;
        position: absolute;
        width: 200px;
        color: #FFFFFF;
        background: #000000;
        /* height: 30px; */
        /* line-height: 30px; */
        text-align: center;
        visibility: hidden;
        border-radius: 6px;
        z-index: 1;
        margin-left: -88px;
        /* width - 2*borderradius? */
    }
    
    .tooltip .tooltiptext::after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        /* margin-left: -8px; */
        width: 0;
        height: 0;
        border-bottom: 8px solid #000000;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        z-index: 200!important;
    }
    
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
    
    .hoverHand:hover {
        cursor: pointer;
    }
</style>

<style>
    .wrapperHeader {
        display: grid;
        grid-template-columns: 30% 1fr 20% 10%;
        /* grid-auto-rows: minmax(100px, auto); */
        grid-template-rows: 100%;
        grid-gap: 1em;
        justify-items: strecth;
        /* horizontally: start, stretch, end, center */
        align-items: center;
        /* margin-bottom: 1em; */
        /* vertically: start, end, center */
        max-height: 100%;
        height: 100%;
    }
</style>
<div class="wrapperHeader">

    <div style="height:100%;">
        <div style="height:75%; transform:translateY(25%);">
            <h3 style="color:white;margin:0;padding:0;">{{currentDate.year}}-{{currentDate.month}}-{{currentDate.date}} - {{currentDate.year}}.{{currentDate.week}}.{{currentDate.dayNumber}}</h3>
            <h4 style="color:white;margin:0;padding:0;">{{currentDate.time}}</h4>
        </div>
    </div>


    <div style="height:100%;text-align:center;">
        <div class="tooltip" style="height:100%; ">
            <img src="../../assets/images/AlramEst_transparent.png" alt="" style="width:auto; height:100%;">
            <span class="tooltiptext">
                The application Flex Dashboard is the very tool for the Flex Community to track and follow the progress and development within the applications MAC, MACCloud, MEM and MPP.
                <br><br>
                Most welcome !
                <br>
                With regards / Flex Dashboard PO (Hasse Öhrström)
            </span>
        </div>
    </div>

    <!--   -->
    <div style="height:100%; text-align:right;">
        <div class="fa-1x" style="display:inline-block; height:50%; transform:translateY(50%)">
            <span class="fa-layers fa-fw hoverHand" (click)="modalFlexDashboardInfo.open()" style="color:white;font-size:2em;">
            <i class="fas fa-info-circle"></i>
        </span>
        </div>

        <bs-modal #modalFlexDashboardInfo cssClass="modal-seventy">
            <bs-modal-header [showDismiss]="false">
                <h1 class="modal-title">Flex Dashboard</h1>
            </bs-modal-header>
            <bs-modal-body>
                <div class="col-md-12" style="margin-bottom:10%;">
                    <h2>Synopsis:</h2>
                    <p style="">
                        The ambition is to offer a tool that supports a helicopter-view and drilldown-possibility within all activities within the Flex Team.
                    </p>

                    <p style="">
                        The source of the data is retrieved from JIRA (the projects MAC, MEM, MPP and MACCloud) and and with a regular frequence or when a function are used, the data will be automatically updated.
                    </p>

                    <p style="">
                        Since there is a different need of what You are interested in, a modular approach i.e. different Dashboards has been implemented. This means that You can select on a personal level (role based), what functions You would like to see and use.
                    </p>

                    <p style="margin-bottom:0;">The following main target groups has been adressed within this tool:</p>
                    <ul>
                        <li>Product Owners</li>
                        <li>SCRUM Masters</li>
                        <li>Business Owners</li>
                        <li>Development Teams</li>
                        <li>Support Team</li>
                        <li>Mangement</li>
                        <li>Steering Committee (Operational and Executive)</li>
                    </ul>

                    <p style="">
                        <span style="font-weight:bold">Please note !</span><br> You have a possibility to give us feedback (improvement-proposals) via the banner ”Provide feedback” at the top of the Dashboard. So if You miss a function, don´t hesitate
                        to provide the good idea to us.
                    </p>
                    <p>Thanks / Flex Dashboard PO (Hasse Öhrström)</p>

                </div>

            </bs-modal-body>
            <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
                <div class="col-md-12">

                    <button type="button" class="btn btn-close" (click)="modalFlexDashboardInfo.close()">Close</button>
                </div>
            </bs-modal-footer>
        </bs-modal>
    </div>

    <div style="height:100%; text-align:right;">
        <button class="btn btn-success" type="submit" style="height:80%; transform:translateY(10%); white-space: nowrap;" (click)="modalCreateCRTR.open(); openSnackBar();">JIRA Create</button>
        <bs-modal #modalCreateCRTR cssClass="modal-seventy">
            <bs-modal-header [showDismiss]="false">
                <h1 class="modal-title">Create CR or TR</h1>
            </bs-modal-header>
            <bs-modal-body>

                <div class="col-md-12 flex" style="margin-bottom:10%; padding-left:15%; padding-right:15%;">

                    <div class="full horizontalPadding">
                        <mat-form-field>
                            <mat-select placeholder="Source of Origin">
                                <mat-option value="option">Option</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                    <div class="col-container">
                        <div class="col-6 full horizontalPadding">
                            <mat-form-field>
                                <mat-select placeholder="Send Request To">
                                    <mat-option value="option">Option</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-6 full horizontalPadding">
                            <mat-form-field>
                                <mat-select placeholder="Related To">
                                    <mat-option value="option">Option</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="full horizontalPadding">
                        <mat-form-field>
                            <input matInput placeholder="Title">
                        </mat-form-field>
                    </div>

                    <div class="full horizontalPadding">
                        <mat-form-field>
                            <textarea matInput placeholder="Description"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="full horizontalPadding">
                        <mat-form-field>
                            <textarea matInput placeholder="Background"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="full horizontalPadding">
                        <mat-form-field>
                            <mat-select placeholder="Contact Person">
                                <mat-option value="option">Option</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                    <div class="col-container">
                        <div class="col-6 full horizontalPadding">
                            <mat-form-field>
                                <mat-select placeholder="Requested Priority">
                                    <mat-option value="option">Option</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-6 full horizontalPadding">
                            <mat-form-field>
                                <mat-select placeholder="Requested Eso?">
                                    <mat-option value="option">Option</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="full horizontalPadding">
                        <mat-form-field>
                            <textarea matInput placeholder="Consequence If Not Done"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="full horizontalPadding">
                        <mat-form-field>
                            <textarea matInput placeholder="Business Case"></textarea>
                        </mat-form-field>
                    </div>

                </div>

            </bs-modal-body>
            <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
                <div class="col-md-12">
                    <button type="button" class="btn btn-close" (click)="modalCreateCRTR.close()">Close</button>
                </div>
            </bs-modal-footer>
        </bs-modal>
    </div>

</div>