#headerIcon {
    width: 100%;
    height: 100%;
    /*
    background-image: url('../../assets/images/AlramEst_transparent.png');
    background-size: auto 100%;
    background-repeat: no-repeat; 
    */
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: strecth;
    /* horizontally: start, stretch, end, center */
    align-items: stretch;
    margin-bottom: 1em;
    /* vertically: start, end, center */
}

.wrapper>div {
    padding: 1em;
}

.wrapper>div:nth-child(odd) {
    padding: 1em;
}

.wrapperOne {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: strecth;
    /* horizontally: start, stretch, end, center */
    align-items: stretch;
    margin-bottom: 1em;
    /* vertically: start, end, center */
}

.wrapperOne>div {
    padding: 1em;
}

.wrapperOne>div:nth-child(odd) {
    padding: 1em;
}

ul {
    text-align: left;
}

.flex {
    display: flex;
    flex-direction: column;
}

.full>* {
    width: 100%;
}

.half>* {
    width: 50%;
}

.col-container {
    display: table;
    width: 100%;
}

.col-6 {
    display: table-cell;
    padding: 16px;
    width: 50%;
}

.col-3 {
    display: table-cell;
    padding: 16px;
    width: 25%;
}

.col-10 {
    display: table-cell;
    padding: 16px;
    width: 83.33%;
}

.col-2 {
    display: table-cell;
    padding: 16px;
    width: 16.667%;
}

.horizontalPadding {
    padding: 0;
    padding-left: 2em;
    padding-right: 2em;
}