<div class="col-md-12" style="height:10%; padding:0;">
    <div class="col-md-5" style="height:100%; padding-right:0;">
        <h2 style="color:rgb(80,80,80); display:inline-block; text-align:left; height:50%; transform:translateY(50%);margin:0;padding:0;">Upcoming</h2>
    </div>

    <div class="col-md-5" style="text-align:center; height:100%; padding:0;">
        <!--  <p *ngIf="jiraReleaseRequestTime" style="color:rgb(80,80,80); text-align:center; margin:0;padding:0;">
            Synched:<br> {{jiraReleaseRequestTime | dateFormatter: 'date'}} at {{jiraReleaseRequestTime | dateFormatter: 'time'}}
        </p>
    -->
    </div>

    <div class="col-md-2" style="text-align:right; height:100%;">
        <div class="fa-lg" style="display:inline-block; height:50%; transform:translateY(50%)">
            <span class="fa-layers fa-fw hoverHand" (click)="modal.open()" style="">
                <i class="fas fa-info-circle"></i>
            </span>
        </div>
    </div>


    <bs-modal #modal cssClass="modal-seventy" class="upcomingModal">
        <bs-modal-header [showDismiss]="false">
            <h1 class="modal-title">Upcoming</h1>
        </bs-modal-header>
        <bs-modal-body>
            <div class="col-md-12" style="margin-bottom:10%;">
                <h2>Synopsis:</h2>
                <p>
                    The function has been developed due a need to see the ENTIRE backlog within all Flex Applications which presents a helicopter-view of ALL current CRs/ TRs. The information is retrieved from selected JIRA projects (MAC, MACCloud, MPP and MEM) and the Dashboard
                    view is automatically updated on a regular basis.
                </p>
                <h2>Backlog:</h2>
                <p>
                    Presents the inactive (so far) CRs/TRs that has been requsted over the time and these has NOT been decided to be performed, neither when or if the request will be started to be developed. Anyone within Flex Community has the right to request a CR/ TR
                    when neeed and this need to be done via Dashboard JIRA Create.
                </p>
                <h2>RampUp:</h2>
                <p>
                    Presents the CRs/ TRs that for any reason has been selected to be discussed and decided wether it will be performed/ put on hold/ aborted.The initial roles that will discuss the request has been decided to be, Requester, Product Owner (PO), SCRUM Master
                    and if needed Business Owner (BO).
                </p>
                <h2>CCB:</h2>
                <p>
                    Presents the CRs/ TRs to be presented at forum Change Control Board (CCB) that for any reason has been selected to be discussed and decided wether it will be performed/ put on hold/ aborted.The roles that will discuss the request has been decided to be,
                    IT Architect, Product Owner (PO), SCRUM Master, Business Owner (BO) and Line Managers.
                </p>

                <h2>Functionality</h2>
                <p>
                    Release Notes: A possibility to present the Technical Release Notes (if available) within the CR/ TR.
                </p>
                <p>
                    A possibility to present the Commercial Release Notes (if available) within the CR/ TR.Argument:A possibility to present the argument presented (if available) at a Change Control Board (CCB) Meeting and the very reason for performing this specific CR/TR.
                    Since there are a lot of changes (CR’s, TR’s, Expedite’s, Golden Arrow’s…) competing for attention, we are forced to select and deselect at a very high level.
                </p>

                <style>
                    .wrapperThree {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-auto-rows: minmax(100px, auto);
                        grid-gap: 1em;
                        justify-items: start;
                        align-items: stretch;
                        margin-bottom: 1em;
                        display: grid;
                        grid-template-columns: 33.3% 1fr 33.3%;
                        grid-template-rows: auto;
                    }
                </style>
                <div class="wrapperThree">
                    <div>
                        <h2>More/Hide:</h2>
                        <p style="margin:0;">Offers a possibility to present additional attributes (if available) such as…</p>
                        <ul>
                            <li>Created</li>
                            <li>Updated</li>
                            <li>Reporter</li>
                            <li>Assignee</li>
                            <li>Labels</li>
                            <li>Linked Issues</li>
                            <li>Components</li>
                        </ul>
                    </div>

                    <div>
                        <h2>Sorting:</h2>
                        <p style="margin:0;">Offers a possibility to sort the current CRs/TRs in the following order…</p>
                        <ul>
                            <li>Key</li>
                            <li>Title</li>
                            <li>Type</li>
                            <li>Priority</li>
                            <li>Status</li>
                            <li>Created</li>
                            <li>Updated</li>
                            <li>Reporter</li>
                            <li>Assignee</li>
                        </ul>
                    </div>

                    <div>
                        <h2>Filter:</h2>
                        <p style="margin:0;">Offers a possibility to filter the current CRs/TRs in the following way…</p>
                        <ul>
                            <li>Status with multiple selection </li>
                            <li>Priority with multiple selection </li>
                            <li>Severity with multiple selection </li>
                            <li>Labels with multiple selection</li>
                            <li>Created with lower and upper selection-criteria</li>
                            <li>Updated with lower and upper selection-criteria </li>
                            <li>Key with upper and lower selection-criteria</li>
                        </ul>

                    </div>
                </div>


                <h2>NB:</h2>
                <p>The information will change with a high frequency, since the views will reflect the daily change of the current status of each CR/ TR.</p>
            </div>

        </bs-modal-body>
        <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
            <div class="col-md-9">
                <p style="color:black; display:inline-block; margin-bottom:0;">
                    <!--
                    <span style="font-weight:bold;">*</span> - A rolling time-window based on current week (based on System Date), 3 weeks backword and 3 weeks forward has been set.
                   -->
                </p>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-close" (click)="modal.close()">Close</button>
            </div>
        </bs-modal-footer>
    </bs-modal>

</div>

<div [hidden]="doneLoading" class="col-md-12 flex-container-center" style="height:90%; padding:0;">
    <div class="fa-5x" style="color:rgb(200,200,200);">
        <i class="fas fa-circle-notch fa-spin"></i>
    </div>
</div>

<div [hidden]="!doneLoading" class="col-md-12" style="height:90%; padding:0;">
    <div class="col-md-12" style="padding:0; overflow-y:scroll; height:100%;">



        <ul *ngIf="upcoming" id="upcomingAccordion" class="cd-accordion-menu animated" style="height:100%;width:100%;position:absolute;left:0;padding-left:0; margin-top:0; margin-bottom:0; background-color:rgb(245,245,245);">


            <li *ngFor="let container of upcoming; let i = index; let l = last;  trackBy: trackByFn " [appLastElement]="l" (lastFunc)="doneWithNgFor()" [attr.data-index]="i" style="color:transparent;" class="has-children">
                <input type="checkbox" name="upcomingGroup-{{i}}" id="upcomingGroup-{{i}}">
                <label class="marg releaseName" for="upcomingGroup-{{i}}" style="padding-left: 10%; padding-right:0.5em; height:100%; color:rgb(80,80,80); background-color:rgb(240,240,240); ">

                    <div class="container1fr70">
                        <div>
                            <span>{{container.container}}</span>
                        </div>
                            
                        <div class="progress" style="margin:0; height:50%;">
                            <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15</div>
                            <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30</div>
                            <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20</div>
                        </div>
                            
                    </div>
                    
                    <div class="container701fr">
                        <span>{{ container.description }}</span>
                        <span *ngIf="container.apps" style="float:right;">{{ container.apps | countIssues }} issues</span>
                    </div>
                    
                    
                </label>


                <ul *ngIf="container.apps" class="ulOne" style="padding-left:0;">

                    <li *ngFor="let app of container.apps; let j = index;" [attr.data-index]="j" style="color:transparent;" class="has-children">
                        <input type="checkbox" name="sub-upcomingGroup-{{i}}{{j}}" id="sub-upcomingGroup-{{i}}{{j}}">
                        <label class="marg macMppMem" for="sub-upcomingGroup-{{i}}{{j}}" style="padding-left: 12%; padding-right:0.5em; color:rgb(80,80,80); background-color:rgb(220,220,220);">
                            
                           
                            <div class="container1fr70">
                                <div>
                                    <span>{{ app.name | firstWord }}</span>
                                </div>

                                <div class="progress" style="margin:0; height:50%;"> <!-- let perc = status.number | statusPercentage:app; [ngStyle]="{'width':perc + '%'}" -->
                                 <div *ngFor="let status of app.statuses; " [ngClass]="status.name" class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">{{status.name}}</div> <!-- {{status.number | statusPercentage:app}} %-->
                                </div>
                            </div>

                            <div class="container701fr">
                                <span *ngIf="app.issues?.length > 0" style="float:right;">{{app.issues.length}} issues</span>
                                <span *ngIf="!app.issues?.length > 0" style="float:right;">0 issues</span>
                            </div>
                        </label>

                        <ul class="ulTwo issue" style="padding-left:0;">

                            <li style="padding-left:10%;padding-right:0.5em; width:100%; vertical-align:top; color:transparent; position:relative;display:inline-block;background-color:rgb(220,220,220);">

                                <mat-form-field>
                                    <mat-select (change)="logSorter();" [(ngModel)]="activeSort" placeholder="Sort">
                                        <mat-option>None</mat-option>
                                        <mat-option *ngFor="let sorton of sortingOptions" [value]="sorton">{{sorton}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field>
                                    <mat-select placeholder="Filter" [formControl]="filterControl" multiple>

                                        <mat-select-trigger>
                                            {{filterControl.value ? filterControl.value[0] : ''}}
                                            <span *ngIf="filterControl.value?.length > 1" class="example-additional-selection">
                                                        (+{{filterControl.value.length - 1}} others)
                                                    </span>
                                        </mat-select-trigger>

                                        <mat-optgroup *ngFor="let group of filters" [label]="group.name" [disabled]="group.disabled">

                                            <mat-option *ngFor="let type of group.types" [value]="type" (change)="addRemoveFilter(group.name, type);">
                                                {{ type }}
                                            </mat-option>
                                        </mat-optgroup>
                                    </mat-select>
                                </mat-form-field>
                            </li>

                            <li *ngFor="let issue of app.issues | arraySort2: activeSort | issueFilter2:filterControl:filters;" class="marg issue" style="padding-left:1em;  padding-right:0; width:100%; vertical-align:top; color:transparent; position:relative; display:inline-block; background-color:rgb(220,220,220);">

                                <div class="col-md-12" style="height:100%; width:100%; color:rgb(80,80,80); padding:0;">
                                    <div class="listWrapper" style="height:100%; padding-right:0; padding-left:0;">

                                        <div style="height:100%; padding:0;">

                                            <div class="tooltip" style="vertical-align:top; height:50%;">
                                                <img src="{{issue.fields.issuetype.iconUrl}}" class="smallIcon" />
                                                <span class="tooltiptext">{{issue.fields.issuetype.name}}</span>
                                            </div>

                                            <div class="tooltip" style="vertical-align:top;height:50%;">
                                                <img src="{{issue.fields.priority.iconUrl}}" class="smallIcon" />
                                                <span class="tooltiptext">{{issue.fields.priority.name}}</span>
                                            </div>

                                        </div>



                                        <div style="height:100%; padding:0; display:inline-block;">

                                            <div class="col-md-12" style=" height:50%; padding:0;">
                                                <div class="col-container">
                                                    <div class="col-6" style="height:100%; padding:0; display:table-cell;">
                                                        <h4 style="padding-top:0; text-decoration:none;margin-bottom:0;">
                                                            <a class="listKey" href="https://jira.scania.com/browse/{{issue.key}}" target="_blank">
                                                                {{issue.key}}
                                                            </a>
                                                        </h4>

                                                    </div>

                                                    <div class="col-6" style="height:100%; padding:0; display:table-cell; text-align:right;">
                                                        <h5 class="{{issue.fields.status.name}}" style="padding-top:0; display:inline-block; margin:0;">{{issue.fields.status.name}}</h5>
                                                    </div>
                                                </div>


                                                <div class="col-container">
                                                    <div class="col-12" style="padding:0; display:table-cell;">
                                                        <h4 style="margin:0; ">{{issue.fields.summary | textLength: 50}}</h4>
                                                    </div>

                                                </div>

                                                <div class="col-md-12" style="padding-left:0; padding-right:0;">

                                                    <div id="detailsUpcoming{{issue.key}}{{i}}{{j}}" class="collapse">
                                                        <div class="col-md-12" style="height:100%;padding-bottom:20px;padding-top:20px;border-top:1px solid rgb(230,230,230);padding-left:0; padding-right:0;">

                                                            <div class="col-container">
                                                                <div *ngIf="(issue.created)" class="col-md-6" style="padding:0;">
                                                                    <p style="font-weight:bold; margin:0;">Created:</p>
                                                                    <p>{{issue.fields.created | dateFormatter: 'date'}}</p>
                                                                </div>

                                                                <div *ngIf="(issue.updated)" class="col-md-6" style="padding:0;">
                                                                    <p style="font-weight:bold; margin:0;">Updated:</p>
                                                                    <p>{{issue.fields.updated.date | dateFormatter: 'date'}}</p>
                                                                </div>

                                                                <div *ngIf="(issue.fields.customfield_10106)" class="col-md-6" style="padding:0;">
                                                                    <p style="font-weight:bold; margin:0;">Service Center Id:</p>
                                                                    <p>{{issue.fields.customfield_10106}}</p>
                                                                </div>

                                                                <div class="col-md-6" style="padding:0;">
                                                                    <p style="font-weight:bold; margin:0;">Reporter:</p>
                                                                    <p *ngIf="issue.fields.creator">{{issue.fields.creator.displayName}}</p>
                                                                    <p *ngIf="!issue.fields.creator">No creator?</p>
                                                                </div>

                                                                <div class="col-md-6" style="text-align:left; padding:0;">
                                                                    <p style="font-weight:bold; margin:0;">Assignee:</p>
                                                                    <p *ngIf="issue.fields.assignee">{{issue.fields.assignee.displayName}}</p>
                                                                    <p *ngIf="!issue.fields.assignee">Unassigned</p>
                                                                </div>
                                                            </div>

                                                            <div *ngIf="(issue.components?.length > 0)" class="col-md-12" style="padding:0;">
                                                                <div style="text-align:left;" *ngFor="let component of issue.fields.components; let m = index;" [attr.data-index]="m">
                                                                    <p style="font-weight:bold; margin:0;" *ngIf="m == 0">Components:</p>
                                                                    <p>{{component}}</p>
                                                                </div>
                                                            </div>

                                                            <div *ngIf="(issue.labels?.length > 0)" class="col-md-12" style="padding:0;">

                                                                <div *ngFor="let label of issue.fields.labels; let n = index;" [attr.data-index]="n">
                                                                    <p style="font-weight:bold; margin:0;" *ngIf="n == 0">Labels:</p>
                                                                    <p>{{label}}</p>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                        <div style="height:100%; padding:0; display:inline-block;">

                                            <style>
                                                .fa-arrow-alt-circle-down {
                                                    transition: 0.70s;
                                                    -webkit-transition: 0.70s;
                                                    -moz-transition: 0.70s;
                                                    -ms-transition: 0.70s;
                                                    -o-transition: 0.70s;
                                                }
                                                
                                                .fa-arrow-alt-circle-down.collapsed {
                                                    transition: 0.70s;
                                                    -webkit-transition: 0.70s;
                                                    -moz-transition: 0.70s;
                                                    -ms-transition: 0.70s;
                                                    -o-transition: 0.70s;
                                                    -webkit-transform: rotate(-90deg);
                                                    -moz-transform: rotate(-90deg);
                                                    -ms-transform: rotate(-90deg);
                                                    -o-transform: rotate(-90deg);
                                                    transform: rotate(-90deg);
                                                }
                                            </style>
                                            <i class="far fa-arrow-alt-circle-down fa-lg collapsed" data-toggle="collapse" aria-expanded="false" [attr.data-target]="'#detailsUpcoming' + issue.key + i + j" style="margin-top:0.1em"></i>

                                        </div>




                                    </div>
                                </div>
                            </li>
                        </ul>

                    </li>

                </ul>

            </li>

        </ul>



    </div>
</div>