<div id="whatsUpGrid" class="row" style="height:33.33%; padding:1%;">


    <div class="col-md-12" style="height:100%; box-shadow:2px 2px 2px -2px rgba(0,0,0,0.75); background-color:rgb(245, 245, 245);">
        <div id="whatsUpHeader" class="row" style="height: 10%; background-color:rgb(245, 245, 245);">
            <div class="col-md-8" style="text-align:left;">
                <h5 style="padding-top:2px;margin:0;color:rgb(80,80,80); display:inline-block; width:80%;text-align:left; height:50%; transform:translateY(50%);">What's Up</h5>
            </div>

            <div class="col-md-3" style="text-align:right; height:100%;">
                <div class="hoverLarger">
                    <i class="fa fa-info-circle" (click)="modal.open()" aria-hidden="true"></i>
                </div>
                <bs-modal #modal cssClass="modal-thirty ">
                    <bs-modal-header [showDismiss]="false ">
                        <h5 class="modal-title ">What's Up</h5>
                    </bs-modal-header>
                    <bs-modal-body>
                        <div class="col-md-12 " style="text-align:center;margin-bottom:10%; ">
                            <h5>Synopsis:</h5>
                            <p style=" ">
                                Slack-feed because...
                            </p>
                        </div>
                    </bs-modal-body>
                    <bs-modal-footer style="position:absolute;bottom:0;width:100%; ">
                        <div class="col-md-12 ">

                            <button type="button " class="btn btn-close" (click)="modal.close() ">Close</button>
                        </div>
                    </bs-modal-footer>
                </bs-modal>
            </div>

            <div class="col-md-1 " style="text-align:right; ">
                <h5 style="color:rgb(80,80,80); display:inline-block; text-align:right; height:50%; transform:translateY(50%);margin:0;padding:0; ">...</h5>
            </div>
        </div>


        <app-slack-messages [hidden]="isPostingToSlack "></app-slack-messages>


        <app-slack-templates [hidden]="!isPostingToSlack "></app-slack-templates>


        <div class="col-md-12 " style="height:15%; border-top:1px solid rgb(220,220,220); position:relative; ">
            <div class="center " style="height:75%;transform:translateY(22.5%);text-align:center; ">
                <button (click)="isPostingToSlack=! isPostingToSlack; " type="submit " class="btn btn-default " value="Submit " style="height:100%;padding:5px; ">Post/Cancel</button>
            </div>
        </div>

    </div>



</div>