<div id="plansGrid" class="row" style="height:33.33%; padding:1%;">
    <div class="col-md-12" style="height:100%; box-shadow:2px 2px 2px -2px rgba(0,0,0,0.75); background-color:rgb(240,240,240);">
        <div class="row" style="height:10%;">
            <div class="col-md-12">
                <h5 style="color:rgb(80,80,80); display:inline-block; width:80%;text-align:left; height:50%; transform:translateY(50%);margin:0;padding:0;">Plans</h5>
                <h5 style="color:rgb(80,80,80); display:inline-block; width:18%;text-align:right; height:50%; transform:translateY(50%);margin:0;padding:0;">...</h5>
            </div>
        </div>
        <div class="row" style="height:90%;">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-12 supportRight">
                        <div class="col-md-6" style="padding:0;padding-top:2%;padding-bottom:2%;">
                            <h5 style="margin-bottom:0; text-align:left; color:rgb(80,80,80); border-bottom:1px solid rgb(200,200,200);">No. of Plans</h5>
                        </div>
                        <div class="col-md-6" style="padding:0;padding-top:2%;padding-bottom:2%;">
                            <h5 style="margin-bottom:0; color:rgb(80,80,80); border-bottom:1px solid rgb(200,200,200);text-align:right;">#</h5>
                        </div>

                        <div class="col-md-6 supportLeft" style="padding:0;padding-top:2%;padding-bottom:2%;">
                            <h5 style="margin-bottom:0; color:rgb(80,80,80);text-align:left;">Flexible</h5>
                        </div>
                        <div class="col-md-6 supportRight" style="padding:0;padding-top:2%;padding-bottom:2%;">
                            <h5 style="margin-bottom:0; color:rgb(80,80,80);text-align:right;">XX.XXX</h5>
                        </div>
                        <div class="col-md-6 supportLeft" style="padding:0;padding-top:2%;padding-bottom:2%;">
                            <h5 style="margin-bottom:0; text-align:left;color:rgb(80,80,80);">Periodic</h5>
                        </div>
                        <div class="col-md-6 supportRight" style="padding:0;padding-top:2%;padding-bottom:2%;">
                            <h5 style="margin-bottom:0; color:rgb(80,80,80);text-align:right;">XX.XXX</h5>
                        </div>
                        <div class="col-md-6 supportLeft" style="padding:0;padding-top:2%;padding-bottom:2%;">
                            <h5 style="margin-bottom:0; color:rgb(80,80,80); text-align:left;">Custom</h5>
                        </div>
                        <div class="col-md-6 supportRight" style="padding:0;padding-top:2%;padding-bottom:2%;">
                            <h5 style="margin-bottom:0; color:rgb(80,80,80);text-align:right;">XX.XXX</h5>
                        </div>
                        <div class="col-md-6 supportLeft" style="padding:0;padding-top:2%;padding-bottom:2%;">
                            <h5 style="margin-bottom:0; color:rgb(80,80,80);text-align:left;">Total</h5>
                        </div>
                        <div class="col-md-6 supportRight" style="padding:0;padding-top:2%;padding-bottom:2%;">
                            <h5 style="margin-bottom:0; color:rgb(80,80,80);text-align:right;">XXX.XXX</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>