<div id="crtrGrid" class="row" style="height:33.33%;padding:1%;">
    <div class="col-md-12" style="padding-left:0; padding-right:0; height:100%; box-shadow:2px 2px 2px -2px rgba(0,0,0,0.75); background-color:rgb(240, 240, 240);">
        <div class="col-md-12" style="height:10%; padding:0;">
            <div class="col-md-8" style="text-align:left;">
                <h5 style="color:rgb(80,80,80); display:inline-block; text-align:left; height:50%; transform:translateY(50%);margin:0;padding:0;">Releases</h5>

            </div>



            <div class="col-md-3" style="text-align:right; height:100%;">
                <div class="hoverLarger" style="height:50%; transform:translateY(50%);position:relative;">
                    <i class="fa fa-info-circle" (click)="modal.open()" aria-hidden="true"></i>
                </div>
                <bs-modal #modal cssClass="modal-thirty">
                    <bs-modal-header [showDismiss]="false">
                        <h5 class="modal-title">Release Notes</h5>
                    </bs-modal-header>
                    <bs-modal-body>
                        <div class="col-md-12" style="text-align:center;margin-bottom:10%;">
                            <h5>Synopsis:</h5>
                            <p style="">
                                This functionality has been developed due to a need to see a helicopter-view of the current, old, and new releases dropped or to be dropped in Flex Production environment.
                            </p>

                            <p style="">
                                The information comes from JIRA (Projects: Mac, MPP, MEM) and are automatically updated on a regular basis.<br> For a complete view of <b>ALL</b> releases, please use view "Releases" within JIRA.
                            </p>

                            <p style="">
                                A rolling time-window based on current week, 3 weeks backwards and 3 weeks forward has been set.
                            </p>

                        </div>

                    </bs-modal-body>
                    <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
                        <div class="col-md-12">

                            <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
                        </div>
                    </bs-modal-footer>
                </bs-modal>
            </div>

            <div class="col-md-1" style="text-align:right;">
                <h5 style="color:rgb(80,80,80); display:inline-block; text-align:right; height:50%; transform:translateY(50%);margin:0;padding:0;">...</h5>
            </div>
        </div>


        <style>
            label {
                margin-top: 0px!important;
                margin-bottom: 0px!important;
            }
            
            ul {
                margin-top: 0px!important;
                margin-bottom: 0px!important;
                padding-bottom: 0px!important;
                padding-top: 0px!important;
            }
            
            .marg {
                margin-bottom: 1px!important;
                margin-top: 1px!important;
            }
            
            li.has-children {
                margin-top: 0px!important;
                margin-bottom: 0px!important;
                padding-bottom: 1px!important;
                padding-top: 1px!important;
            }
        </style>

        <div class="col-md-12" style="padding:0; overflow-y:scroll;height:90%;">

            <!--
            <div id="print-section">
                <h5>Print test</h5>
                <br><br><br><br>
                <h5>printy</h5>
            </div>
            <button (click)="print()">print</button> 
        -->
            <ul class="cd-accordion-menu animated" style="height:100%;width:100%;position:absolute;left:0;padding-left:0; margin-top:0; margin-bottom:0; background-color:rgb(245,245,245);">

                <!-- Release nr XX  -->
                <li *ngFor="let jiraRelease of jiraReleases; let i = index; trackBy: trackByReleaseName" [attr.data-index]="i" style="color:transparent;" class="has-children">
                    <input type="checkbox" name="group-{{i}}" id="group-{{i}}">
                    <label class="marg releaseName" for="group-{{i}}" style="padding-left: 7.5%; height:100%; color:rgb(80,80,80); background-color:rgb(240,240,240); ">{{jiraRelease.releaseName}}</label>
                    <!-- margin-bottom:1px; -->
                    <ul class="ulOne" style="padding-left:0; ">
                        <!-- margin:0; -->


                        <li style="color:transparent;" class="has-children">
                            <input type="checkbox" name="sub-group-{{i}}1" id="sub-group-{{i}}1">
                            <label class="marg macMppMem" for="sub-group-{{i}}1" style="padding-left: 12%; color:rgb(80,80,80);background-color:rgb(220,220,220);">MAC - Maintenance Administraion Calculator System</label>
                            <!-- margin-bottom:1px; -->
                            <ul class="ulTwo issue" style="padding-left:0;">
                                <!-- trackby för modals -->
                                <li class="marg issue" *ngFor="let macIssue of jiraRelease.MACissues; let j = index; trackBy: trackByIssueUpdated" [attr.data-index]="j" style="padding-left:10%; width:100%; vertical-align:top; color:transparent; position:relative;display:inline-block;background-color:rgb(220,220,220);">
                                    <!--  margin-bottom:1px;-->
                                    <div style="height:100%; width:100%; color:rgb(80,80,80); padding:0;">
                                        <div class="col-md-12" style="height:100%; ">
                                            <!-- efter li ngFor var <a  href="#{{i}}{{j}}"-->
                                            <div class="col-md-1" style="height:100%; width: 4%;padding:0;display:inline-block;padding-top:1%;">
                                                <img src="{{macIssue.typeIcon}}" style="height:15px; width:15px;" />
                                                <!-- <div class="tooltip"> -->
                                                <img src="{{macIssue.priorityIcon}}" style="height:15px; width:15px;" />
                                                <!--  <span class="tooltiptext">Tooltip text</span>
                                                </div> -->
                                            </div>

                                            <div class="col-md-11-halfBefore" style="padding-bottom:0; height:100%; width: 96%; padding:0; padding-top:2%;padding-bottom:0%; display:inline-block;">

                                                <div class="col-md-12" style=" height:50%; padding:0;">
                                                    <div class="col-md-8" style="height:100%; padding:0;">
                                                        <h5 style="padding-top:0; text-align:left; text-decoration:none;margin-bottom:0;">
                                                            <a class="listKey" href="{{macIssue.url}}" target="_blank">
                                                                {{macIssue.key}}<br>
                                                            </a>

                                                            <i [hidden]="!macIssue.releaseNotes" (click)="modal.open();" class="fa fa-sticky-note-o" aria-hidden="true"></i>

                                                            <bs-modal #modal cssClass="modal-fifty">
                                                                <bs-modal-header [showDismiss]="false">
                                                                    <h5 class="modal-title">Release Notes</h5>
                                                                </bs-modal-header>
                                                                <bs-modal-body>
                                                                    <div class="col-md-12" style="text-align:center;">
                                                                        <p style="border-bottom: 1px solid rgb(230,230,230); display:inline-block;">{{macIssue.key}} - {{macIssue.title}}</p>
                                                                    </div>
                                                                    <!--
                                                                    {{macIssue.releaseNotes}}
                                                                    -->


                                                                    <div [hidden]="!macIssue.businessValueItem">
                                                                        <h5>Business Value Item:</h5>
                                                                        <p>{{macIssue.businessValueItem}}</p>
                                                                    </div>

                                                                    <div [hidden]="!macIssue.background">
                                                                        <h5>Background:</h5>
                                                                        <p>{{macIssue.background}}</p>
                                                                    </div>

                                                                    <div [hidden]="!macIssue.solution">
                                                                        <h5>Solution:</h5>
                                                                        <p>{{macIssue.solution}}</p>
                                                                    </div>

                                                                    <div [hidden]="!macIssue.affectsUser">

                                                                        <h5>Affects User:</h5>
                                                                        <p>{{macIssue.affectsUser}}</p>
                                                                    </div>

                                                                    <div class="col-md-12" style="border-top:1px solid rgb(220,220,220); height:35vh;padding-left:0;">

                                                                        <h5>Use the template below in the <span style="font-weight:bold;">"Description"</span>-field of the Jira-issues for release notes to show up here</h5>

                                                                        <p>
                                                                            <b>&lt;Release Notes Start&gt;</b>
                                                                        </p>

                                                                        <p>
                                                                            <b>Business value item:</b> ...
                                                                        </p>

                                                                        <p>
                                                                            <b>Service Center ID:</b> ...
                                                                        </p>

                                                                        <p>
                                                                            <b>Background:</b> ...
                                                                        </p>

                                                                        <p>
                                                                            <b>Solution:</b> ...
                                                                        </p>
                                                                        <p>
                                                                            <b>Affects user:</b> No/Yes
                                                                        </p>

                                                                        <p>
                                                                            <b>&lt;Release Notes End&gt;</b>
                                                                        </p>
                                                                    </div>


                                                                </bs-modal-body>
                                                                <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
                                                                    <div class="col-md-12">
                                                                        <p style="height:50%; transform:translateY(50%);text-align:left;float:left;">Release Notes from issue in Jira</p>
                                                                        <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
                                                                    </div>
                                                                </bs-modal-footer>
                                                            </bs-modal>


                                                        </h5>
                                                        <p style="">{{macIssue.title | textLength: 50}}</p>
                                                    </div>

                                                    <div class="col-md-4" style="height:100%; padding:0; text-align:right;">
                                                        <p style="padding-right:10px; display:inline-block;margin-bottom:0;">Status: </p>
                                                        <h5 class="{{macIssue.status}}" style="padding-top:0; display:inline-block; font-weight: bold; "> {{macIssue.status}}
                                                            <!--h5 transform:translateY(-10%); -->
                                                        </h5>

                                                    </div>
                                                    <div class="col-md-4" style="text-align:right;padding-right:0;">
                                                        <p class="hoverHand" style=" display:inline-block; margin-bottom:0;" data-toggle="collapse" [attr.data-target]="'#detailsMAC' + i + j">More</p>
                                                    </div>

                                                </div>


                                            </div>

                                            <div class="col-md-12" style="padding-left:0; padding-right:0;">

                                                <div id="detailsMAC{{i}}{{j}}" class="collapse">
                                                    <div class="col-md-12" style="height:100%; text-align:center;padding-bottom:20px;padding-top:20px;border-top:1px solid rgb(230,230,230);padding-left:0; padding-right:0;">

                                                        <div class="col-container">


                                                            <div [hidden]="!(macIssue.created)" class="col-md-6" style="text-align:left;">
                                                                <b style="text-align:left;">Created:</b>
                                                                <p style="text-align:left;">{{macIssue.created.date}} - {{macIssue.created.time}}</p>
                                                            </div>

                                                            <div [hidden]="!(macIssue.updated)" class="col-md-6" style="text-align:left;">
                                                                <b style="text-align:left;">Updated:</b>
                                                                <p style="text-align:left;">{{macIssue.updated.date}} - {{macIssue.updated.time}}</p>
                                                            </div>


                                                            <div class="col-md-6" style="text-align:left;">
                                                                <b style="text-align:left;">Reporter:</b>
                                                                <p style="text-align:left;margin-bottom:0;">{{macIssue.reporter}}</p>
                                                            </div>

                                                            <div class="col-md-6" style="text-align:left;">
                                                                <b style="text-align:left;">Assignee:</b>
                                                                <p style="text-align:left;">{{macIssue.assignee}}</p>
                                                                <div [hidden]="!macIssue.additionalAssignees" style="text-align:left;" *ngFor="let additionalAssignee of macIssue.additionalAssignees; let k = index;" [attr.data-index]="k">
                                                                    <b style="text-align:left;" *ngIf="k == 0">Additional Assignees:</b>
                                                                    <p style="text-align:left;margin-bottom:0;">{{additionalAssignee}}</p>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div [hidden]="!(macIssue.components?.length > 0)" class="col-md-6" style="text-align:left;">

                                                            <div style="text-align:left;" *ngFor="let component of macIssue.components; let n = index;" [attr.data-index]="n">
                                                                <b style="text-align:left;" *ngIf="n == 0">Components:</b>
                                                                <p style="text-align:left;margin-bottom:0;">{{component}}</p>
                                                            </div>
                                                        </div>

                                                        <div [hidden]="!(macIssue.labels?.length > 0)" class="col-md-6" style="text-align:left;">

                                                            <div style="text-align:left;" *ngFor="let label of macIssue.labels; let o = index;" [attr.data-index]="o">
                                                                <b style="text-align:left;" *ngIf="o == 0">Labels:</b>
                                                                <p style="text-align:left;margin-bottom:0;">{{label}}</p>
                                                            </div>
                                                        </div>

                                                        <div [hidden]="!macIssue.issueLinksInward" class="col-md-12" style="text-align:left;">

                                                            <div style="text-align:left;" *ngFor="let inwardIssues of macIssue.issueLinksInward; let l = index;" [attr.data-index]="l">
                                                                <b style="text-align:left;" *ngIf="l == 0">Inward issues:</b>
                                                                <p style="text-align:left;margin-bottom:0;">{{inwardIssues.key}} - {{inwardIssues.title | textLength: 50}}</p>
                                                            </div>
                                                        </div>

                                                        <div [hidden]="!macIssue.issueLinksOutward" class="col-md-12" style="text-align:left;">

                                                            <div style="text-align:left;" *ngFor="let outwardIssues of macIssue.issueLinksOutward; let m = index;" [attr.data-index]="m">
                                                                <b style="text-align:left;" *ngIf="m == 0">Outward issues:</b>
                                                                <p style="text-align:left;margin-bottom:0;">{{outwardIssues.key}} - {{outwardIssues.title | textLength: 50}}</p>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li style="color:transparent;" class="has-children">
                            <input type="checkbox" name="sub-group-{{i}}2" id="sub-group-{{i}}2">
                            <label class="macMppMem" for="sub-group-{{i}}2" style="padding-left: 12%; color:rgb(80,80,80);background-color:rgb(220,220,220);">MPP - Maintenance Planner Portal</label>
                            <!-- margin-bottom:1px; -->
                            <ul class="issue" style="padding-left:0;">
                                <!-- trackby för modals -->
                                <li class="issue" *ngFor="let mppIssue of jiraRelease.MPPissues; let j = index;  trackBy: trackByIssueUpdated" [attr.data-index]="j" style="padding-left:10%; width:100%; vertical-align:top; color:transparent; position:relative;display:inline-block;background-color:rgb(220,220,220);">
                                    <!--  margin-bottom:1px;-->
                                    <div style="height:100%; width:100%; color:rgb(80,80,80); padding:0;">
                                        <div class="col-md-12" style="height:100%; ">
                                            <!-- efter li ngFor var <a  href="#{{i}}{{j}}"-->
                                            <div class="col-md-1" style="height:100%; width: 4%;padding:0;display:inline-block;padding-top:1%;">
                                                <img src="{{mppIssue.typeIcon}}" style="height:15px; width:15px;" />
                                                <!-- <div class="tooltip"> -->
                                                <img src="{{mppIssue.priorityIcon}}" style="height:15px; width:15px;" />
                                                <!--  <span class="tooltiptext">Tooltip text</span>
                                                </div> -->
                                            </div>

                                            <div class="col-md-11-halfBefore" style="padding-bottom:0; height:100%; width: 96%; padding:0; padding-top:2%;padding-bottom:0%; display:inline-block;">

                                                <div class="col-md-12" style=" height:50%; padding:0;">
                                                    <div class="col-md-8" style="height:100%; padding:0;">
                                                        <h5 style="padding-top:0; text-align:left; text-decoration:none;margin-bottom:0;">
                                                            <a class="listKey" href="{{mppIssue.url}}" target="_blank">
                                                                {{mppIssue.key}}<br>
                                                            </a>

                                                            <i [hidden]="!mppIssue.releaseNotes" (click)="modal.open();" class="fa fa-sticky-note-o" aria-hidden="true"></i>

                                                            <bs-modal #modal cssClass="modal-fifty">
                                                                <bs-modal-header [showDismiss]="false">
                                                                    <h5 class="modal-title">Release Notes</h5>
                                                                </bs-modal-header>
                                                                <bs-modal-body>
                                                                    <div class="col-md-12" style="text-align:center;">
                                                                        <p style="border-bottom: 1px solid rgb(230,230,230); display:inline-block;">{{mppIssue.key}} - {{mppIssue.title}}</p>
                                                                    </div>
                                                                    <!--
                                                                    {{macIssue.releaseNotes}}
                                                                    -->


                                                                    <div [hidden]="!mppIssue.businessValueItem">
                                                                        <h5>Business Value Item:</h5>
                                                                        <p>{{mppIssue.businessValueItem}}</p>
                                                                    </div>

                                                                    <div [hidden]="!mppIssue.background">
                                                                        <h5>Background:</h5>
                                                                        <p>{{mppIssue.background}}</p>
                                                                    </div>

                                                                    <div [hidden]="!mppIssue.solution">
                                                                        <h5>Solution:</h5>
                                                                        <p>{{mppIssue.solution}}</p>
                                                                    </div>

                                                                    <div [hidden]="!mppIssue.affectsUser" style="height:14vh;">

                                                                        <h5>Affects User:</h5>
                                                                        <p>{{mppIssue.affectsUser}}</p>
                                                                    </div>


                                                                </bs-modal-body>
                                                                <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
                                                                    <div class="col-md-12">
                                                                        <p style="height:50%; transform:translateY(50%);text-align:left;float:left;">Release Notes from issue in Jira</p>
                                                                        <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
                                                                    </div>
                                                                </bs-modal-footer>
                                                            </bs-modal>


                                                        </h5>
                                                        <p style="">{{mppIssue.title | textLength: 50}}</p>
                                                    </div>

                                                    <div class="col-md-4" style="height:100%; padding:0; text-align:right;">
                                                        <p style="padding-right:10px; display:inline-block; margin-bottom:0;">Status: </p>
                                                        <h5 class="{{mppIssue.status}}" style="padding-top:0; display:inline-block; font-weight: bold; "> {{mppIssue.status}}
                                                            <!--h5 transform:translateY(-10%); -->
                                                        </h5>

                                                    </div>

                                                    <div class="col-md-4" style="text-align:right;padding-right:0;">
                                                        <p class="hoverHand" style=" display:inline-block; margin-bottom:0;" data-toggle="collapse" [attr.data-target]="'#detailsMPP' + i + j">More</p>
                                                    </div>

                                                </div>


                                            </div>

                                            <div class="col-md-12" style="padding-left:0; padding-right:0;">

                                                <div id="detailsMPP{{i}}{{j}}" class="collapse">
                                                    <div class="col-md-12" style="height:100%; text-align:center;padding-bottom:20px;padding-top:20px;border-top:1px solid rgb(230,230,230);padding-left:0; padding-right:0;">

                                                        <div class="col-container">
                                                            <div class="col-md-6" style="text-align:left;">
                                                                <b style="text-align:left;">Reporter:</b>
                                                                <p style="text-align:left;margin-bottom:0;">{{mppIssue.reporter}}</p>
                                                            </div>
                                                            <div class="col-md-6" style="text-align:left;">
                                                                <b style="text-align:left;">Assignee:</b>
                                                                <p style="text-align:left;margin-bottom:0;">{{mppIssue.assignee}}</p>
                                                                <div [hidden]="!mppIssue.additionalAssignees" style="text-align:left;" *ngFor="let additionalAssignee of mppIssue.additionalAssignees; let k = index;" [attr.data-index]="k">
                                                                    <b style="text-align:left;" *ngIf="k == 0">Additional Assignees:</b>
                                                                    <p style="text-align:left;margin-bottom:0;">{{additionalAssignee}}</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div [hidden]="!(mppIssue.components?.length > 0)" class="col-md-6" style="text-align:left;">

                                                            <div style="text-align:left;" *ngFor="let component of mppIssue.components; let n = index;" [attr.data-index]="n">
                                                                <b style="text-align:left;" *ngIf="n == 0">Components:</b>
                                                                <p style="text-align:left;margin-bottom:0;">{{component}}</p>
                                                            </div>
                                                        </div>

                                                        <div [hidden]="!(mppIssue.labels?.length > 0)" class="col-md-6" style="text-align:left;">

                                                            <div style="text-align:left;" *ngFor="let label of mppIssue.labels; let o = index;" [attr.data-index]="o">
                                                                <b style="text-align:left;" *ngIf="o == 0">Labels:</b>
                                                                <p style="text-align:left;margin-bottom:0;">{{label}}</p>
                                                            </div>
                                                        </div>

                                                        <div [hidden]="!mppIssue.issueLinksInward" class="col-md-12" style="text-align:left;">

                                                            <div style="text-align:left;" *ngFor="let inwardIssues of mppIssue.issueLinksInward; let l = index;" [attr.data-index]="l">
                                                                <b style="text-align:left;" *ngIf="l == 0">Inward issues:</b>
                                                                <p style="text-align:left;margin-bottom:0;">{{inwardIssues.key}} - {{inwardIssues.title | textLength: 50}}</p>
                                                            </div>
                                                        </div>

                                                        <div [hidden]="!mppIssue.issueLinksOutward" class="col-md-12" style="text-align:left;">

                                                            <div style="text-align:left;" *ngFor="let outwardIssues of mppIssue.issueLinksOutward; let m = index;" [attr.data-index]="m">
                                                                <b style="text-align:left;" *ngIf="m == 0">Outward issues:</b>
                                                                <p style="text-align:left;margin-bottom:0;">{{outwardIssues.key}} - {{outwardIssues.title | textLength: 50}}</p>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li style="color:transparent;" class="has-children">
                            <input type="checkbox" name="sub-group-{{i}}3" id="sub-group-{{i}}3">
                            <label class="macMppMem" for="sub-group-{{i}}3" style="padding-left: 12%; color:rgb(80,80,80);background-color:rgb(220,220,220);">MEM - Maintenance Expert Manager</label>
                            <!-- margin-bottom:1px; -->
                            <ul class="issue" style="padding-left:0;">
                                <!-- trackby för modals -->
                                <li class="issue" *ngFor="let memIssue of jiraRelease.MEMissues; let j = index;  trackBy: trackByIssueUpdated" [attr.data-index]="j" style="padding-left:10%; width:100%; vertical-align:top; color:transparent; position:relative;display:inline-block;background-color:rgb(220,220,220);">
                                    <!--  margin-bottom:1px; -->
                                    <div style="height:100%; width:100%; color:rgb(80,80,80); padding:0;">
                                        <div class="col-md-12" style="height:100%; ">
                                            <!-- efter li ngFor var <a  href="#{{i}}{{j}}"-->
                                            <div class="col-md-1" style="height:100%; width: 4%;padding:0;display:inline-block;padding-top:1%;">
                                                <img src="{{memIssue.typeIcon}}" style="height:15px; width:15px;" />
                                                <!-- <div class="tooltip"> -->
                                                <img src="{{memIssue.priorityIcon}}" style="height:15px; width:15px;" />
                                                <!--  <span class="tooltiptext">Tooltip text</span>
                                                </div> -->
                                            </div>

                                            <div class="col-md-11-halfBefore" style="padding-bottom:0; height:100%; width: 96%; padding:0; padding-top:2%;padding-bottom:0%; display:inline-block;">

                                                <div class="col-md-12" style=" height:50%; padding:0;">
                                                    <div class="col-md-8" style="height:100%; padding:0;">
                                                        <h5 style="padding-top:0; text-align:left; text-decoration:none;margin-bottom:0;">
                                                            <a class="listKey" href="{{memIssue.url}}" target="_blank">
                                                                {{memIssue.key}}<br>
                                                            </a>

                                                            <i [hidden]="!memIssue.releaseNotes" (click)="modal.open();" class="fa fa-sticky-note-o" aria-hidden="true"></i>

                                                            <bs-modal #modal cssClass="modal-fifty">
                                                                <bs-modal-header [showDismiss]="false">
                                                                    <h5 class="modal-title">Release Notes</h5>
                                                                </bs-modal-header>
                                                                <bs-modal-body>
                                                                    <div class="col-md-12" style="text-align:center;">
                                                                        <p style="border-bottom: 1px solid rgb(230,230,230); display:inline-block;">{{memIssue.key}} - {{memIssue.title}}</p>
                                                                    </div>
                                                                    <!--
                                                                    {{macIssue.releaseNotes}}
                                                                    -->


                                                                    <div [hidden]="!memIssue.businessValueItem">
                                                                        <h5>Business Value Item:</h5>
                                                                        <p>{{memIssue.businessValueItem}}</p>
                                                                    </div>

                                                                    <div [hidden]="!memIssue.background">
                                                                        <h5>Background:</h5>
                                                                        <p>{{memIssue.background}}</p>
                                                                    </div>

                                                                    <div [hidden]="!memIssue.solution">
                                                                        <h5>Solution:</h5>
                                                                        <p>{{memIssue.solution}}</p>
                                                                    </div>

                                                                    <div [hidden]="!memIssue.affectsUser" style="height:14vh;">

                                                                        <h5>Affects User:</h5>
                                                                        <p>{{memIssue.affectsUser}}</p>
                                                                    </div>


                                                                </bs-modal-body>
                                                                <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
                                                                    <div class="col-md-12">
                                                                        <p style="height:50%; transform:translateY(50%);text-align:left;float:left;">Release Notes from issue in Jira</p>
                                                                        <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
                                                                    </div>
                                                                </bs-modal-footer>
                                                            </bs-modal>


                                                        </h5>
                                                        <p style="">{{memIssue.title | textLength: 50}}</p>
                                                    </div>

                                                    <div class="col-md-4" style="height:100%; padding:0; text-align:right;">
                                                        <p style="padding-right:10px; display:inline-block; margin-bottom:0;">Status: </p>
                                                        <h5 class="{{memIssue.status}}" style="padding-top:0; display:inline-block; font-weight: bold; "> {{memIssue.status}}
                                                            <!--h5 transform:translateY(-10%); -->
                                                        </h5>

                                                    </div>

                                                    <div class="col-md-4" style="text-align:right;padding-right:0;">
                                                        <p class="hoverHand" style=" display:inline-block; margin-bottom:0;" data-toggle="collapse" [attr.data-target]="'#detailsMEM' + i + j">More</p>
                                                    </div>


                                                </div>


                                            </div>

                                            <div class="col-md-12" style="padding-left:0; padding-right:0;">

                                                <div id="detailsMEM{{i}}{{j}}" class="collapse">
                                                    <div class="col-md-12" style="height:100%; text-align:center;padding-bottom:20px;padding-top:20px;border-top:1px solid rgb(230,230,230);padding-left:0; padding-right:0;">

                                                        <div class="col-container">
                                                            <div class="col-md-6" style="text-align:left;">
                                                                <b style="text-align:left;">Reporter:</b>
                                                                <p style="text-align:left;margin-bottom:0;">{{memIssue.reporter}}</p>
                                                            </div>
                                                            <div class="col-md-6" style="text-align:left;">
                                                                <b style="text-align:left;">Assignee:</b>
                                                                <p style="text-align:left;">{{memIssue.assignee}}</p>
                                                                <div [hidden]="!memIssue.additionalAssignees" style="text-align:left;" *ngFor="let additionalAssignee of memIssue.additionalAssignees; let k = index;" [attr.data-index]="k">
                                                                    <b style="text-align:left;" *ngIf="k == 0">Additional Assignees:</b>
                                                                    <p style="text-align:left;margin-bottom:0;">{{additionalAssignee}}</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div [hidden]="!(memIssue.components?.length > 0)" class="col-md-6" style="text-align:left;">

                                                            <div style="text-align:left;" *ngFor="let component of memIssue.components; let n = index;" [attr.data-index]="n">
                                                                <b style="text-align:left;" *ngIf="n == 0">Components:</b>
                                                                <p style="text-align:left;margin-bottom:0;">{{component}}</p>
                                                            </div>
                                                        </div>

                                                        <div [hidden]="!(memIssue.labels?.length > 0)" class="col-md-6" style="text-align:left;">

                                                            <div style="text-align:left;" *ngFor="let label of memIssue.labels; let o = index;" [attr.data-index]="o">
                                                                <b style="text-align:left;" *ngIf="o == 0">Labels:</b>
                                                                <p style="text-align:left;margin-bottom:0;">{{label}}</p>
                                                            </div>
                                                        </div>

                                                        <div [hidden]="!memIssue.issueLinksInward" class="col-md-12" style="text-align:left;">

                                                            <div style="text-align:left;" *ngFor="let inwardIssues of memIssue.issueLinksInward; let l = index;" [attr.data-index]="l">
                                                                <b style="text-align:left;" *ngIf="l == 0">Inward issues:</b>
                                                                <p style="text-align:left;margin-bottom:0;">{{inwardIssues.key}} - {{inwardIssues.title | textLength: 50}}</p>
                                                            </div>
                                                        </div>

                                                        <div [hidden]="!memIssue.issueLinksOutward" class="col-md-12" style="text-align:left;">

                                                            <div style="text-align:left;" *ngFor="let outwardIssues of memIssue.issueLinksOutward; let m = index;" [attr.data-index]="m">
                                                                <b style="text-align:left;" *ngIf="m == 0">Outward issues:</b>
                                                                <p style="text-align:left;margin-bottom:0;">{{outwardIssues.key}} - {{outwardIssues.title | textLength: 50}}</p>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>


            </ul>

        </div>
    </div>
</div>


<script>
    jQuery(document).ready(function() {
        var accordionsMenu = $('#releaseAccordion');

        if (accordionsMenu.length > 0) {

            accordionsMenu.each(function() {
                var accordion = $(this);
                //detect change in the input[type="checkbox"] value
                accordion.on('change', 'input[type="checkbox"]', function() {
                    var checkbox = $(this);
                    console.log(checkbox.prop('checked'));
                    (checkbox.prop('checked')) ? checkbox.siblings('ul').attr('style', 'display:none;').slideDown(300): checkbox.siblings('ul').attr('style', 'display:block;').slideUp(300);
                });
            });
        }

    });
</script>