/* CSS-Reset */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* 
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*/


/* -------------------------------- 

Primary style

-------------------------------- */


/* -------------------------------- 

Primary style

-------------------------------- */

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {}

body {
    color: rgb(80, 80, 80);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}


/* -------------------------------- 

Main Components 

-------------------------------- */

.cd-accordion-menu {
    width: 100%;
    background: rgb(240, 240, 240);
    margin: 4em auto;
}

.cd-accordion-menu ul {
    /* by default hide all sub menus */
    display: none;
}

.cd-accordion-menu li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cd-accordion-menu input[type=checkbox] {
    /* hide native checkbox */
    position: absolute;
    opacity: 0;
}

.cd-accordion-menu label,
.cd-accordion-menu a {
    position: relative;
    display: block;
    padding: 18px 18px 18px 64px;
    background: rgb(240, 240, 240);
    box-shadow: inset 0 -1px #555960;
    color: rgb(80, 80, 80);
    font-size: 1.6rem;
}

.no-touch .cd-accordion-menu label:hover,
.no-touch .cd-accordion-menu a:hover {
    background: green;
}

.cd-accordion-menu label::before
/* .cd-accordion-menu label::after,
.cd-accordion-menu a::after*/

{
    /* icons */
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cd-accordion-menu label {
    cursor: pointer;
}

.cd-accordion-menu label::before {
    background-image: url(../../assets/cd-icons.svg);
    /* background-size: 20px 20px; */
    background-repeat: no-repeat;
    color: rgb(80, 80, 80);
    left: 0.5em;
    background-position: 0 0;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
}

.cd-accordion-menu label::after {
    /* folder icons */
    /*
    color: rgb(80, 220, 80);
     left: 41px;
    background-position: -16px 0; */
}

.cd-accordion-menu input[type=checkbox]:checked+label::before {
    /* rotate arrow */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cd-accordion-menu input[type=checkbox]:checked+label::after {
    /* show open folder icon if item is checked */
    /* background-position: -32px 0; */
}

.cd-accordion-menu input[type=checkbox]:checked+label+ul,
.cd-accordion-menu input[type=checkbox]:checked+label:nth-of-type(n)+ul {
    /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
    /* show children when item is checked */
    display: block;
}

.cd-accordion-menu ul label,
.cd-accordion-menu ul a {
    background: transparent;
    box-shadow: inset 0 -1px #41444a;
    /*  padding-left: 82px; */
}

.no-touch .cd-accordion-menu ul label:hover,
.no-touch .cd-accordion-menu ul a:hover {
    background: rgb(240, 240, 240);
}

.cd-accordion-menu>li:last-of-type>label,
.cd-accordion-menu>li:last-of-type>a,
.cd-accordion-menu>li>ul>li:last-of-type label,
.cd-accordion-menu>li>ul>li:last-of-type a {
    box-shadow: none;
}

.cd-accordion-menu ul label::before {
    left: 1em!important;
}

.cd-accordion-menu ul label::after,
.cd-accordion-menu ul a::after {
    left: 1em!important;
}

.cd-accordion-menu ul ul label,
.cd-accordion-menu ul ul a {
    /*  padding-left: 100px; */
}

.cd-accordion-menu ul ul label::before {
    left: 1em!important;
}

.cd-accordion-menu ul ul label::after,
.cd-accordion-menu ul ul a::after {
    left: 2em!important;
}

.cd-accordion-menu ul ul ul label,
.cd-accordion-menu ul ul ul a {
    /*padding-left: 118px; */
}

.cd-accordion-menu ul ul ul label::before {
    left: 2.2em!important;
    /* 72px;*/
}

.cd-accordion-menu ul ul ul label::after,
.cd-accordion-menu ul ul ul a::after {
    left: 1em!important;
    /* */
}

:root {
    --status-inprogress-color: rgb(255, 211, 81);
    --status-new-color: rgb(74, 103, 133);
    --status-planning-color: rgb(74, 103, 133);
    --status-closed-color: rgb(20, 137, 44);
    --status-resolved-color: rgb(20, 137, 44);
}

h5[class*='Done'] {
    color: rgb(220, 220, 220);
    background-color: rgb(20, 137, 44);
    border: 4px solid rgb(20, 137, 44);
    border-radius: 5px;
}

h5[class*='In Progress'] {
    color: rgb(220, 220, 220);
    background-color: rgb(255, 211, 81);
    border: 4px solid rgb(255, 211, 81);
    border-radius: 5px;
}

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent green;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.col-md-1-half {
    /* width: 4.1667%; */
}

.col-md-11-halfBefore {
    /*  width: 95.8333%; */
}

.hoverHand {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.hoverHand:hover {
    transform: scale(1.15);
}

i.fa-sticky-note-o:hover {
    cursor: pointer;
}

.col-container {
    display: table;
    /* Make the container element behave like a table */
    width: 100%;
    /* Set full-width to expand the whole page */
}

.col {
    display: table-cell;
    /* Make elements inside the container behave like table cells */
}

label {
    padding-bottom: 10px!important;
    padding-top: 10px!important;
    font-weight: 400!important;
    box-shadow: none!important;
}


/* 
h
*/