<div class="col-md-6" style="height:100%; border-right:1px solid rgba(40,40,40, 0.15); padding:0.5em;" [hidden]="">

    <div class="col-md-12" style="height:15%;">
        <h2 style="margin:0; text-align:center;">Issue Types</h2>
    </div>



    <div class="col-md-12" style="height:40%; padding:0; margin-bottom:0%;">
        <ngx-charts-pie-chart id="paj" [view]="" [scheme]="colorScheme" [results]="data" [arcWidth]="0.35" [legend]="false" [explodeSlices]="explodeSlices" [labels]="" [doughnut]="true" [gradient]="" (select)="onSelect($event)">
            <ng-template #tooltipTemplate let-model="model">

                <h4 style="color:white; text-align:center; margin:0;">{{ model.name }}</h4>
                <h5 style="color:white; text-align:center;">{{ model.value / (data[0].value + data[1].value + data[2].value + data[3].value) * 100 | number:'1.0-0' }}%</h5>

            </ng-template>
        </ngx-charts-pie-chart>
    </div>

    <div class="col-md-12" style="height:10%; text-align:left; padding:0;">

        <div *ngIf="activeChartIsPuls" (click)="activeChartIsPuls = !activeChartIsPuls; updateChart('releases')">
            <i class="fas fa-toggle-on" style="display:inline-block; font-size:2rem; vertical-align:top;"></i>
            <h4 style="display:inline-block; padding:0;margin:0; padding-left:1%;">Puls-Boards</h4>
        </div>

        <div *ngIf="!activeChartIsPuls" (click)="activeChartIsPuls = !activeChartIsPuls; updateChart('pulses')">
            <i class="fas fa-toggle-off" style="display:inline-block; font-size:2rem;vertical-align:top;"></i>
            <h4 style="display:inline-block; padding:0;margin:0; padding-left:1%;">Releases</h4>
        </div>

    </div>

    <div class="col-md-12" style="height:30%; padding:0;">

        <div class="wrapper">

            <div *ngFor="let d of data; let i = index;" style="border-left: 4px solid; padding:0;" [ngStyle]="{'border-color': colorScheme.domain[i]}">
                <h4 style="margin-bottom:0; text-align:center; font-weight:bold;">{{d.value}}</h4>
                <h4 style="margin-bottom:0; text-align:center;">{{d.name}}</h4>
            </div>

        </div>

        <!--
        <div class="wrapper">
            <div *ngFor="let d of data; let i = index;" style="border-left: 4px solid; padding:0;" [ngStyle]="{'border-color': colorScheme.domain[i + 2]}">
                <p style="margin-bottom:0; text-align:center; font-weight:bold;">{{d.value}}</p>
                <p style="margin-bottom:0; text-align:center;">{{d.name}}</p>
            </div>
        </div> -->
        <!--
            <div style="border-left: 4px solid; padding:0;" [ngStyle]="{'border-color': crColor}">
                <p style="margin-bottom:0; text-align:center; font-weight:bold;">{{data[0].value}}</p>
                <p style="margin-bottom:0; text-align:center;">CR</p>
            </div>

            <div style="border-left: 4px solid; padding:0;" [ngStyle]="{'border-color': trColor}">
                <p style="margin-bottom:0; text-align:center; font-weight:bold;">{{data[1].value}}</p>
                <p style="margin-bottom:0; text-align:center;">TR</p>
            </div>

            <div style="border-left: 4px solid; padding:0;" [ngStyle]="{'border-color': taskColor}">
                <p style="margin-bottom:0; text-align:center; font-weight:bold;">{{data[2].value}}</p>
                <p style="margin-bottom:0; text-align:center;">Task</p>
            </div>

            <div style="border-left: 4px solid; padding:0;" [ngStyle]="{'border-color': storyColor}">
                <p style="margin-bottom:0; text-align:center; font-weight:bold;">{{data[3].value}}</p>
                <p style="margin-bottom:0; text-align:center;">Story</p>
            </div>
        -->
        <!--
            <div style="padding:0; border-left: 4px solid transparent;">
                <p style="margin-bottom:0; text-align:center; font-weight:bold;">{{data[0].value / (data[0].value + data[1].value + data[2].value + data[3].value) * 100 | number:'1.0-0' }}%</p>
            </div>

            <div style="padding:0; border-left: 4px solid transparent;">
                <p style="margin-bottom:0; text-align:center; font-weight:bold;">{{data[1].value / (data[0].value + data[1].value + data[2].value + data[3].value) * 100 | number:'1.0-0' }}%</p>
            </div>

            <div style="padding:0; border-left: 4px solid transparent;">
                <p style="margin-bottom:0; text-align:center; font-weight:bold;">{{data[2].value / (data[0].value + data[1].value + data[2].value + data[3].value) * 100 | number:'1.0-0' }}%</p>
            </div>

            <div style="padding:0; border-left: 4px solid transparent;">
                <p style="margin-bottom:0; text-align:center; font-weight:bold;">{{data[3].value / (data[0].value + data[1].value + data[2].value + data[3].value) * 100 | number:'1.0-0' }}%</p>
            </div>
        -->



    </div>
</div>