.advanced-pie.chart {
    transform: translate(75px, -75px)!important;
}

.advanced-pie-legend-wrapper {
    transform: translate(-150px, 10px)!important;
}

#chartToggle {}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(50%, 50%);
    justify-items: strecth;
    /* grid-gap: 1em; */
    /* horizontally: start, stretch, end, center */
    align-items: stretch;
    grid-gap: 0.5em;
    padding-bottom: 0.25em;
    /* vertically: start, end, center */
}

.wrapper>div {
    padding: 1em;
    /* box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1); */
}

.wrapper>div:nth-child(odd) {
    padding: 1em;
    /* box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1); */
}

.wrapperOne {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: strecth;
    /* horizontally: start, stretch, end, center */
    align-items: stretch;
    margin-bottom: 1em;
    /* vertically: start, end, center */
}

.wrapperOne>div {
    /*  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1); */
    padding: 1em;
}

.wrapperOne>div:nth-child(odd) {
    padding: 1em;
    /* box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1); */
}

ul {
    text-align: left;
}