<style>
    .btn:focus {
        outline: none!important;
    }
    
    .btn-secondary {
        background-color: rgb(40, 40, 40)!important;
        border: 1px solid rgb(40, 40, 40)!important;
        color: white!important;
    }
    
    .btn-secondary:hover {
        background-color: rgb(80, 80, 80)!important;
        border: 1px solid rgb(40, 40, 40)!important;
    }
    
    .priorityButtons .btn-success {
        background-color: white;
        border: 1px solid #44a878;
        color: #44a878;
    }
    
    .priorityButtons .btn-success.focus {
        border: 1px solid #44a878!important;
        background-color: #44a878!important;
        color: white;
        outline: none!important;
    }
    
    .priorityButtons .btn-success.active {
        color: white;
        background-color: #44a878;
    }
    
    .priorityButtons .btn-warning {
        background-color: white;
        border: 1px solid #f88643;
        color: #f88643;
    }
    
    .priorityButtons .btn-warning.focus {
        border: 1px solid #f88643!important;
        background-color: #f88643!important;
        color: white!important;
        outline: none!important;
    }
    
    .priorityButtons .btn-warning.active {
        color: white;
        background-color: #f88643;
    }
    
    .priorityButtons .btn-danger {
        background-color: white;
        border: 1px solid #ee2156;
        color: #ee2156;
    }
    
    .priorityButtons .btn-danger.focus {
        border: 1px solid #ee2156!important;
        background-color: #ee2156!important;
        color: white;
        outline: none!important;
    }
    
    .priorityButtons .btn-danger.active {
        color: white;
        background-color: #ee2156;
    }
    
    /deep/ .mat-radio-container {
        display: none!important;
    }
    
    /deep/ .mat-radio-label-content {
        padding: 0!important;
    }
    
    .hoverHand:hover {
        cursor: pointer;
    }
    
    #alertTextElement:hover {
        cursor: pointer;
    }
    
    .hoverHand:hover {
        cursor: pointer;
    }
</style>

<style>
    .wrapperAlert {
        display: grid;
        grid-template-columns: 10% 1fr 15%;
        grid-template-rows: 100%;
        grid-gap: 1em;
        justify-items: strecth;
        align-items: center;
        max-height: 100%;
        height: 100%;
    }
</style>

<div class="wrapperAlert">
    <!-- class="col-md-1" style="padding: 0; height:100%; text-align:left; position:relative;" -->
    <div>

        <div style="display:inline-block;  vertical-align:bottom; ">
            <h3 style="padding:0; margin:0; color:rgb(240,240,240);">Alerts</h3>
        </div>

        <div class="fa-lg" style="display:inline-block;">
            <span class="fa-layers fa-fw hoverHand" (click)="modalAdd.open()" style="">
                <i class="far fa-plus-square" style="color:rgb(240,240,240);"></i>
            </span>
        </div>

        <bs-modal #modalAdd cssClass="modal-fifty">
            <bs-modal-header [showDismiss]="false">
                <h1 *ngIf="!isEditingAlert" class="modal-title">Add Alert</h1>
                <h1 *ngIf="isEditingAlert" class="modal-title">Edit Alert</h1>
            </bs-modal-header>

            <bs-modal-body>
                <div class="col-md-12 " style="margin-bottom:10%; ">

                    <form style="height:90%; padding:0; margin:0;" class="form-horizontal">

                        <div class="wrapperDropdowns">

                            <div style="padding:0;">
                                <h2>From:</h2>
                                <div class="col-md-6" style="padding:0; text-align:left;">
                                    <mat-form-field>
                                        <input [(ngModel)]="publishDate" name="publishDate" (dateChange)="dateInput('publishDate', $event.value)" matInput [matDatepicker]="pickerStart" placeholder="Choose Start Date">
                                        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerStart></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div style="padding:0;">
                                <h2>To:</h2>
                                <div class="col-md-6" style="padding:0; text-align:left;">
                                    <mat-form-field>
                                        <input [(ngModel)]="expiryDate" name="expiryDate" (dateChange)="dateInput('expiryDate', $event.value)" matInput [matDatepicker]="pickerEnd" placeholder="Choose End Date">
                                        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerEnd></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>

                        <div class="wrapperField">
                            <div>
                                <h5>Title</h5>
                            </div>
                            <div>
                                <input [(ngModel)]="title" name="title" class="form-control" type="text" value="title" id="example-text-input">
                            </div>
                            <div>
                                <h5>Message</h5>
                            </div>
                            <div>
                                <textarea [(ngModel)]="message" name="message" style="background-color:transparent; color:rgb(80,80,80); border:1px solid rgb(160,160,160);" rows="8" cols="50" type="text" class="form-control"></textarea>
                            </div>
                            <div>
                                <h5>Priority</h5>
                            </div>
                            <div class="priorityButtons">
                                <mat-radio-group class="btn-group" [(ngModel)]="priority" name="prio">

                                    <label class="btn btn-success" [ngClass]="{ 'active': priority == '1'}" style="width:90px;"> 
                                        <mat-radio-button [value]="1">Low</mat-radio-button>
                                    </label>

                                    <label class="btn btn-warning" [ngClass]="{ 'active': priority == '2'}" style="width:90px; margin-left:20px;"> 
                                        <mat-radio-button [value]="2">Medium</mat-radio-button>
                                    </label>

                                    <label class="btn btn-danger" [ngClass]="{ 'active': priority == '3'}" style="width:90px; margin-left:20px;"> 
                                        <mat-radio-button [value]="3">High</mat-radio-button>
                                    </label>

                                </mat-radio-group>
                            </div>

                        </div>

                    </form>

                </div>
            </bs-modal-body>

            <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
                <div class="col-md-12" *ngIf="!isEditingAlert">
                    <button type="submit" class="btn btn-primary" (click)="postAlert(); resetForm(); modalAdd.close();">Submit</button>
                    <button type="button " class="btn btn-secondary" (click)="resetForm(); modalAdd.close();">Cancel</button>
                </div>
                <div class="col-md-12" *ngIf="isEditingAlert">
                    <button type="submit" class="btn btn-danger" (click)="removeAlert(); isEditingAlert=false; resetForm(); modalAdd.close(); ">Delete</button>
                    <button type="submit" class="btn btn-primary" (click)="postAlertChange(); isEditingAlert=false; resetForm(); modalAdd.close(); ">Submit</button>
                    <button type="button" class="btn btn-secondary" (click)="isEditingAlert=false; resetForm(); modalAdd.close(); ">Cancel</button>
                </div>
            </bs-modal-footer>

        </bs-modal>

        <div class="fa-lg" style="display:inline-block;">
            <span class="fa-layers fa-fw hoverHand" (click)="modalInfo.open()" style="">
              <i class="fas fa-info-circle"  style="color:rgb(240,240,240);"></i>
            </span>
        </div>

        <bs-modal #modalInfo cssClass="modal-seventy">
            <bs-modal-header [showDismiss]="false ">
                <h1 class="modal-title">Alerts</h1>
            </bs-modal-header>
            <bs-modal-body>
                <div class="col-md-12 " style="margin-bottom:10%; ">

                    <h2>Synopsis:</h2>
                    <p style="color:black; ">
                        This function can be seen as a notice-board and the purpose is to inform and high-light any news and these will be presented within the Flex Community. It is possible to write message/s in advance (Publish Date and Time) and decide when the message will
                        be dropped (Expiry Date and Time*).
                        <br><br> For details of the message, please hit the Title and the whole message will be presented. A rolling presentation of all published messages are offered and the time-window is set to 10 seconds. All alerts will be logged
                        and saved, so You are able to read expired messages.
                        <br><br> All messages do have an Information Owner* (resposible for the actual information), but also all messages do have a Publisher* (responsible for the actual creation and launch of the message).
                        <br><br>
                    </p>

                    <h2 style="color:black; ">
                        Please Note:
                    </h2>


                    <p style="color:black; ">
                        Use the Priority-button to steer the colour-setting (Green, Yellow or Red ) to signal the importance/ impact of the message.
                    </p>

                </div>
            </bs-modal-body>
            <bs-modal-footer style="position:absolute;bottom:0;width:100%; ">
                <div class="col-md-9" style="text-align:left;">
                    <p style="color:black; display:inline-block; margin-bottom:0;"><span style="font-weight:bold;">*</span> - Planned to be developed, but not yet implemented</p>
                </div>

                <div class="col-md-3">
                    <button type="button" class="btn btn-close" (click)="modalInfo.close(); isEditingAlert=false; ">Close</button>
                </div>

            </bs-modal-footer>
        </bs-modal>
    </div>





    <div>

        <div id="alertTextElement" *ngIf="activeAlert?.message " style="margin:0;color:white; padding:0;">
            <!--
            <i (click)="isEditingAlert=true; logActive(); setAlertToActive(); modalAdd.open()" class="fa fa-pencil-square-o hoverHand" aria-hidden="true" style="color:white;"></i> -->

            <div class="fa-lg" style="display:inline-block; ">
                <span class="fa-layers fa-fw hoverHand" (click)="isEditingAlert=true; logActive(); setAlertToActive(); modalAdd.open()" style="">
                    <i class="far fa-edit"></i>
                </span>
            </div>

            <div class="fa-lg" [ngClass]="'priority' + activeAlert.priority" style="display:inline-block;">
                <span class="fa-layers fa-fw">
                    <i  class="fas fa-exclamation-triangle"></i>
                </span>
            </div>


            <div style="display: inline-block; vertical-align:bottom; ">
                <h4 style="margin:0;" class="hoverHand" (click)="isEditingAlert=true; modalInformation.open();">{{activeAlert.title | textLength: 100}}</h4>
            </div>

            <!-- 
                'short': equivalent to 'M/d/yy, h:mm a' (e.g. 6/15/15, 9:03 AM)
                'medium': equivalent to 'MMM d, y, h:mm:ss a' (e.g. Jun 15, 2015, 9:03:01 AM)
                'long': equivalent to 'MMMM d, y, h:mm:ss a z' (e.g. June 15, 2015 at 9:03:01 AM GMT+1)
                'full': equivalent to 'EEEE, MMMM d, y, h:mm:ss a zzzz' (e.g. Monday, June 15, 2015 at 9:03:01 AM GMT+01:00)
                'shortDate': equivalent to 'M/d/yy' (e.g. 6/15/15)
                'mediumDate': equivalent to 'MMM d, y' (e.g. Jun 15, 2015)
                'longDate': equivalent to 'MMMM d, y' (e.g. June 15, 2015)
                'fullDate': equivalent to 'EEEE, MMMM d, y' (e.g. Monday, June 15, 2015)
                'shortTime': equivalent to 'h:mm a' (e.g. 9:03 AM)
                'mediumTime': equivalent to 'h:mm:ss a' (e.g. 9:03:01 AM)
                'longTime': equivalent to 'h:mm:ss a z' (e.g. 9:03:01 AM GMT+1)
                'fullTime': equivalent to 'h:mm:ss a zzzz' (e.g. 9:03:01 AM GMT+01:00)
            -->

            <bs-modal #modalInformation cssClass="modal-fifty">

                <bs-modal-header [showDismiss]="false">
                    <h1 class="modal-title ">Alert</h1>
                </bs-modal-header>

                <bs-modal-body>
                    <div class="col-md-12" style="text-align:left;margin-bottom:10%;">

                        <div class="wrapperField" style="margin-bottom:5rem;">
                            <div>
                                <h2>Title</h2>
                                <p>
                                    {{activeAlert.title}}
                                </p>
                            </div>
                            <div>
                                <h2>Message</h2>
                                <p>
                                    {{activeAlert.message}}
                                </p>
                            </div>
                        </div>

                    </div>
                </bs-modal-body>

                <bs-modal-footer style="position:absolute;bottom:0;width:100%; ">
                    <div class="col-md-12 ">
                        <button type="button" class="btn btn-close" (click)="modalInformation.close(); isEditingAlert=false; ">Close</button>
                    </div>
                </bs-modal-footer>

            </bs-modal>
        </div>

    </div>

    <div>
        <div id="alertTextExpiry" *ngIf="activeAlert?.message" style="margin:0;color:white; padding:0; vertical-align:bottom;">
            <h4 style="float: right; margin:0;">Expiry Date: {{activeAlert.expiryDate | dateFormatter: 'date'}}</h4>
        </div>
    </div>
</div>