.example-events {
    width: 400px;
    height: 200px;
    border: 1px solid #555;
    overflow: auto;
}

.md-datepicker-calendar-pane {
    z-index: 1200
}

.mat-datepicker-popup {
    z-index: 1200
}

::ng-deep .cdk-overlay-container {
    z-index: 1200 !important;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 1em;
    justify-items: strecth;
    /* horizontally: start, stretch, end, center */
    align-items: stretch;
    margin-bottom: 1em;
    /* vertically: start, end, center */
}

.wrapperDropdowns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 1em;
    justify-items: strecth;
    /* horizontally: start, stretch, end, center */
    align-items: stretch;
    margin-bottom: 1em;
    /* vertically: start, end, center */
}

.wrapperField {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 1em;
    justify-items: strecth;
    /* horizontally: start, stretch, end, center */
    align-items: stretch;
    margin-bottom: 1em;
    /* vertically: start, end, center */
}

.wrapper>div {
    padding: 1em;
}

.wrapper>div:nth-child(odd) {
    padding: 1em;
}

.wrapperOne {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: strecth;
    /* horizontally: start, stretch, end, center */
    align-items: stretch;
    margin-bottom: 1em;
    /* vertically: start, end, center */
}

.wrapperOne>div {
    padding: 1em;
}

.wrapperOne>div:nth-child(odd) {
    padding: 1em;
}

ul {
    text-align: left;
}

.priority1 {
    color: green;
}

.priority2 {
    color: yellow;
}

.priority3 {
    color: red;
}