<style>
    .chartToggle {
        display: inline-block;
        font-size: 2rem;
        vertical-align: top;
    }
</style>


<div class="col-md-6" style="height:100%; border-left:1px solid rgba(40,40,40, 0.15);  padding:0.5em;" [hidden]="">

    <div class="col-md-12" style="height:15%;">
        <h2 style="margin:0; text-align:center;">Value Items</h2>
    </div>

    <div class="col-md-12" style="height:40%; padding:0; margin-bottom:0%;">

        <ngx-charts-gauge [view]="" [scheme]="colorScheme" [results]="data" [legend]="false" [min]="0" [max]="gaugeMaxVal" [angleSpan]="240" [startAngle]="-120" [units]="" [bigSegments]="2" [smallSegments]="2" [showAxis]="false" (select)="onSelect($event)">

            <ng-template #tooltipTemplate let-model="model">

                <h4 style="color:white; text-align:center; margin:0;">{{ model.name }}</h4>
                <h5 style="color:white; text-align:center;">{{ model.value }}%</h5>

            </ng-template>

        </ngx-charts-gauge>

    </div>

    <div class="col-md-12" style="height:10%; text-align:left;padding:0;">

        <div *ngIf="activeChartIsPuls" (click)="activeChartIsPuls = !activeChartIsPuls; updateChart('releases')">
            <i class="fas fa-toggle-on chartToggle"></i>
            <h4 style="display:inline-block; padding:0;margin:0; padding-left:1%;">Puls-Boards</h4>
        </div>

        <div *ngIf="!activeChartIsPuls" (click)="activeChartIsPuls = !activeChartIsPuls; updateChart('pulses')">
            <i class="fas fa-toggle-off chartToggle"></i>
            <h4 style="display:inline-block; padding:0;margin:0; padding-left:1%;">Releases</h4>
        </div>

    </div>

    <div class="col-md-12" style="height:30%; padding:0;">

        <div class="wrapper">
            <div *ngFor="let currentGauge of currentGaugeData; let i = index;" style="border-left: 4px solid; padding:0; " [ngStyle]="{'border-color': colorScheme.domain[i]}">
                <h4 style="margin-bottom:0; text-align:center; font-weight:bold;">{{currentGauge.epics}} of {{currentGauge.total}}</h4>
                <h4 *ngIf="!(currentGauge.name == 'MACCloud')" style="margin-bottom:0; text-align:center;">{{currentGauge.name}}</h4>
                <h4 *ngIf="currentGauge.name == 'MACCloud'" style="margin-bottom:0; text-align:center;">Cloud</h4>
            </div>
        </div>
        <!--
        <div class="wrapper">
            <div *ngFor="let currentGauge of currentGaugeData | evenodd:'even'; let i = index;" style="border-left: 4px solid; padding:0; " [ngStyle]="{'border-color': colorScheme.domain[i + 2]}">
                <p style="margin-bottom:0; text-align:center; font-weight:bold;">{{currentGauge.epics}} of {{currentGauge.total}}</p>
                <p style="margin-bottom:0; text-align:center;">{{currentGauge.name}}</p>
            </div>
        </div> 
        -->


        <!--
            <div *ngFor="let gaugeData of data" style="padding:0; border-left: 4px solid transparent;">
                <p style="margin-bottom:0; text-align:center; font-weight:bold;">{{gaugeData.value | number:'1.0-0'}}%</p>
            </div>
        -->



    </div>

</div>