
.fa-arrow-alt-circle-down {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
}

.fa-arrow-alt-circle-down.collapsed {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.treeInfoWrapper {
    display: grid!important;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 2em;
    justify-items: strecth;
    align-items: stretch;
}

.treeInfoWrapper>div {
    padding: 1rem;
}

.htmlTooltip[disabled] {
    pointer-events: none;
}

label {
    font-size: 1.5rem;
}

.tooltipForest {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    z-index: 200!important;
    opacity: 1!important;
    border: none!important;
    /* border-bottom: 1px dotted black; */
}

.tooltipForest .tooltiptextForest {
    visibility: hidden;
    position: absolute;
    width: 300px;
    color: #FFFFFF;
    background: #000000;
    /* height: 30px; */
    /* line-height: 30px; */
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    z-index: 1;
    margin-left: -150px;
}

.tooltipForest .tooltiptextForest::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    /* margin-left: -8px; */
    width: 0;
    height: 0;
    border-bottom: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    z-index: 200!important;
}

.tooltipForest:hover .tooltiptextForest {
    visibility: visible;
    opacity: 0.8;
    bottom: 30px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
}
