<style>
    .popp label {
        font-size:1.4rem; 
        font-weight:200;
    }
    .popp label.formatted {
        white-space:pre-line; 
    }
    .issuelinks label{
        display:block;
    }

    .popp h1 {
        font-weight:600;
    }

    [class^='treeLevel'] img {
        width: 1.6rem; 
        height:1.6rem;
    }

    a {
        text-decoration:none;
        color:inherit
    }        
</style>


<div *ngFor="let item of tree; let i = index;" class="holder">

    <div [ngClass]="'treeLevel' + item.levelId" style="display:block;">


        <!--///////////////////////////// FOLDER //////////////////////////////////////-->
        <div *ngIf="!item.sort" class="fa-2x" style="display:inline-block; display: flex; justify-content:center; align-content:center; flex-direction:column;">
            <span class="fa-layers fa-fw hoverHand">
                <i class="far fa-folder-open"></i>
            </span>
        </div>

        <!--///////////////////////////// ISSUE //////////////////////////////////////-->
        <div *ngIf="item.fields?.issuetype" style="display:inline-block;  display: flex; justify-content:center; align-content:center; flex-direction:column;">

            <!--///////////////////////////// Project Icon m popover-hover //////////////////////////////////////-->
            <ng-template #projectTooltip>
                <div style="padding:1rem; display:block; background:black; color:white;">
                    <label style="font-size:1.8rem; ">Project</label>
                </div>
                <div style="padding:1rem; display:block; background:white; color:black;">
                    <label style="white-space: nowrap;">
                        {{item.fields.project.key}} - {{item.fields.project.name}}
                    </label>
                </div>
            </ng-template>
            <div style="display:block;">
                <img *ngIf="item.fields?.project.key" border="0" [ngbPopover]="projectTooltip" triggers="mouseenter:mouseleave" placement="right" [src]="item.fields.project.avatarUrls['48x48']">
            </div>

        </div>


        <div style="display:block;">
            <div style="display:table; width:100%;">
       
                <h1 *ngIf="item.sort" style="pointer-events:none; display:table-cell; vertical-align:top; padding:0.1rem;">{{item.sort}}</h1>
  
                <div style="display: flex; justify-content:flex-end; align-content:center; flex-direction:row;">

                    <ng-template #jiraTooltip>
                        <div style="padding:1rem; display:block; background:black; color:white;">
                            <label style="font-size:1.8rem; ">Jira-Link</label>
                        </div>
                        <div style="padding:1rem; display:block; background:white; color:black;">
                            <label>Click to Go to Jira</label>
                        </div>
                    </ng-template>
                    <div *ngIf="item.sort" [ngbPopover]="jiraTooltip" triggers="mouseenter:mouseleave" placement="top" style="font-size:1.6rem; display:inline-block; display: flex; justify-content:center; align-content:center; flex-direction:column;">
                        <a href="https://jira.scania.com/browse/{{item.sort}}" target="_blank">
                            <span class="fa-layers fa-fw hoverHand">
                                <i class="fas fa-external-link-square-alt"></i> <!-- class="fa-2x"  -->
                            </span>
                        </a>
                    </div>

                    <!--///////////////////////////// Priorirt Icon med hover //////////////////////////////////////-->
                    <ng-template #priorityTooltip>
                        <div style="padding:1rem; display:block; background:black; color:white;">
                            <label style="font-size:1.8rem; ">Priority</label>
                        </div>
                        <div style="padding:1rem; display:block; background:white; color:black;">
                            <label>{{item.fields.priority.name}}</label>
                        </div>
                    </ng-template>
                    <div style="font-size:1.6rem; display:inline-block; display: flex; justify-content:center; align-content:center; flex-direction:column;">
                        <img *ngIf="item.fields?.priority" border="0" [ngbPopover]="priorityTooltip" triggers="mouseenter:mouseleave" placement="top" [src]="item.fields.priority.iconUrl" style="margin: 0 0.2rem 0 0.2rem;">
                    </div>




                    <!--///////////////////////////// User information med click //////////////////////////////////////-->
                    <ng-template #userContent>
                        <div class="popp" style="display:block; background-color:white; overflow-y:scroll; width:600px; max-height:500px;">
                            <div class="treeInfoWrapper">
                                <!--////////////////////////// ASSIGNEE ///////////////////////////////-->
                                <div style="background:black; color:white; display:block;">
                                    <label style="font-size:1.8rem; ">User-Related Stuff</label>
                                </div>

                                <div class="containerTwoFr">

                                    <div *ngIf="item.fields.creator" style="display:block;">
                                        <h1>Creator</h1>
                                        <label>{{item.fields.creator.displayName}}</label>
                                        <div style="font-size:1.6rem;display:block;">
                                            <a href="mailto:{{item.fields.creator.emailAddress}}">
                                                <span class="fa-layers fa-fw hoverHand" style="vertical-align:top;">
                                                <i class="far fa-envelope" style="margin-left:0;"></i>
                                            </span>
                                            </a>
                                        </div>
                                    </div>

                                    <div *ngIf="item.fields.reporter" style="display:block;">
                                        <h1>Reporter</h1>
                                        <label>{{item.fields.reporter.displayName}}</label>

                                        <div style="font-size:1.6rem;display:block;">
                                            <a href="mailto:{{item.fields.reporter.emailAddress}}">
                                                <span class="fa-layers fa-fw hoverHand" style="vertical-align:top;">
                                                <i class="far fa-envelope" style="margin-left:0;"></i>
                                            </span>
                                            </a>
                                        </div>
                                    </div>

                                    <div *ngIf="item.fields.assignee" style="display:block;">
                                        <h1>Assignee</h1>
                                        <label>{{item.fields.assignee.displayName}}</label>

                                        <div style="font-size:1.6rem;display:block;">
                                            <a href="mailto:{{item.fields.assignee.emailAddress}}">
                                                <span class="fa-layers fa-fw hoverHand" style="vertical-align:top;">
                                                <i class="far fa-envelope" style="margin-left:0;"></i>
                                            </span>
                                            </a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </ng-template>
                    <div *ngIf="item.sort" [ngbPopover]="userContent"    placement="right" style="font-size:1.6rem; display:inline-block; display: flex; justify-content:center; align-content:center; flex-direction:column;">
                        <span class="fa-layers fa-fw hoverHand">
                            <i class="fas fa-user"></i> <!-- class="fa-2x"  -->
                        </span>
                    </div>


                    <!--///////////////////////////// Date Icon med click //////////////////////////////////////-->
                    <ng-template #dateContent>
                        <div class="popp" style="display:block; background-color:white; overflow-y:scroll; width:600px; max-height:500px;">
                            <div class="treeInfoWrapper">

                                <div style="background:black; color:white; display:block;">
                                    <label style="font-size:1.8rem; ">Date & Time-Related Stuff</label>
                                </div>


                                <div class="containerTwoFr">
                                    <!--////////////////////////// Created ///////////////////////////////-->
                                    <div *ngIf="item.fields.created" style="display:block;">
                                        <h1>Created</h1>
                                        <label>{{item.fields.created | date: 'd/M/y'}}</label>
                                    </div>

                                    <!--////////////////////////// Updated ///////////////////////////////-->
                                    <div style="display:block;">
                                        <h1>Updated</h1>
                                        <label>{{item.fields.updated | date: 'd/M/y'}}</label>
                                    </div>

                                    <!--////////////////////////// Last Viewed ///////////////////////////////-->
                                    <div style="display:block;">
                                        <h1>Last Viewed</h1>
                                        <label>{{item.fields.lastViewed | date: 'd/M/y'}}</label>
                                    </div>

                                    <!--////////////////////////// TIME ESTIMATES ///////////////////////////////-->
                                    <div style="display:block;">
                                        <h1>Time Estimates</h1>
                                        <label style="display:block;">Current Estimate: {{item.fields.timeestimate}}</label>
                                        <label style="display:block;">Original Estimate: 
                                            <span *ngIf="item.fields.timeoriginalestimate">{{item.fields.timeoriginalestimate}}</span>
                                            <span *ngIf="!item.fields.timeoriginalestimate">Not Used</span>
                                        </label>
                                    </div>
                                    <!--////////////////////////// TIME Spent ///////////////////////////////-->
                                    <div style="display:block;">
                                        <h1>Time Spent</h1>
                                        <label>
                                            <span *ngIf="!item.fields.timespent">{{item.fields.timespent}}</span>
                                                <span *ngIf="!item.fields.timespent">Not Used</span>
                                        </label>
                                    </div>

                                    <!--////////////////////////// Resolution ///////////////////////////////-->
                                    <div style="display:block;">
                                        <h1>Resolved at</h1>
                                        <label *ngIf="!item.fields.resolution">Not Resolved Yet</label>
                                        <label *ngIf="item.fields.resolution">{{item.fields.resolutiondate | date: 'd/M/y'}}</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <div *ngIf="item.sort" [ngbPopover]="dateContent"   placement="right" style="font-size:1.6rem; display:inline-block; display: flex; justify-content:center; align-content:center; flex-direction:column;">
                        <span class="fa-layers fa-fw hoverHand">
                            <i class="fas fa-calendar-alt"></i>
                        </span>
                    </div>

                    <!--///////////////////////////// Eye/More Icon med hover //////////////////////////////////////-->
                    <ng-template #moreContent>
                        <div class="popp" style="display:block; background-color:white; overflow-y:scroll; width:600px; max-height:500px;">
                            <div class="treeInfoWrapper">

                                <div style="background:black; color:white; display:block;">
                                    <label style="font-size:1.8rem; display:block;">{{item.sort}}<span style="font-size:1.4rem;"> - {{item.name}}</span></label>
                                </div>


                            <div class="containerOneFr">

                                <!-- ////////////////////// Description /////////////////////////-->
                                <div *ngIf="item.fields.description" style="display:block;">
                                    <h1>Description</h1>
                                    <label class="formatted">{{item.fields.description | textLength:600}}</label>
                                </div>

                                <!-- ////////////////////// Fix Versions /////////////////////////-->
                                <div *ngIf="item.fields.fixVersions.length > 0" style="display:block; " class="containerOneFr">
                                    <h1>Fix Versions</h1>
                                    <div *ngFor="let fixversion of item.fields.fixVersions" style="display:block;">
                                        <label *ngIf="fixversion.name">{{fixversion.name}}</label>
                                        <br>
                                        <label >Released:
                                            <span *ngIf="fixversion.released">Yes</span>
                                            <span *ngIf="fixversion.releaseDate"> - {{fixversion.releaseDate | date: 'd/M/y'}}</span>
                                            <span *ngIf="!fixversion.released">No</span>
                                        </label>
                                        <br>
                                        <label >Archived:
                                            <span *ngIf="fixversion.archived">Yes</span>
                                            <span *ngIf="!fixversion.archived">No</span>
                                        </label>
                                    </div>
                                </div>

                                <!-- ////////////////////// Labels /////////////////////////-->
                                <div class="containerTwoFr">
                                    <div *ngIf="item.fields.labels.length > 0"style="display:block;">
                                        <h1>Labels:</h1>
                                        <div *ngFor="let label of item.fields.labels" style="display:block;">
                                            <label>{{label}}</label>
                                        </div>
                                    </div>
    
                                    <!-- ////////////////////// Components /////////////////////////-->
                                    <div *ngIf="item.fields.components.length > 0" style="display:block;">
                                        <h1>Components:</h1>
                                        <div *ngFor="let component of item.fields.components" style="display:block;">
                                            <label *ngIf="component.name">{{component.name}}<span *ngIf="component.description"> - ({{component.description}})</span></label>
                                        </div>
                                    </div>
                                </div>
                                
                
                                <!-- ////////////////////// IssueLinks /////////////////////////-->
                                <div *ngIf="item.fields.issuelinks.length > 0" style="display:block;">
                                    <h1>Related To</h1>
                                    <div *ngFor="let issuelink of item.fields.issuelinks" class="issuelinks" style="display:block;">
                          
                                        <div *ngIf="issuelink.inwardIssue" style="display:block; padding-bottom:1rem;">
                                            <label>{{issuelink.type.inward}} - {{issuelink.inwardIssue.key}}: {{issuelink.inwardIssue.fields.summary}}</label>
                                            <div class="flex-container-left">

                                                <ng-template #inwardTypeTooltip>
                                                    <div style="padding:1rem; display:block; background:black; color:white; text-align:center;">
                                                        <label style="font-size:1.8rem; ">Type</label>
                                                    </div>
                                                    <div style="padding:1rem; display:block; background:white; color:black;">
                                                        <label>{{issuelink.inwardIssue.fields.issuetype.name}}</label>
                                                    </div>
                                                </ng-template>
                                                <img [ngbPopover]="inwardTypeTooltip" triggers="mouseenter:mouseleave" placement="top" src="{{issuelink.inwardIssue.fields.issuetype.iconUrl}}" alt="">

                                                <ng-template #inwardPriorityTooltip>
                                                        <div style="padding:1rem; display:block; background:black; color:white; text-align:center;">
                                                            <label style="font-size:1.8rem; ">Priority</label>
                                                        </div>
                                                        <div style="padding:1rem; display:block; background:white; color:black;">
                                                            <label>{{issuelink.inwardIssue.fields.priority.name}}</label>
                                                        </div>
                                                    </ng-template>
                                                <img [ngbPopover]="inwardPriorityTooltip" triggers="mouseenter:mouseleave" placement="top" 
                                                src="{{issuelink.inwardIssue.fields.priority.iconUrl}}" alt="" style="margin-left:0.5rem;">

                                                <h5 style="padding: .1rem .4rem .1rem .4rem; font-size:1.4rem;display:inline-block; margin-left:0.5rem;" [ngClass]="issuelink.inwardIssue.fields.status.name">
                                                    {{issuelink.inwardIssue.fields.status.name}}
                                                </h5>
                                            </div>
                                        </div>

                                        <div *ngIf="issuelink.outwardIssue" style="display:block; padding-bottom:1rem;">
                                            <label>{{issuelink.type.outward}} - {{issuelink.outwardIssue.key}}: {{issuelink.outwardIssue.fields.summary}}</label>
                                            <div class="flex-container-left">

                                                <ng-template #outwardTypeTooltip>
                                                    <div style="padding:1rem; display:block; background:black; color:white; text-align:center;">
                                                        <label style="font-size:1.8rem; ">Type</label>
                                                    </div>
                                                    <div style="padding:1rem; display:block; background:white; color:black;">
                                                        <label>{{issuelink.outwardIssue.fields.issuetype.name}}</label>
                                                    </div>
                                                </ng-template>
                                                <img [ngbPopover]="outwardTypeTooltip" triggers="mouseenter:mouseleave" placement="top" src="{{issuelink.outwardIssue.fields.issuetype.iconUrl}}" alt="">
    
                                                <ng-template #outwardPriorityTooltip>
                                                    <div style="padding:1rem; display:block; background:black; color:white; text-align:center;">
                                                        <label style="font-size:1.8rem; ">Priority</label>
                                                    </div>
                                                    <div style="padding:1rem; display:block; background:white; color:black;">
                                                        <label>{{issuelink.outwardIssue.fields.priority.name}}</label>
                                                    </div>
                                                </ng-template>
                                                <img [ngbPopover]="outwardPriorityTooltip" triggers="mouseenter:mouseleave" placement="top" 
                                                src="{{issuelink.outwardIssue.fields.priority.iconUrl}}" alt="" style="margin-left:0.5rem;">

                                                <h5 style="padding: .1rem .4rem .1rem .4rem; font-size:1.4rem;display:inline-block;margin-left:0.5rem;" [ngClass]="issuelink.outwardIssue.fields.status.name">{{issuelink.outwardIssue.fields.status.name}}</h5>
                                                
                                            </div>
                                  
                                        </div>
                
                                    </div>
                                </div>

                            </div>

                            </div>
                        </div>
                    </ng-template>

                    <div *ngIf="item.sort" [ngbPopover]="moreContent"   placement="right" style="font-size:1.6rem; display:inline-block; display: flex; justify-content:center; align-content:center; flex-direction:column;">
                        <span class="fa-layers fa-fw hoverHand">
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>


                    <!--///////////////////////////// Status Icon med hover //////////////////////////////////////-->
                    <ng-template #statusTooltip>
                        <div style="padding:1rem; display:block; background:black; color:white;">
                            <label style="font-size:1.8rem; ">Status</label>
                        </div>
                        <div style="padding:1rem; display:block; background:white; color:black;">
                            <label>
                                {{item.fields.status.name}}
                            </label>
                        </div>
                    </ng-template>
                    <div *ngIf="item.fields?.status" style="display:block;">
                        <h5 [ngClass]="item.fields.status.name" [ngbPopover]="statusTooltip"   triggers="mouseenter:mouseleave" placement="top" style="text-align:center; float:right; display:inline-block; padding: 0.1rem 0.4rem 0.1rem 0.4rem; margin: 0 0.2rem 0 0.2rem;">{{item.fields.status.name}}</h5>
                    </div>

                </div>
            </div>

            <h5 *ngIf="!item.sort">{{item.name}}</h5>

        </div>


        <div *ngIf="item.fields?.issuetype" style="display:inline-block;  display: flex; justify-content:top; align-content:center; flex-direction:column;">
            <ng-template #tooltipContent>
                <div style="padding:1rem; display:block;background:black; color:white;">
                    <label style="font-size:1.8rem; ">{{item.fields.issuetype.name}}</label>
                </div>
                <div style="padding:1rem; display:block;background:white; color:black;">
                    <label>{{item.fields.issuetype.description}}</label>
                </div>
            </ng-template>
            <img border="0" [ngbPopover]="tooltipContent"   triggers="mouseenter:mouseleave" placement="right" src="{{item.fields.issuetype.iconUrl}}">
        </div>


        <div *ngIf="item.sort" style="display:block;">
            <!--///////////////////////////// Title //////////////////////////////////////-->
            <h5 style="font-size:1.5rem;">{{item.name}}</h5>

        </div>

    </div>

    <app-forest-item class="accordionChild" *ngIf="item.children.length > 0" [tree]="item.children"></app-forest-item>

</div>
















<!-- <ng-template #popContent>
            <div *ngIf="item.children.length == 0 && item.sort" style="display:block; background-color:white; overflow-y:scroll; width:600px; max-height:500px;">
                <div class="treeInfoWrapper">
          
                    <div style="background:black; color:white;">
                        <label style="font-size:1.8rem; "><span *ngIf="item.sort">{{item.sort}} - </span>{{item.name}}</label>
                    </div>
                    <div *ngIf="item.fields.assignee" style="display:block;">
                        <label>
                            Assignee:<br> {{item.fields.assignee.displayName}} <br>
                            {{item.fields.assignee.emailAddress}}
                        </label>
                        <img [src]="item.fields.creator.avatarUrls['48x48']" alt="" style="width: 2rem; height:2rem;">
                    </div>


          
                    <div *ngIf="item.fields.components > 0" style="display:block;">
                        <label>Components:</label>
                        <label *ngFor="let component of item.fields.components">
                            <span><br>{{component.name}}</span>
                        </label>
                    </div>


        
                    <div *ngIf="item.fields.created" style="display:block;">
                        <label>
                            Created:<br> {{item.fields.created | date: 'd/M/y'}}
                        </label>
                    </div>


      
                    <div *ngIf="item.fields.description" style="display:block;">
                        <label>
                            Descritopn:<br> {{item.fields.description | textLength: 50 }}
                        </label>
                    </div>



                    <div *ngIf="item.fields.creator" style="display:block;">
                        <label>
                            Creator:<br> 
                            {{item.fields.creator.displayName}}<br>
                            {{item.fields.creator.emailAddress}}
                        </label>
                        <img [src]="item.fields.creator.avatarUrls['48x48']" alt="" style="width: 2rem; height:2rem;">
                    </div>



                  
                    <div *ngIf="item.fields.progress" style="display:block;">
                        <label>
                            Progress:<br>  {{item.fields.progress.progress}} of {{item.fields.progress.total}}
                        </label>
                    </div>



                 
                    <div *ngIf="item.fields.reporter" style="display:block;">
                        <label>
                            Reporter:<br>  {{item.fields.reporter.displayName}} <br> {{item.fields.reporter.emailAddress}}
                        </label>
                        <img [src]="item.fields.reporter.avatarUrls['48x48']" alt="" style="width: 2rem; height:2rem;">
                    </div>


    
                    <div *ngIf="item.fields.resolution" style="display:block;">
                        <label>
                            Resolution:<br>  {{item.fields.resolution.description}} <br> {{item.fields.resolution.name}}
                        </label>
                    </div>



               
                    <div style="display:block;">
                        <label>
                            Time:<br>  
                            Time estimate: {{item.fields.timeestimate}}<br> 
                            Original time estimate: {{item.fields.timeestimate}}<br> 
                            Time spent: {{item.fields.status.timespent}}
                        </label>
                    </div>

                 
                    <label *ngIf="item.fields.fixVersions.length > 0">Fix Versions:</label>
                    <div *ngFor="let fixVersion of item.fields.fixVersions">
                        <label>Name: {{fixVersion.name}}</label>

                         <div *ngIf="fixVersion.released" class="fa-2x" style="display:inline-block;">
                            <span class="fa-layers fa-fw hoverHand" (mouseenter)="toggleToolTip(fixVersion.name, fixVersion.releaseDate + ': ' + fixVersion.description)" class="htmlTooltip"> 
                                <i class="far fa-calendar-check"></i>
                            </span>
                        </div>
                        <div *ngIf="!fixVersion.released" style="display:inline-block;">

                            <span class="fa-layers fa-fw hoverHand" (mouseenter)="toggleToolTip(fixVersion.name, 'Not Released Yet')" class="htmlTooltip" class="fa-2x">
                                <i class="far fa-calendar-minus"></i>
                            </span>
                        </div> 
                    </div>

               
                    <div *ngIf="item.fields.issuetype" style="display:block;">
                        <label>
                                Issue Type: <br> {{item.fields.issuetype.name}}
                            </label>
                        <img (mouseenter)="toggleToolTip(item.fields.issuetype.name, item.fields.issuetype.description)" class="htmlTooltip" src="{{item.fields.issuetype.iconUrl}}" alt="" style="width: 2em; height:2em;">

                    </div>
                </div>
            </div>
        </ng-template>
        <div class="fa-2x" [ngbPopover]="popContent" placement="right" style="display:inline-block; display: flex; justify-content:center; align-content:center; flex-direction:column;">
            <span class="fa-layers fa-fw hoverHand">
                <i class="fas fa-question-circle"></i>
            </span>
        </div> -->









<!--///////////////////////////// Jira Icon med hover //////////////////////////////////////-->
<!--  <ng-template #jiraToolTip>
                        <div style="padding:1rem; display:block; background:black; color:white; ">
                            <label style="font-size:1.8rem; ">Jira</label>
                        </div>
                        <div style="padding:1rem; display:block; background:white; color:black;">
                            <label>Click to go to the Jira-page for this issue.</label>
                        </div>
                    </ng-template>
                    <a *ngIf="item.sort" [ngbPopover]="jiraToolTip" triggers="mouseenter:mouseleave" placement="top" href="https://jira.scania.com/browse/{{item.sort}}" target="_blank" style="display:table-cell; vertical-align:top; margin: 0 0.2rem 0 0.2rem;">
                        <img border="0" class="jiraIcon" style="width: 2rem; height: 2rem;">
                    </a> -->