<div class="row" style="height:10%;">
    <div class="col-md-12">
        <h5 style="color:rgb(80,80,80); display:inline-block; width:80%; text-align:left; height:50%; transform:translateY(50%); margin:0;padding:0;">Title X</h5>
        <h5 style="color:rgb(80,80,80); display:inline-block; width:18%; text-align:right; height:50%; transform:translateY(50%); margin:0;padding:0;">...</h5>
    </div>
</div>
<div class="row" style="height:90%;">

</div>