<!-- <ul style="height: 100%; overflow:scroll;">
    <ng-template ngFor let-tree let-i="index" let-c="count" [ngForOf]="forest" [ngForTrackBy]="trackById">
        <li>
            Index: {{ i }} Count: {{ c }}
            <app-forest-item [tree]="tree.children"></app-forest-item>
        </li>
    </ng-template>
</ul>
 -->


<style>
    .forestHolder {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    .forestHolder ul {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    .forestHolder ul:first-child {
        /* height: 100%; 
        overflow:scroll; */
    }
    
    .hoverHand:hover {
        cursor: pointer;
    }
    
    .my-tooltip {
        display: none;
    }
    
    .my-tooltip-active {
        display: block;
    }
</style>




<!--     <aside> -->
        <div class="col-md-12" style="height:10%; padding:0; background:#333;">
                <div class="col-md-5" style="text-align:left; height:100%; padding-right:0;">
                    <h2 style="color:rgb(220,220,220); display:inline-block; text-align:left; height:50%; transform:translateY(50%);margin:0;padding:0;">Portfolio</h2>
                </div>
                <div class="col-md-5" style="text-align:center; height:100%; padding:0;">
                    <h5 *ngIf="jiraPulsRequestTime" style="color:rgb(80,80,80); display:inline-block; text-align:left; height:50%; transform:translateY(50%);margin:0;padding:0;">
                        <!-- height:50%; transform:translateY(50%); -->
                       
                    </h5>
                </div>
            
                <div class="col-md-2" style="text-align:right; height:100%;">
            
                    <div class="fa-lg" style="display:inline-block; height:50%; transform:translateY(50%); color:rgb(220,220,220)">
                        <span class="fa-layers fa-fw hoverHand" (click)="modal.open()" >
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </div>
            
            
            
                    <bs-modal #modal cssClass="modal-seventy" class="pulsesModal">
                        <bs-modal-header [showDismiss]="false">
                            <h1 class="modal-title">Portfolio</h1>
                        </bs-modal-header>
                        <bs-modal-body>
                            <div class="col-md-12" style="text-align:left;margin-bottom:10%;">
                                <h2>Synopsis</h2>
                                <p>
                                    This function has been developed due to a need to see Flex´s ALL planned and on-going activities as from the very highest level of need in the form of prioritized Value Items devided,
                                    in the areas of Business and IT, down to specific CRs/ TRs within the applications MAC, MACCloud, MEM and MPP.<br>
                                    To facilitate the End User a Drill Down (a possibility to see the commitment from a helicopter-view down to the actual details witin a specific CR/ TR) approach has been developed, 
                                    this will support the End User with a clear and easy to use Graphical User interface (GUI).
                                </p>

                                <h2>NB:</h2>
                                <p>Functionality Dashboard Value Item has been developed for presenting Value Items with a Flex focus, all un-necessary functions within JIRA has been hidden and customized functions has been added.</p>

                                <h2>Functionality</h2>
                                <p>
                                    <b>Filter:</b><br>
                                    To offer the possibility to view a sub-set of the CR´s/TR´s within a Business Value Item Youa are able to filter the information.
                                </p>
                                <ul>
                                    <li>Value Item: Presents ONE Value Item and can be drilled down</li>
                                    <li>Application: Presents ANY Value Item, but presents ONLY the selected CR´s/ TR´s within MAC, MACCloud, MEM or MPP.</li>
                                    <li>FixVersion: Presents ANY Value Item, but presents ONLY the selected value within JIRA-field FixVersion.</li>
                                    <li>Last, but not least - All filters can be combined.. </li>
                                </ul>
            
                               
            
                                
                                
            
            
                               
                            </div>
            
                        </bs-modal-body>
                        <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
            
                            <div class="col-md-9" style="text-align:left;">
                                <p style="color:black; display:inline-block; margin-bottom:0;"><span style="font-weight:bold;">*</span> - Planned to be developed, but not yet implemented.</p>
                            </div>
            
                            <div class="col-md-3">
                                <button type="button" class="btn btn-close" (click)="modal.close()">Close</button>
                            </div>
            
                        </bs-modal-footer>
                    </bs-modal>
                </div>
            
            
            </div>
            
           
            
 <!--    </aside> -->
 <style> 
        div.ps {
            height:100%;
        }
        </style>
 <perfect-scrollbar [config]="config" class="col-md-12 forestHolder" style="padding:0; height:90%; overflow-y:auto;">
    <app-forest-item class="accordion" [tree]="forest"></app-forest-item>
</perfect-scrollbar>