<div class="col-md-12" style="height:10%; padding:0;">
    <div class="col-md-5" style="text-align:left; height:100%; padding-right:0;">
        <h2 style="color:rgb(80,80,80); display:inline-block; text-align:left; height:50%; transform:translateY(50%);margin:0;padding:0;">Releases</h2>
    </div>
    <div class="col-md-5" style="text-align:center; height:100%; padding:0;">
        <h5 *ngIf="jiraReleaseRequestTime" style="color:rgb(80,80,80); display:inline-block; text-align:left; height:50%; transform:translateY(50%);margin:0;padding:0;">
            Synched: {{jiraReleaseRequestTime | dateFormatter: 'date'}} at {{jiraReleaseRequestTime | dateFormatter: 'time'}}
        </h5>
    </div>

    <div class="col-md-2" style="text-align:right; height:100%;">
        <div class="fa-lg" style="display:inline-block; height:50%; transform:translateY(50%)">
            <span class="fa-layers fa-fw hoverHand" (click)="modal.open()" style="">
                <i class="fas fa-info-circle"></i>
            </span>
        </div>
    </div>

    <bs-modal #modal cssClass="modal-seventy" class="releasesModal">
        <bs-modal-header [showDismiss]="false">
            <h1 class="modal-title">Releases</h1>
        </bs-modal-header>
        <bs-modal-body>
            <div class="col-md-12" style="text-align:left;margin-bottom:10%;">
                <h2>Synopsis:</h2>
                <p>
                    This functionality has been developed due a need to see a helicopter-view of the current, old and new releases dropped or to be dropped in Flex production environment. There is time-window* that selects available releases to be analyzed. Since we are
                    aiming for a Rolling Deploy (release at any moment without stopping servers) there is a possibility to release on a daily basis (Day: 1 – Day: 5), currently we deploy at Tuesdays (Day: 2) and Thursdays (Day: 4).
                </p>


                <p>
                    The information comes from JIRA (Projects MAC, MACCloud, MPP and MEM) and are automatically updated on a regular basis. For a complete view of ALL releases, please use view ”Releases” within the different JIRA-projects. The function has been developed
                    due a need to see a helicopter-view of the current status of all PULS-boards.The information is retrieved from selected JIRA projects (MAC, MACCloud, MPP and MEM) and the Dashboard view is automatically updated on a regular basis.
                </p>


                <h2>Functionality:</h2>
                <p>
                    Release Notes: A possibility to present the Technical Release Notes (if available) within the CR/ TR. <br> A possibility to present the Commercial Release Notes (if available) within the CR/ TR.
                </p>

                <h2>Argument:</h2>
                <p>
                    A possibility to present the Commercial Release Notes (if available) within the CR/ TR.Argument:A possibility to present the argument presented (if available) at a Change Control Board (CCB) Meeting and the very reason for performing this specific CR/TR.
                    Since there are a lot of changes (CR’s, TR’s, Expedite’s, Golden Arrow’s…) competing for attention, we are forced to select and deselect at a very high level.
                </p>

                <style>
                    .wrapperThree {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-auto-rows: minmax(100px, auto);
                        grid-gap: 1em;
                        justify-items: start;
                        /* horizontally: start, stretch, end, center */
                        align-items: stretch;
                        margin-bottom: 1em;
                        /* vertically: start, end, center */
                        display: grid;
                        grid-template-columns: 33.3% 1fr 33.3%;
                        /* align-items: center; */
                        grid-template-rows: auto;
                        /* vertically: start, end, center */
                    }
                </style>
                <div class="wrapperThree" style="text-align:left;">
                    <div>
                        <h2>More/Hide:</h2>
                        <p style="margin:0;">Offers a possibility to present additional attributes (if available) such as…</p>
                        <ul>
                            <li>Created</li>
                            <li>Updated</li>
                            <li>Reporter</li>
                            <li>Assignee</li>
                            <li>Labels</li>
                            <li>Linked Issues</li>
                            <li>Components</li>
                        </ul>
                    </div>

                    <div>
                        <h2>Sorting:</h2>
                        <p style="margin:0;">Offers a possibility to sort the current CRs/TRs in the following order…</p>
                        <ul>
                            <li>Key</li>
                            <li>Title</li>
                            <li>Type</li>
                            <li>Priority</li>
                            <li>Status</li>
                            <li>Created</li>
                            <li>Updated</li>
                            <li>Reporter</li>
                            <li>Assignee</li>
                        </ul>
                    </div>

                    <div>
                        <h2>Filter:</h2>
                        <p style="margin:0;">Offers a possibility to filter the current CRs/TRs in the following way…</p>
                        <ul>
                            <li>Status with multiple selection </li>
                            <li>Priority with multiple selection </li>
                            <li>Severity with multiple selection </li>
                            <li>Labels with multiple selection</li>
                            <li>Created with lower and upper selection-criteria</li>
                            <li>Updated with lower and upper selection-criteria </li>
                            <li>Key with upper and lower selection-criteria</li>
                        </ul>
                    </div>
                </div>


                <h2>NB:</h2>
                <p>The information will change with a high frequency, since the views will reflect the daily change of the current status of each CR/ TR.</p>
            </div>

        </bs-modal-body>
        <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
            <div class="col-md-9" style="text-align:left;">
                <p style="color:black; display:inline-block; margin-bottom:0;">
                    <span style="font-weight:bold;">*</span> - A rolling time-window based on current week (based on System Date), 3 weeks backword and 3 weeks forward has been set.
                </p>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-close" (click)="modal.close()">Close</button>
            </div>
        </bs-modal-footer>
    </bs-modal>
</div>








<div class="col-md-12" style="padding:0; overflow-y:scroll;height:90%;">


    <ul id="releaseAccordion" class="cd-accordion-menu animated" style="height:100%;width:100%;position:absolute;left:0;padding-left:0; margin-top:0; margin-bottom:0; background-color:rgb(245,245,245);">

        <!-- Release nr XX  -->
        <li *ngFor="let jiraRelease of jiraReleases; let i = index; trackBy: trackByReleaseName" [attr.data-index]="i" style="color:transparent;" class="has-children">
            <input type="checkbox" name="group-{{i}}" id="group-{{i}}">
            <label class="marg releaseName" for="group-{{i}}" style="padding-left: 10%; padding-right:0.5em; height:100%; color:rgb(80,80,80); background-color:rgb(240,240,240); ">
                {{jiraRelease.releaseName}}<span style="padding-left:20px;">{{jiraRelease.releaseName | weekToDate}}</span>
                <span style="float:right;">{{jiraRelease.MACissues?.length + jiraRelease.MEMissues?.length + jiraRelease.MPPissues?.length}} issues</span>
            </label>
            <!-- margin-bottom:1px; -->
            <ul class="ulOne" style="padding-left:0; ">
                <!-- margin:0; -->

                <li style="color:transparent;" class="has-children">
                    <input type="checkbox" name="sub-group-{{i}}1" id="sub-group-{{i}}1">

                    <label class="marg macMppMem" for="sub-group-{{i}}1" style="padding-left: 12%; padding-right:0.5em; color:rgb(80,80,80);background-color:rgb(220,220,220);">
                        MAC
                        <!--
                            <span *ngIf="jiraRelease.MACreleaseDate && (jiraRelease.MACissues?.length > 0)"> - Release Date: {{jiraRelease.MACreleaseDate}}</span>
                            <span *ngIf="!jiraRelease.MACreleaseDate && (jiraRelease.MACissues?.length > 0)"> - Release Date: TBA</span>
                        -->
                        <span style="float:right;" *ngIf="(jiraRelease.MACissues?.length > 0)">{{jiraRelease.MACissues.length}} issues</span>
                        <span style="float:right;" *ngIf="(!jiraRelease.MACissues?.length > 0)">0 issues</span>
                        <span style="float:right;" class="released" *ngIf="jiraRelease.MACreleased && (jiraRelease.MACissues?.length > 0)">Released</span> 
                        <span style="float:right;" class="unreleased" *ngIf="!jiraRelease.MACreleased && (jiraRelease.MACissues?.length > 0)">Unreleased</span> 
                        <!--   <span style="float:right;">{{jiraRelease.MACissues.length}} Issues</span> -->
                    </label>


                    <!-- Maintenance Administraion Calculator System -->
                    <!-- margin-bottom:1px; -->
                    <ul class="ulTwo issue" style="padding-left:0;">
                        <!-- trackby för modals -->
                        <li class="marg issue" *ngFor="let macIssue of jiraRelease.MACissues; let j = index; trackBy: trackByIssueUpdated" [attr.data-index]="j" style="padding-left:1em;  padding-right:0; width:100%; vertical-align:top; color:transparent; position:relative;display:inline-block;background-color:rgb(220,220,220);">
                            <!--  margin-bottom:1px;-->
                            <div class="col-md-12" style="height:100%; color:rgb(80,80,80); padding:0;">
                                <div class="listWrapper" style="height:100%; padding-right:0.5em; padding-left:0;">

                                    <div style="height:100%; padding:0;">

                                        <div class="tooltip" style="vertical-align:top;">
                                            <img src="{{macIssue.typeIcon}}" class="smallIcon" />
                                            <span class="tooltiptext">{{macIssue.type}}</span>
                                        </div>

                                        <div class="tooltip" style="vertical-align:top;">
                                            <img src="{{macIssue.priorityIcon}}" class="smallIcon" />
                                            <span class="tooltiptext">{{macIssue.priority}}</span>
                                        </div>

                                    </div>

                                    <div style="padding-bottom:0; height:100%; padding:0;">

                                        <div class="col-md-12" style=" height:50%; padding:0;">

                                            <div class="col-container">
                                                <div class="col-6" style="height:100%; padding:0;">
                                                    <h4 style="padding-top:0; text-align:left; text-decoration:none;margin-bottom:0;">
                                                        <a class="listKey" href="{{macIssue.url}}" target="_blank">
                                                            {{macIssue.key}}<br>
                                                        </a>

                                                        <div [hidden]="!macIssue.releaseNotesTechnical" class="fa-1x" style="display:inline-block;">
                                                            <span class="fa-layers fa-fw hoverHand" (click)="modalNotesTechnical.open();" style="">
                                                                <i class="far fa-sticky-note"></i>
                                                                <i class="fas fa-wrench" data-fa-transform="shrink-6"></i>
                                                            </span>
                                                        </div>

                                                        <bs-modal #modalNotesTechnical cssClass="modal-fifty">
                                                            <bs-modal-header [showDismiss]="false">
                                                                <h1 class="modal-title" style="text-align:center;">Release Notes<br>Technical</h1>

                                                            </bs-modal-header>
                                                            <bs-modal-body style="margin-bottom:10em;">
                                                                <div class="col-md-12" style="text-align:center;">
                                                                    <h3 style="margin:0; text-align:center;">{{macIssue.key}}</h3>
                                                                    <h3 style="text-align:center;">{{macIssue.title}}</h3>
                                                                </div>

                                                                <div *ngIf="macIssue.notesTechnical">

                                                                    <h4>Business Value Item:</h4>
                                                                    <p>{{macIssue.notesTechnical.businessValueItem}}</p>
                                                                    <h4>Background:</h4>
                                                                    <p>{{macIssue.notesTechnical.background}}</p>
                                                                    <h4>Solution:</h4>
                                                                    <p>{{macIssue.notesTechnical.solution}}</p>
                                                                    <h4>Affects User:</h4>
                                                                    <p>{{macIssue.notesTechnical.affectsUser}}</p>

                                                                </div>

                                                            </bs-modal-body>
                                                            <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
                                                                <div class="col-md-12">
                                                                    <p style="height:50%; transform:translateY(50%);text-align:left;float:left;">Release Notes from issue in Jira</p>
                                                                    <button type="button" class="btn btn-close" (click)="modalNotesTechnical.close()">Close</button>
                                                                </div>
                                                            </bs-modal-footer>
                                                        </bs-modal>


                                                        <div [hidden]="!macIssue.releaseNotesCommercial" class="fa-1x" style="display:inline-block;">
                                                            <span class="fa-layers fa-fw hoverHand" (click)="modalNotesCommercial.open();" style="">
                                                                <i class="far fa-sticky-note"></i>
                                                                <i class="fas fa-user" data-fa-transform="shrink-6"></i>
                                                            </span>
                                                        </div>

                                                        <bs-modal #modalNotesCommercial cssClass="modal-fifty">
                                                            <bs-modal-header [showDismiss]="false">
                                                                <h1 class="modal-title" style="text-align:center;">Release Notes<br>Commercial</h1>

                                                            </bs-modal-header>
                                                            <bs-modal-body style="margin-bottom:10em;">

                                                                <div class="col-md-12" style="text-align:center;">
                                                                    <h3 style="margin:0; text-align:center;">{{macIssue.key}}</h3>
                                                                    <h3 style="text-align:center;">{{macIssue.title}}</h3>
                                                                </div>
                                                                <div *ngIf="macIssue.notesCommercial">
                                                                    <h4>Business Value Item:</h4>
                                                                    <p>{{macIssue.notesCommercial.businessValueItem}}</p>
                                                                    <h4>Background:</h4>
                                                                    <p>{{macIssue.notesCommercial.background}}</p>
                                                                    <h4>Solution:</h4>
                                                                    <p>{{macIssue.notesCommercial.solution}}</p>
                                                                    <h4>Affects User:</h4>
                                                                    <p>{{macIssue.notesCommercial.affectsUser}}</p>
                                                                </div>

                                                            </bs-modal-body>
                                                            <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
                                                                <div class="col-md-12">
                                                                    <p style="height:50%; transform:translateY(50%);text-align:left;float:left;">Release Notes from issue in Jira</p>
                                                                    <button type="button" class="btn btn-close" (click)="modalNotesCommercial.close()">Close</button>
                                                                </div>
                                                            </bs-modal-footer>
                                                        </bs-modal>

                                                    </h4>

                                                </div>

                                                <div class="col-6" style="height:100%; padding:0; text-align:right;">
                                                    <!-- <p style="display:inline-block;margin-bottom:0;">Status: </p> -->
                                                    <h5 class="{{macIssue.status}}" style="padding-top:0; display:inline-block; margin:0;">{{macIssue.status}}</h5>
                                                </div>
                                            </div>

                                            <div class="col-container">
                                                <div class="col-med-12" style="padding:0;">
                                                    <h4 style="margin:0; ">{{macIssue.title | textLength: 50}}</h4>
                                                </div>

                                                <div class="col-md-12" style="padding-left:0; padding-right:0;">

                                                    <div id="detailsMAC{{i}}{{j}}" class="collapse">
                                                        <div class="col-md-12" style="height:100%; text-align:center;padding-bottom:20px;padding-top:20px;border-top:1px solid rgb(230,230,230);padding-left:0; padding-right:0;">

                                                            <div class="col-container">


                                                                <div *ngIf="(macIssue.created)" class="col-md-6" style="text-align:left; padding:0;">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;">Created:</p>
                                                                    <p style="text-align:left;">{{macIssue.created.date}} <br> {{macIssue.created.time}}</p>
                                                                </div>

                                                                <div *ngIf="(macIssue.updated)" class="col-md-6" style="text-align:left; padding:0;">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;">Updated:</p>
                                                                    <p style="text-align:left;">{{macIssue.updated.date}} <br> {{macIssue.updated.time}}</p>
                                                                </div>

                                                                <div *ngIf="(macIssue.serviceCenterId.length > 0)" class="col-md-6" style="text-align:left; padding:0;">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;">Service Center Id:</p>
                                                                    <p *ngFor="let servicecenterids of macIssue.serviceCenterId" style="text-align:left; margin-bottom:0;">{{servicecenterids}}</p>
                                                                </div>

                                                                <div class="col-md-6" style="text-align:left; padding:0;">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;">Reporter:</p>
                                                                    <p style="text-align:left;">{{macIssue.reporter}}</p>
                                                                </div>

                                                                <div class="col-md-6" style="text-align:left; padding:0;">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;">Assignee:</p>
                                                                    <p style="text-align:left;">{{macIssue.assignee}}</p>
                                                                    <div [hidden]="!(macIssue.additionalAssignees?.length > 0)" style="text-align:left;" *ngFor="let additionalAssignee of macIssue.additionalAssignees; let k = index;" [attr.data-index]="k">
                                                                        <p style="text-align:left; font-weight:bold; margin:0;" *ngIf="k == 0">Additional Assignees:</p>
                                                                        <p style="text-align:left;">{{additionalAssignee}}</p>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div *ngIf="(macIssue.valueItems?.length > 0)" class="col-md-12" style="text-align:left; padding:0;">
                                                                <div style="text-align:left;" *ngFor="let valueItem of macIssue.valueItems; let l = index;" [attr.data-index]="l">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;" *ngIf="l == 0">Value Items:</p>
                                                                    <p style="text-align:left;">{{valueItem}}</p>
                                                                </div>
                                                            </div>

                                                            <div *ngIf="(macIssue.components?.length > 0)" class="col-md-12" style="text-align:left; padding:0;">
                                                                <div style="text-align:left;" *ngFor="let component of macIssue.components; let m = index;" [attr.data-index]="m">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;" *ngIf="m == 0">Components:</p>
                                                                    <p style="text-align:left;">{{component}}</p>
                                                                </div>
                                                            </div>

                                                            <div *ngIf="(macIssue.labels?.length > 0)" class="col-md-12" style="text-align:left; padding:0;">

                                                                <div style="text-align:left;" *ngFor="let label of macIssue.labels; let n = index;" [attr.data-index]="n">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;" *ngIf="n == 0">Labels:</p>
                                                                    <p style="text-align:left;">{{label}}</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div *ngIf="macIssue.issueLinksInward?.length > 0 || macIssue.issueLinksOutward?.length > 0" class="col-md-12" style="margin-bottom:20px;text-align:left; padding:0;">
                                                            <p style="text-align:left; font-weight:bold; margin:0;">Linked issues:</p>

                                                            <div *ngIf="macIssue.issueLinksInward" class="col-md-12" style="text-align:left;padding:0;">
                                                                <div style="text-align:left;" *ngFor="let inwardIssues of macIssue.issueLinksInward; let o = index;" [attr.data-index]="o">
                                                                    <p style="text-align:left;">{{inwardIssues.key}} - {{inwardIssues.title | textLength: 50}}</p>
                                                                </div>
                                                            </div>

                                                            <div *ngIf="macIssue.issueLinksOutward" class="col-md-12" style="text-align:left;padding:0;">
                                                                <div style="text-align:left;" *ngFor="let outwardIssues of macIssue.issueLinksOutward; let p = index;" [attr.data-index]="p">
                                                                    <p style="text-align:left;">{{outwardIssues.key}} - {{outwardIssues.title | textLength: 50}}</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>


                                            </div>

                                        </div>


                                    </div>

                                    <div style="height:100%; padding:0; display:inline-block; text-align:center;">
                                        <style>
                                            .fa-arrow-alt-circle-down.collapsed {
                                                -webkit-transform: rotate(-90deg);
                                                -moz-transform: rotate(-90deg);
                                                -ms-transform: rotate(-90deg);
                                                -o-transform: rotate(-90deg);
                                                transform: rotate(-90deg);
                                            }
                                        </style>
                                        <i class="far fa-arrow-alt-circle-down fa-lg collapsed" data-toggle="collapse" aria-expanded="false" [attr.data-target]="'#detailsMAC' + i + j" style="margin-top:0.1em"></i>

                                    </div>

                                </div>

                            </div>
                        </li>
                    </ul>
                </li>








                <li style="color:transparent;" class="has-children">
                    <input type="checkbox" name="sub-group-{{i}}2" id="sub-group-{{i}}2">

                    <label class="marg macMppMem" for="sub-group-{{i}}2" style="padding-left: 12%; padding-right:0.5em; color:rgb(80,80,80);background-color:rgb(220,220,220);">
                        MPP
                        <!--
                            <span *ngIf="jiraRelease.MACreleaseDate && (jiraRelease.MACissues?.length > 0)"> - Release Date: {{jiraRelease.MACreleaseDate}}</span>
                            <span *ngIf="!jiraRelease.MACreleaseDate && (jiraRelease.MACissues?.length > 0)"> - Release Date: TBA</span>
                        -->
                        <span style="float:right;" *ngIf="(jiraRelease.MPPissues?.length > 0)">{{jiraRelease.MPPissues.length}} issues</span>
                        <span style="float:right;" *ngIf="(!jiraRelease.MPPissues?.length > 0)">0 issues</span>
                        <span style="float:right;" class="released" *ngIf="jiraRelease.MPPreleased && (jiraRelease.MPPissues?.length > 0)">Released</span> 
                        <span style="float:right;" class="unreleased" *ngIf="!jiraRelease.MPPreleased && (jiraRelease.MPPissues?.length > 0)">Unreleased</span> 
                        <!--   <span style="float:right;">{{jiraRelease.MACissues.length}} Issues</span> -->
                    </label>


                    <!-- Maintenance Administraion Calculator System -->
                    <!-- margin-bottom:1px; -->
                    <ul class="ulTwo issue" style="padding-left:0;">
                        <!-- trackby för modals -->
                        <li class="marg issue" *ngFor="let mppIssue of jiraRelease.MPPissues; let j = index; trackBy: trackByIssueUpdated" [attr.data-index]="j" style="padding-left:1em;  padding-right:0; width:100%; vertical-align:top; color:transparent; position:relative;display:inline-block;background-color:rgb(220,220,220);">
                            <!--  margin-bottom:1px;-->
                            <div class="col-md-12" style="height:100%; color:rgb(80,80,80); padding:0;">
                                <div class="listWrapper" style="height:100%; padding-right:0.5em; padding-left:0;">

                                    <div style="height:100%; padding:0;">

                                        <div class="tooltip" style="vertical-align:top;">
                                            <img src="{{mppIssue.typeIcon}}" class="smallIcon" />
                                            <span class="tooltiptext">{{mppIssue.type}}</span>
                                        </div>

                                        <div class="tooltip" style="vertical-align:top;">
                                            <img src="{{mppIssue.priorityIcon}}" class="smallIcon" />
                                            <span class="tooltiptext">{{mppIssue.priority}}</span>
                                        </div>

                                    </div>

                                    <div style="padding-bottom:0; height:100%; padding:0;">

                                        <div class="col-md-12" style=" height:50%; padding:0;">

                                            <div class="col-container">
                                                <div class="col-6" style="height:100%; padding:0;">
                                                    <h4 style="padding-top:0; text-align:left; text-decoration:none;margin-bottom:0;">
                                                        <a class="listKey" href="{{mppIssue.url}}" target="_blank">
                                                            {{mppIssue.key}}<br>
                                                        </a>

                                                        <div [hidden]="!mppIssue.releaseNotesTechnical" class="fa-1x" style="display:inline-block;">
                                                            <span class="fa-layers fa-fw hoverHand" (click)="modalNotesTechnical.open();" style="">
                                                                <i class="far fa-sticky-note"></i>
                                                                <i class="fas fa-wrench" data-fa-transform="shrink-6"></i>
                                                            </span>
                                                        </div>

                                                        <bs-modal #modalNotesTechnical cssClass="modal-fifty">
                                                            <bs-modal-header [showDismiss]="false">
                                                                <h1 class="modal-title" style="text-align:center;">Release Notes- Technical</h1>

                                                            </bs-modal-header>
                                                            <bs-modal-body style="margin-bottom:10em;">
                                                                <div class="col-md-12" style="text-align:center;">
                                                                    <h3 style="margin:0; text-align:center;">{{mppIssue.key}}</h3>
                                                                    <h3 style="text-align:center;">{{mppIssue.title}}</h3>
                                                                </div>

                                                                <div *ngIf="mppIssue.notesTechnical">

                                                                    <h4>Business Value Item:</h4>
                                                                    <p>{{mppIssue.notesTechnical.businessValueItem}}</p>
                                                                    <h4>Background:</h4>
                                                                    <p>{{mppIssue.notesTechnical.background}}</p>
                                                                    <h4>Solution:</h4>
                                                                    <p>{{mppIssue.notesTechnical.solution}}</p>
                                                                    <h4>Affects User:</h4>
                                                                    <p>{{mppIssue.notesTechnical.affectsUser}}</p>

                                                                </div>

                                                            </bs-modal-body>
                                                            <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
                                                                <div class="col-md-12">
                                                                    <p style="height:50%; transform:translateY(50%);text-align:left;float:left;">Release Notes from issue in Jira</p>
                                                                    <button type="button" class="btn btn-close" (click)="modalNotesTechnical.close()">Close</button>
                                                                </div>
                                                            </bs-modal-footer>
                                                        </bs-modal>


                                                        <div [hidden]="!mppIssue.releaseNotesCommercial" class="fa-1x" style="display:inline-block;">
                                                            <span class="fa-layers fa-fw hoverHand" (click)="modalNotesCommercial.open();" style="">
                                                                <i class="far fa-sticky-note"></i>
                                                                <i class="fas fa-user" data-fa-transform="shrink-6"></i>
                                                            </span>
                                                        </div>

                                                        <bs-modal #modalNotesCommercial cssClass="modal-fifty">
                                                            <bs-modal-header [showDismiss]="false">
                                                                <h1 class="modal-title" style="text-align:center;">Release Notes<br>Commercial</h1>

                                                            </bs-modal-header>
                                                            <bs-modal-body style="margin-bottom:10em;">

                                                                <div class="col-md-12" style="text-align:center;">
                                                                    <h3 style="margin:0; text-align:center;">{{mppIssue.key}}</h3>
                                                                    <h3 style="text-align:center;">{{mppIssue.title}}</h3>
                                                                </div>
                                                                <div *ngIf="mppIssue.notesCommercial">
                                                                    <h4>Business Value Item:</h4>
                                                                    <p>{{mppIssue.notesCommercial.businessValueItem}}</p>
                                                                    <h4>Background:</h4>
                                                                    <p>{{mppIssue.notesCommercial.background}}</p>
                                                                    <h4>Solution:</h4>
                                                                    <p>{{mppIssue.notesCommercial.solution}}</p>
                                                                    <h4>Affects User:</h4>
                                                                    <p>{{mppIssue.notesCommercial.affectsUser}}</p>
                                                                </div>

                                                            </bs-modal-body>
                                                            <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
                                                                <div class="col-md-12">
                                                                    <p style="height:50%; transform:translateY(50%);text-align:left;float:left;">Release Notes from issue in Jira</p>
                                                                    <button type="button" class="btn btn-close" (click)="modalNotesCommercial.close()">Close</button>
                                                                </div>
                                                            </bs-modal-footer>
                                                        </bs-modal>

                                                    </h4>

                                                </div>

                                                <div class="col-6" style="height:100%; padding:0; text-align:right;">
                                                    <!-- <p style="display:inline-block;margin-bottom:0;">Status: </p> -->
                                                    <h5 class="{{mppIssue.status}}" style="padding-top:0; display:inline-block; margin:0;">{{mppIssue.status}}</h5>
                                                </div>
                                            </div>

                                            <div class="col-container">
                                                <div class="col-med-12" style="padding:0;">
                                                    <h4 style="margin:0; ">{{mppIssue.title | textLength: 50}}</h4>
                                                </div>

                                                <div class="col-md-12" style="padding-left:0; padding-right:0;">

                                                    <div id="detailsMPP{{i}}{{j}}" class="collapse">
                                                        <div class="col-md-12" style="height:100%; text-align:center;padding-bottom:20px;padding-top:20px;border-top:1px solid rgb(230,230,230);padding-left:0; padding-right:0;">

                                                            <div class="col-container">


                                                                <div *ngIf="(mppIssue.created)" class="col-md-6" style="text-align:left; padding:0;">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;">Created:</p>
                                                                    <p style="text-align:left;">{{mppIssue.created.date}} <br> {{mppIssue.created.time}}</p>
                                                                </div>

                                                                <div *ngIf="(mppIssue.updated)" class="col-md-6" style="text-align:left; padding:0;">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;">Updated:</p>
                                                                    <p style="text-align:left;">{{mppIssue.updated.date}} <br> {{mppIssue.updated.time}}</p>
                                                                </div>

                                                                <div *ngIf="(mppIssue.serviceCenterId.length > 0)" class="col-md-6" style="text-align:left; padding:0;">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;">Service Center Id:</p>
                                                                    <p *ngFor="let servicecenterids of mppIssue.serviceCenterId" style="text-align:left; margin-bottom:0;">{{servicecenterids}}</p>
                                                                </div>

                                                                <div class="col-md-6" style="text-align:left; padding:0;">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;">Reporter:</p>
                                                                    <p style="text-align:left;">{{mppIssue.reporter}}</p>
                                                                </div>

                                                                <div class="col-md-6" style="text-align:left; padding:0;">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;">Assignee:</p>
                                                                    <p style="text-align:left;">{{mppIssue.assignee}}</p>
                                                                    <div [hidden]="!(mppIssue.additionalAssignees?.length > 0)" style="text-align:left;" *ngFor="let additionalAssignee of mppIssue.additionalAssignees; let k = index;" [attr.data-index]="k">
                                                                        <p style="text-align:left; font-weight:bold; margin:0;" *ngIf="k == 0">Additional Assignees:</p>
                                                                        <p style="text-align:left;">{{additionalAssignee}}</p>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div *ngIf="(mppIssue.valueItems?.length > 0)" class="col-md-12" style="text-align:left; padding:0;">
                                                                <div style="text-align:left;" *ngFor="let valueItem of mppIssue.valueItems; let l = index;" [attr.data-index]="l">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;" *ngIf="l == 0">Value Items:</p>
                                                                    <p style="text-align:left;">{{valueItem}}</p>
                                                                </div>
                                                            </div>

                                                            <div *ngIf="(mppIssue.components?.length > 0)" class="col-md-12" style="text-align:left; padding:0;">
                                                                <div style="text-align:left;" *ngFor="let component of mppIssue.components; let m = index;" [attr.data-index]="m">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;" *ngIf="m == 0">Components:</p>
                                                                    <p style="text-align:left;">{{component}}</p>
                                                                </div>
                                                            </div>

                                                            <div *ngIf="(mppIssue.labels?.length > 0)" class="col-md-12" style="text-align:left; padding:0;">

                                                                <div style="text-align:left;" *ngFor="let label of mppIssue.labels; let n = index;" [attr.data-index]="n">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;" *ngIf="n == 0">Labels:</p>
                                                                    <p style="text-align:left;">{{label}}</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div *ngIf="mppIssue.issueLinksInward?.length > 0 || mppIssue.issueLinksOutward?.length > 0" class="col-md-12" style="margin-bottom:20px;text-align:left; padding:0;">
                                                            <p style="text-align:left; font-weight:bold; margin:0;">Linked issues:</p>

                                                            <div *ngIf="mppIssue.issueLinksInward" class="col-md-12" style="text-align:left;padding:0;">
                                                                <div style="text-align:left;" *ngFor="let inwardIssues of mppIssue.issueLinksInward; let o = index;" [attr.data-index]="o">
                                                                    <p style="text-align:left;">{{inwardIssues.key}} - {{inwardIssues.title | textLength: 50}}</p>
                                                                </div>
                                                            </div>

                                                            <div *ngIf="mppIssue.issueLinksOutward" class="col-md-12" style="text-align:left;padding:0;">
                                                                <div style="text-align:left;" *ngFor="let outwardIssues of mppIssue.issueLinksOutward; let p = index;" [attr.data-index]="p">
                                                                    <p style="text-align:left;">{{outwardIssues.key}} - {{outwardIssues.title | textLength: 50}}</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>


                                            </div>

                                        </div>


                                    </div>

                                    <div style="height:100%; padding:0; display:inline-block; text-align:center;">
                                        <style>
                                            .fa-arrow-alt-circle-down.collapsed {
                                                -webkit-transform: rotate(-90deg);
                                                -moz-transform: rotate(-90deg);
                                                -ms-transform: rotate(-90deg);
                                                -o-transform: rotate(-90deg);
                                                transform: rotate(-90deg);
                                            }
                                        </style>
                                        <i class="far fa-arrow-alt-circle-down fa-lg collapsed" data-toggle="collapse" aria-expanded="false" [attr.data-target]="'#detailsMPP' + i + j" style="margin-top:0.1em"></i>

                                    </div>

                                </div>

                            </div>
                        </li>
                    </ul>
                </li>


                <li style="color:transparent;" class="has-children">
                    <input type="checkbox" name="sub-group-{{i}}3" id="sub-group-{{i}}3">

                    <label class="marg macMppMem" for="sub-group-{{i}}3" style="padding-left: 12%; padding-right:0.5em; color:rgb(80,80,80);background-color:rgb(220,220,220);">
                        MEM
                        <!--
                            <span *ngIf="jiraRelease.MACreleaseDate && (jiraRelease.MACissues?.length > 0)"> - Release Date: {{jiraRelease.MACreleaseDate}}</span>
                            <span *ngIf="!jiraRelease.MACreleaseDate && (jiraRelease.MACissues?.length > 0)"> - Release Date: TBA</span>
                        -->
                        <span style="float:right;" *ngIf="(jiraRelease.MEMissues?.length > 0)">{{jiraRelease.MEMissues.length}} issues</span>
                        <span style="float:right;" *ngIf="(!jiraRelease.MEMissues?.length > 0)">0 issues</span>
                        <span style="float:right;" class="released" *ngIf="jiraRelease.MEMreleased && (jiraRelease.MEMissues?.length > 0)">Released</span> 
                        <span style="float:right;" class="unreleased" *ngIf="!jiraRelease.MEMreleased && (jiraRelease.MEMissues?.length > 0)">Unreleased</span> 
                        <!--   <span style="float:right;">{{jiraRelease.MACissues.length}} Issues</span> -->
                    </label>


                    <!-- Maintenance Administraion Calculator System -->
                    <!-- margin-bottom:1px; -->
                    <ul class="ulTwo issue" style="padding-left:0;">
                        <!-- trackby för modals -->
                        <li class="marg issue" *ngFor="let memIssue of jiraRelease.MEMissues; let j = index; trackBy: trackByIssueUpdated" [attr.data-index]="j" style="padding-left:1em;  padding-right:0; width:100%; vertical-align:top; color:transparent; position:relative;display:inline-block;background-color:rgb(220,220,220);">
                            <!--  margin-bottom:1px;-->
                            <div class="col-md-12" style="height:100%; color:rgb(80,80,80); padding:0;">
                                <div class="listWrapper" style="height:100%; padding-right:0.5em; padding-left:0;">

                                    <div style="height:100%; padding:0;">

                                        <div class="tooltip" style="vertical-align:top;">
                                            <img src="{{memIssue.typeIcon}}" class="smallIcon" />
                                            <span class="tooltiptext">{{memIssue.type}}</span>
                                        </div>

                                        <div class="tooltip" style="vertical-align:top;">
                                            <img src="{{memIssue.priorityIcon}}" class="smallIcon" />
                                            <span class="tooltiptext">{{memIssue.priority}}</span>
                                        </div>

                                    </div>

                                    <div style="padding-bottom:0; height:100%; padding:0;">

                                        <div class="col-md-12" style=" height:50%; padding:0;">

                                            <div class="col-container">
                                                <div class="col-6" style="height:100%; padding:0;">
                                                    <h4 style="padding-top:0; text-align:left; text-decoration:none;margin-bottom:0;">
                                                        <a class="listKey" href="{{memIssue.url}}" target="_blank">
                                                            {{memIssue.key}}<br>
                                                        </a>

                                                        <div [hidden]="!memIssue.releaseNotesTechnical" class="fa-1x" style="display:inline-block;">
                                                            <span class="fa-layers fa-fw hoverHand" (click)="modalNotesTechnical.open();" style="">
                                                                <i class="far fa-sticky-note"></i>
                                                                <i class="fas fa-wrench" data-fa-transform="shrink-6"></i>
                                                            </span>
                                                        </div>

                                                        <bs-modal #modalNotesTechnical cssClass="modal-fifty">
                                                            <bs-modal-header [showDismiss]="false">
                                                                <h1 class="modal-title" style="text-align:center;">Release Notes<br>Technical</h1>

                                                            </bs-modal-header>
                                                            <bs-modal-body style="margin-bottom:10em;">
                                                                <div class="col-md-12" style="text-align:center;">
                                                                    <h3 style="margin:0; text-align:center;">{{memIssue.key}}</h3>
                                                                    <h3 style="text-align:center;">{{memIssue.title}}</h3>
                                                                </div>

                                                                <div *ngIf="memIssue.notesTechnical">
                                                                    <h4>Business Value Item:</h4>
                                                                    <p>{{memIssue.notesTechnical.businessValueItem}}</p>
                                                                    <h4>Background:</h4>
                                                                    <p>{{memIssue.notesTechnical.background}}</p>
                                                                    <h4>Solution:</h4>
                                                                    <p>{{memIssue.notesTechnical.solution}}</p>
                                                                    <h4>Affects User:</h4>
                                                                    <p>{{memIssue.notesTechnical.affectsUser}}</p>
                                                                </div>

                                                            </bs-modal-body>
                                                            <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
                                                                <div class="col-md-12">
                                                                    <p style="height:50%; transform:translateY(50%);text-align:left;float:left;">Release Notes from issue in Jira</p>
                                                                    <button type="button" class="btn btn-close" (click)="modalNotesTechnical.close()">Close</button>
                                                                </div>
                                                            </bs-modal-footer>
                                                        </bs-modal>


                                                        <div [hidden]="!memIssue.releaseNotesCommercial" class="fa-1x" style="display:inline-block;">
                                                            <span class="fa-layers fa-fw hoverHand" (click)="modalNotesCommercial.open();" style="">
                                                                <i class="far fa-sticky-note"></i>
                                                                <i class="fas fa-user" data-fa-transform="shrink-6"></i>
                                                            </span>
                                                        </div>

                                                        <bs-modal #modalNotesCommercial cssClass="modal-fifty">
                                                            <bs-modal-header [showDismiss]="false">
                                                                <h1 class="modal-title" style="text-align:center;">Release Notes - Commercial</h1>
                                                            </bs-modal-header>
                                                            <bs-modal-body style="margin-bottom:10em;">

                                                                <div class="col-md-12" style="text-align:center;">
                                                                    <h3 style="margin:0; text-align:center;">{{memIssue.key}}</h3>
                                                                    <h3 style="text-align:center;">{{memIssue.title}}</h3>
                                                                </div>
                                                                <div *ngIf="memIssue.notesCommercial">
                                                                    <h4>Business Value Item:</h4>
                                                                    <p>{{memIssue.notesCommercial.businessValueItem}}</p>
                                                                    <h4>Background:</h4>
                                                                    <p>{{memIssue.notesCommercial.background}}</p>
                                                                    <h4>Solution:</h4>
                                                                    <p>{{memIssue.notesCommercial.solution}}</p>
                                                                    <h4>Affects User:</h4>
                                                                    <p>{{memIssue.notesCommercial.affectsUser}}</p>
                                                                </div>

                                                            </bs-modal-body>
                                                            <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
                                                                <div class="col-md-12">
                                                                    <p style="height:50%; transform:translateY(50%);text-align:left;float:left;">Release Notes from issue in Jira</p>
                                                                    <button type="button" class="btn btn-close" (click)="modalNotesCommercial.close()">Close</button>
                                                                </div>
                                                            </bs-modal-footer>
                                                        </bs-modal>

                                                    </h4>

                                                </div>

                                                <div class="col-6" style="height:100%; padding:0; text-align:right;">
                                                    <h5 class="{{memIssue.status}}" style="padding-top:0; display:inline-block; margin:0;">{{memIssue.status}}</h5>
                                                </div>
                                            </div>

                                            <div class="col-container">
                                                <div class="col-med-12" style="padding:0;">
                                                    <h4 style="margin:0; ">{{memIssue.title | textLength: 50}}</h4>
                                                </div>

                                                <div class="col-md-12" style="padding-left:0; padding-right:0;">

                                                    <div id="detailsMEM{{i}}{{j}}" class="collapse">
                                                        <div class="col-md-12" style="height:100%; text-align:center;padding-bottom:20px;padding-top:20px;border-top:1px solid rgb(230,230,230);padding-left:0; padding-right:0;">

                                                            <div class="col-container">

                                                                <div *ngIf="(memIssue.created)" class="col-md-6" style="text-align:left; padding:0;">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;">Created:</p>
                                                                    <p style="text-align:left;">{{memIssue.created.date}} <br> {{memIssue.created.time}}</p>
                                                                </div>

                                                                <div *ngIf="(memIssue.updated)" class="col-md-6" style="text-align:left; padding:0;">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;">Updated:</p>
                                                                    <p style="text-align:left;">{{memIssue.updated.date}} <br> {{memIssue.updated.time}}</p>
                                                                </div>

                                                                <div *ngIf="(memIssue.serviceCenterId.length > 0)" class="col-md-6" style="text-align:left; padding:0;">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;">Service Center Id:</p>
                                                                    <p *ngFor="let servicecenterids of memIssue.serviceCenterId" style="text-align:left; margin-bottom:0;">{{servicecenterids}}</p>
                                                                </div>

                                                                <div class="col-md-6" style="text-align:left; padding:0;">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;">Reporter:</p>
                                                                    <p style="text-align:left;">{{memIssue.reporter}}</p>
                                                                </div>

                                                                <div class="col-md-6" style="text-align:left; padding:0;">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;">Assignee:</p>
                                                                    <p style="text-align:left;">{{memIssue.assignee}}</p>
                                                                    <div [hidden]="!(memIssue.additionalAssignees?.length > 0)" style="text-align:left;" *ngFor="let additionalAssignee of memIssue.additionalAssignees; let k = index;" [attr.data-index]="k">
                                                                        <p style="text-align:left; font-weight:bold; margin:0;" *ngIf="k == 0">Additional Assignees:</p>
                                                                        <p style="text-align:left;">{{additionalAssignee}}</p>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div *ngIf="(memIssue.valueItems?.length > 0)" class="col-md-12" style="text-align:left; padding:0;">
                                                                <div style="text-align:left;" *ngFor="let valueItem of memIssue.valueItems; let l = index;" [attr.data-index]="l">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;" *ngIf="l == 0">Value Items:</p>
                                                                    <p style="text-align:left;">{{valueItem}}</p>
                                                                </div>
                                                            </div>

                                                            <div *ngIf="(memIssue.components?.length > 0)" class="col-md-12" style="text-align:left; padding:0;">
                                                                <div style="text-align:left;" *ngFor="let component of memIssue.components; let m = index;" [attr.data-index]="m">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;" *ngIf="m == 0">Components:</p>
                                                                    <p style="text-align:left;">{{component}}</p>
                                                                </div>
                                                            </div>

                                                            <div *ngIf="(memIssue.labels?.length > 0)" class="col-md-12" style="text-align:left; padding:0;">

                                                                <div style="text-align:left;" *ngFor="let label of memIssue.labels; let n = index;" [attr.data-index]="n">
                                                                    <p style="text-align:left; font-weight:bold; margin:0;" *ngIf="n == 0">Labels:</p>
                                                                    <p style="text-align:left;">{{label}}</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div *ngIf="memIssue.issueLinksInward?.length > 0 || memIssue.issueLinksOutward?.length > 0" class="col-md-12" style="margin-bottom:20px;text-align:left; padding:0;">
                                                            <p style="text-align:left; font-weight:bold; margin:0;">Linked issues:</p>

                                                            <div *ngIf="memIssue.issueLinksInward" class="col-md-12" style="text-align:left;padding:0;">
                                                                <div style="text-align:left;" *ngFor="let inwardIssues of memIssue.issueLinksInward; let o = index;" [attr.data-index]="o">
                                                                    <p style="text-align:left;">{{inwardIssues.key}} - {{inwardIssues.title | textLength: 50}}</p>
                                                                </div>
                                                            </div>

                                                            <div *ngIf="memIssue.issueLinksOutward" class="col-md-12" style="text-align:left;padding:0;">
                                                                <div style="text-align:left;" *ngFor="let outwardIssues of memIssue.issueLinksOutward; let p = index;" [attr.data-index]="p">
                                                                    <p style="text-align:left;">{{outwardIssues.key}} - {{outwardIssues.title | textLength: 50}}</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>


                                            </div>

                                        </div>


                                    </div>

                                    <div style="height:100%; padding:0; display:inline-block; text-align:center;">
                                        <style>
                                            .fa-arrow-alt-circle-down.collapsed {
                                                transition: 0.70s;
                                                -webkit-transition: 0.70s;
                                                -moz-transition: 0.70s;
                                                -ms-transition: 0.70s;
                                                -o-transition: 0.70s;
                                                -webkit-transform: rotate(-90deg);
                                                -moz-transform: rotate(-90deg);
                                                -ms-transform: rotate(-90deg);
                                                -o-transform: rotate(-90deg);
                                                transform: rotate(-90deg);
                                            }
                                        </style>
                                        <i class="far fa-arrow-alt-circle-down fa-lg collapsed" data-toggle="collapse" aria-expanded="false" [attr.data-target]="'#detailsMEM' + i + j" style="margin-top:0.1em"></i>

                                    </div>

                                </div>

                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>


    </ul>

</div>




<script>
    jQuery(document).ready(function() {
        var accordionsMenu = $('#releaseAccordion');

        if (accordionsMenu.length > 0) {

            accordionsMenu.each(function() {
                var accordion = $(this);
                //detect change in the input[type="checkbox"] value
                accordion.on('change', 'input[type="checkbox"]', function() {
                    var checkbox = $(this);
                    console.log(checkbox.prop('checked'));
                    (checkbox.prop('checked')) ? checkbox.siblings('ul').attr('style', 'display:none;').slideDown(300): checkbox.siblings('ul').attr('style', 'display:block;').slideUp(300);
                });
            });
        }

    });
</script>