/* CSS-Reset */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* 
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*/


/* -------------------------------- 

Primary style

-------------------------------- */


/* -------------------------------- 

Primary style

-------------------------------- */

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {}

body {
    color: rgb(80, 80, 80);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}


/* -------------------------------- 

Main Components 

-------------------------------- */

#releaseAccordion {
    width: 100%;
    background: rgb(240, 240, 240);
    margin: 4em auto;
}

#releaseAccordion ul {
    /* by default hide all sub menus */
    display: none;
}

#releaseAccordion li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#releaseAccordion input[type=checkbox] {
    /* hide native checkbox */
    position: absolute;
    opacity: 0;
}

#releaseAccordion label,
#releaseAccordion a {
    position: relative;
    display: block;
    padding: 18px 18px 18px 64px;
    background: rgb(240, 240, 240);
    box-shadow: inset 0 -1px #555960;
    color: rgb(80, 80, 80);
    font-size: 1.6rem;
}

.no-touch #releaseAccordion label:hover,
.no-touch #releaseAccordion a:hover {
    background: green;
}

#releaseAccordion label::before
/* #releaseAccordion label::after,
#releaseAccordion a::after*/

{
    /* icons */
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#releaseAccordion label {
    cursor: pointer;
}

#releaseAccordion label::before {
    /* arrow icon */
    background-image: url(../../assets/cd-icons.svg);
    /* background-size: 20px 20px; */
    background-repeat: no-repeat;
    color: rgb(80, 80, 80);
    left: 0.5em;
    background-position: 0 0;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
}

#releaseAccordion label::after {
    /* folder icons */
    /*
    color: rgb(80, 220, 80);
     left: 41px;
    background-position: -16px 0; */
}

#releaseAccordion input[type=checkbox]:checked+label::before {
    /* rotate arrow */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#releaseAccordion input[type=checkbox]:checked+label::after {
    /* show open folder icon if item is checked */
    /* background-position: -32px 0; */
}

#releaseAccordion input[type=checkbox]:checked+label+ul,
#releaseAccordion input[type=checkbox]:checked+label:nth-of-type(n)+ul {
    /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
    /* show children when item is checked */
    display: block;
}

#releaseAccordion ul label,
#releaseAccordion ul a {
    background: transparent;
    box-shadow: inset 0 -1px #41444a;
    /*  padding-left: 82px; */
}

.no-touch #releaseAccordion ul label:hover,
.no-touch #releaseAccordion ul a:hover {
    background: rgb(240, 240, 240);
}

#releaseAccordion>li:last-of-type>label,
#releaseAccordion>li:last-of-type>a,
#releaseAccordion>li>ul>li:last-of-type label,
#releaseAccordion>li>ul>li:last-of-type a {
    box-shadow: none;
}

#releaseAccordion ul label::before {
    left: 1em!important;
}

#releaseAccordion ul label::after,
#releaseAccordion ul a::after {
    left: 1em!important;
}

#releaseAccordion ul ul label,
#releaseAccordion ul ul a {
    /*  padding-left: 100px; */
}

#releaseAccordion ul ul label::before {
    left: 1em!important;
}

#releaseAccordion ul ul label::after,
#releaseAccordion ul ul a::after {
    left: 2em!important;
}

#releaseAccordion ul ul ul label,
#releaseAccordion ul ul ul a {
    /*padding-left: 118px; */
}

#releaseAccordion ul ul ul label::before {
    left: 2.2em!important;
    /* 72px;*/
}

#releaseAccordion ul ul ul label::after,
#releaseAccordion ul ul ul a::after {
    left: 1em!important;
    /* */
}

:root {
    --status-inprogress-color: rgb(255, 211, 81);
    --status-new-color: rgb(74, 103, 133);
    --status-planning-color: rgb(74, 103, 133);
    --status-closed-color: rgb(20, 137, 44);
    --status-resolved-color: rgb(20, 137, 44);
    --status-new-color: rgb(74, 103, 133);
}

h5[class*='Done'] {
    color: rgb(245, 245, 245);
    background-color: rgb(20, 137, 44);
    border: 4px solid rgb(20, 137, 44);
    border-radius: 5px;
}

h5[class*='New'] {
    color: rgb(245, 245, 245);
    background-color: rgb(74, 103, 133);
    border: 4px solid rgb(74, 103, 133);
    border-radius: 5px;
}

h5[class*='In Progress'] {
    color: #594300!important;
    background-color: rgb(255, 211, 81);
    border: 4px solid rgb(255, 211, 81);
    border-radius: 5px;
}

h5[class*='Review'] {
    color: #594300!important;
    background-color: rgb(255, 211, 81);
    border: 4px solid rgb(255, 211, 81);
    border-radius: 5px;
}

h5[class*='Closed'] {
    color: rgb(245, 245, 245)!important;
    background-color: rgb(20, 137, 44);
    border: 4px solid rgb(20, 137, 44);
    border-radius: 5px;
}

h5[class*='Approved'] {
    color: #594300!important;
    background-color: rgb(255, 211, 81);
    border: 4px solid rgb(255, 211, 81);
    border-radius: 5px;
}

h5[class*='Resolved'] {
    color: rgb(245, 245, 245)!important;
    background-color: rgb(20, 137, 44);
    border: 4px solid rgb(20, 137, 44);
    border-radius: 5px;
}

h5[class*='Planning'] {
    color: rgb(245, 245, 245)!important;
    background-color: rgb(74, 103, 133);
    border: 4px solid rgb(74, 103, 133);
    border-radius: 5px;
}

p[class*='Done'] {
    color: rgb(245, 245, 245);
    background-color: rgb(20, 137, 44);
    border: 1px solid rgb(20, 137, 44);
    border-radius: 5px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 800!important;
}

p[class*='New'] {
    color: rgb(245, 245, 245);
    background-color: rgb(74, 103, 133);
    border: 1px solid rgb(74, 103, 133);
    border-radius: 5px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 800!important;
}

p[class*='In Progress'] {
    color: #594300!important;
    background-color: rgb(255, 211, 81);
    border: 1px solid rgb(255, 211, 81);
    border-radius: 5px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 800!important;
}

p[class*='Review'] {
    color: #594300!important;
    background-color: rgb(255, 211, 81);
    border: 1px solid rgb(255, 211, 81);
    border-radius: 5px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 800!important;
}

p[class*='Closed'] {
    color: rgb(245, 245, 245)!important;
    background-color: rgb(20, 137, 44);
    border: 1px solid rgb(20, 137, 44);
    border-radius: 5px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 800!important;
}

p[class*='Resolved'] {
    color: rgb(245, 245, 245)!important;
    background-color: rgb(20, 137, 44);
    border: 1px solid rgb(20, 137, 44);
    border-radius: 5px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 800!important;
}

p[class*='Planning'] {
    color: rgb(245, 245, 245)!important;
    background-color: rgb(74, 103, 133);
    border: 1px solid rgb(74, 103, 133);
    border-radius: 5px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 800!important;
}

p[class*='Approved'] {
    color: #594300!important;
    background-color: rgb(255, 211, 81);
    border: 1px solid rgb(255, 211, 81);
    border-radius: 5px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 800!important;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    z-index: 200!important;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 130%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    /* At the bottom of the tooltip */
    right: 100%;
    z-index: 200!important;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.col-md-1-half {
    /* width: 4.1667%; */
}

.col-md-11-halfBefore {
    /*  width: 95.8333%; */
}

.hoverHand {
    cursor: pointer;
    /* transition: all .2s ease-in-out; */
}

.hoverHand:hover {
    cursor: pointer;
    /* transform: scale(1.15); */
}

i.fa-sticky-note-o:hover {
    cursor: pointer;
}

.col-container {
    display: table;
    /* Make the container element behave like a table */
    width: 100%;
    /* Set full-width to expand the whole page */
}

.col {
    display: table-cell;
    /* Make elements inside the container behave like table cells */
}

label {
    padding-bottom: 10px!important;
    padding-top: 10px!important;
    font-weight: 400!important;
    box-shadow: none!important;
}


/* 
h
*/

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: strecth;
    /* horizontally: start, stretch, end, center */
    align-items: stretch;
    margin-bottom: 1em;
    /* vertically: start, end, center */
}

.wrapper>div {
    padding: 1em;
    /* box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1); */
}

.wrapper>div:nth-child(odd) {
    padding: 1em;
    /* box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1); */
}

.wrapperOne {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: strecth;
    /* horizontally: start, stretch, end, center */
    align-items: stretch;
    margin-bottom: 1em;
    /* vertically: start, end, center */
}

.wrapperOne>div {
    /* box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1); */
    padding: 1em;
}

.wrapperOne>div:nth-child(odd) {
    padding: 1em;
    /* box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1); */
}

ul {
    text-align: left;
}

label {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

ul {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;
    padding-top: 0px!important;
}

.marg {
    margin-bottom: 1px!important;
    margin-top: 1px!important;
}

li.has-children {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    padding-bottom: 1px!important;
    padding-top: 1px!important;
}

.tooltip {
    opacity: 1!important;
    border: none!important;
}

.released {
    float: right;
    margin-right: 10px;
    color: rgb(20, 137, 44);
    border: 1px solid rgb(20, 137, 44);
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    background-color: white;
}

.unreleased {
    float: right;
    margin-right: 10px;
    color: rgb(40, 40, 40);
    border: 1px solid rgb(246, 195, 66);
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    background-color: white;
}

.listWrapper {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    justify-items: strecth;
    /* horizontally: start, stretch, end, center */
    align-items: center;
    grid-template-rows: auto;
    /* vertically: start, end, center */
}