/* Kolla upp senare */

body[unresolved] {
    opacity: 0;
}

body {
    transition: none;
}

html {
    -webkit-text-size-adjust: 100%;
}

html {}

body {
    color: rgb(80, 80, 80);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}


/* Centering inside div if parent is position:relative; */

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


/* Slack feed */

.header-fixed {
    width: 100%
}

.header-fixed>thead,
.header-fixed>tbody,
.header-fixed>thead>tr,
.header-fixed>tbody>tr,
.header-fixed>thead>tr>th,
.header-fixed>tbody>tr>td {
    display: block;
}

.header-fixed>tbody>tr:after,
.header-fixed>thead>tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed>tbody {
    overflow-y: auto;
    height: 150px;
}

.header-fixed>tbody>tr>td:first-child,
.header-fixed>thead>tr>th:first-child {
    width: 10%;
    float: left;
}

.header-fixed>tbody>tr>td:not(:first-child),
.header-fixed>thead>tr>th:not(:first-child) {
    width: 90%;
    float: left;
}


/* Text alignment on supportDOM */

.supportLeft h5 {
    text-align: left;
}

.supportRight h5 {
    text-align: right;
}


/* Diff color on every other row */

tbody tr.trRow:nth-child(even) {
    background-color: rgb(37, 37, 37) !important;
}

tbody tr.trRow:nth-child(odd) {
    background-color: rgb(42, 42, 42) !important;
}


/* Equal table-row-height */

table>tbody>tr {
    display: flex !important;
    flex-wrap: wrap !important;
    overflow-y: hidden;
}

table>tbody>tr>td {
    overflow: auto !important;
    display: flex !important;
    overflow-y: hidden;
    /*word-wrap: break-word !important;*/
    min-height: 50px !important;
}


/* Button Interaction */


/*
button {
    position: relative;
    display: inline-block;
    background-color: rgb(29, 34, 40) !important;
    color: white !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-color: rgb(160, 160, 160) !important;
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

button::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

button:active {
    background-color: rgb(58, 68, 80) !important;
}

button:hover {
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
}

button:hover::after {
    opacity: 1;
} */


/* Header color */

h5 {
    color: white;
}

#atlwdg-trigger {
    width: 10vw!important;
    text-align: center!important;
    transform: translate(30vw, 5vh)!important;
    height: 3vh!important;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: strecth;
    /* horizontally: start, stretch, end, center */
    align-items: stretch;
    margin-bottom: 1em;
    /* vertically: start, end, center */
}

.wrapper>div {
    padding: 1em;
    /*   box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1); */
}

.wrapper>div:nth-child(odd) {
    padding: 1em;
    /*   box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1); */
}

.wrapperOne {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: strecth;
    /* horizontally: start, stretch, end, center */
    align-items: stretch;
    margin-bottom: 1em;
    /* vertically: start, end, center */
}

.wrapperOne>div {
    /*   box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1); */
    padding: 1em;
}

.wrapperOne>div:nth-child(odd) {
    padding: 1em;
    /*   box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1); */
}

ul {
    text-align: left;
}


/* från jira-release */


/* CSS-Reset */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* 
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*/


/* -------------------------------- 

Primary style

-------------------------------- */


/* -------------------------------- 

Primary style

-------------------------------- */

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {}

body {
    color: rgb(80, 80, 80);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}


/* -------------------------------- 

Main Components 

*/

:root {
    --status-inprogress-color: rgb(255, 211, 81);
    --status-new-color: rgb(74, 103, 133);
    --status-planning-color: rgb(74, 103, 133);
    --status-closed-color: rgb(20, 137, 44);
    --status-resolved-color: rgb(20, 137, 44);
    --status-new-color: rgb(74, 103, 133);
}

h5[class*='Done'] {
    color: rgb(245, 245, 245);
    background-color: rgb(20, 137, 44);
    border: 4px solid rgb(20, 137, 44);
    border-radius: 5px;
}

h5[class*='New'] {
    color: rgb(245, 245, 245);
    background-color: rgb(74, 103, 133);
    border: 4px solid rgb(74, 103, 133);
    border-radius: 5px;
}

h5[class*='In Progress'] {
    color: #594300!important;
    background-color: rgb(255, 211, 81);
    border: 4px solid rgb(255, 211, 81);
    border-radius: 5px;
}

h5[class*='Review'] {
    color: #594300!important;
    background-color: rgb(255, 211, 81);
    border: 4px solid rgb(255, 211, 81);
    border-radius: 5px;
}

h5[class*='Closed'] {
    color: rgb(245, 245, 245)!important;
    background-color: rgb(20, 137, 44);
    border: 4px solid rgb(20, 137, 44);
    border-radius: 5px;
}

h5[class*='Approved'] {
    color: #594300!important;
    background-color: rgb(255, 211, 81);
    border: 4px solid rgb(255, 211, 81);
    border-radius: 5px;
}

h5[class*='Resolved'] {
    color: rgb(245, 245, 245)!important;
    background-color: rgb(20, 137, 44);
    border: 4px solid rgb(20, 137, 44);
    border-radius: 5px;
}

h5[class*='Planning'] {
    color: rgb(245, 245, 245)!important;
    background-color: rgb(74, 103, 133);
    border: 4px solid rgb(74, 103, 133);
    border-radius: 5px;
}

p[class*='Done'] {
    color: rgb(245, 245, 245);
    background-color: rgb(20, 137, 44);
    border: 1px solid rgb(20, 137, 44);
    border-radius: 5px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 800!important;
}

p[class*='New'] {
    color: rgb(245, 245, 245);
    background-color: rgb(74, 103, 133);
    border: 1px solid rgb(74, 103, 133);
    border-radius: 5px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 800!important;
}

p[class*='In Progress'] {
    color: #594300!important;
    background-color: rgb(255, 211, 81);
    border: 1px solid rgb(255, 211, 81);
    border-radius: 5px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 800!important;
}

p[class*='Review'] {
    color: #594300!important;
    background-color: rgb(255, 211, 81);
    border: 1px solid rgb(255, 211, 81);
    border-radius: 5px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 800!important;
}

p[class*='Closed'] {
    color: rgb(245, 245, 245)!important;
    background-color: rgb(20, 137, 44);
    border: 1px solid rgb(20, 137, 44);
    border-radius: 5px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 800!important;
}

p[class*='Resolved'] {
    color: rgb(245, 245, 245)!important;
    background-color: rgb(20, 137, 44);
    border: 1px solid rgb(20, 137, 44);
    border-radius: 5px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 800!important;
}

p[class*='Planning'] {
    color: rgb(245, 245, 245)!important;
    background-color: rgb(74, 103, 133);
    border: 1px solid rgb(74, 103, 133);
    border-radius: 5px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 800!important;
}

p[class*='Approved'] {
    color: #594300!important;
    background-color: rgb(255, 211, 81);
    border: 1px solid rgb(255, 211, 81);
    border-radius: 5px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 800!important;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    z-index: 200!important;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 130%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    /* At the bottom of the tooltip */
    right: 100%;
    z-index: 200!important;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.col-md-1-half {
    /* width: 4.1667%; */
}

.col-md-11-halfBefore {
    /*  width: 95.8333%; */
}

.hoverHand {
    cursor: pointer;
    /* transition: all .2s ease-in-out; */
}

.hoverHand:hover {
    cursor: pointer;
    /* transform: scale(1.15); */
}

i.fa-sticky-note-o:hover {
    cursor: pointer;
}

.col-container {
    display: table;
    /* Make the container element behave like a table */
    width: 100%;
    /* Set full-width to expand the whole page */
}

.col {
    display: table-cell;
    /* Make elements inside the container behave like table cells */
}

label {
    padding-bottom: 10px!important;
    padding-top: 10px!important;
    font-weight: 400!important;
    box-shadow: none!important;
}


/* 
h
*/

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: strecth;
    /* horizontally: start, stretch, end, center */
    align-items: stretch;
    margin-bottom: 1em;
    /* vertically: start, end, center */
}

.wrapper>div {
    padding: 1em;
}

.wrapper>div:nth-child(odd) {
    padding: 1em;
}

.wrapperOne {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: strecth;
    /* horizontally: start, stretch, end, center */
    align-items: stretch;
    margin-bottom: 1em;
    /* vertically: start, end, center */
}

.wrapperOne>div {
    padding: 1em;
}

.wrapperOne>div:nth-child(odd) {
    padding: 1em;
}

ul {
    text-align: left;
}

label {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

ul {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;
    padding-top: 0px!important;
}

.marg {
    margin-bottom: 1px!important;
    margin-top: 1px!important;
}

li.has-children {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    padding-bottom: 1px!important;
    padding-top: 1px!important;
}

.tooltip {
    opacity: 1!important;
    border: none!important;
}

.released {
    float: right;
    margin-right: 10px;
    color: rgb(20, 137, 44);
    border: 1px solid rgb(20, 137, 44);
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    background-color: white;
}

.unreleased {
    float: right;
    margin-right: 10px;
    color: rgb(40, 40, 40);
    border: 1px solid rgb(246, 195, 66);
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    background-color: white;
}

.listWrapper {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    justify-items: strecth;
    /* horizontally: start, stretch, end, center */
    align-items: center;
    grid-template-rows: auto;
    /* vertically: start, end, center */
}