<!--
<style>
    body,
    p,
    h1,
    h3,
    h3,
    h4,
    h3,
    a,
    label,
    i {
        font-size: 1em;
    }
</style> -->

<style>
    .thirdHeight {
        height: 30.833%;
        padding: 0.25rem;
    }
    
    .fourthHeight {
        height: 23.125%;
        padding: 0.25rem;
    }
    
    .boxShadow {
        height: 100%;
        box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.75);
        background-color: rgb(240, 240, 240);
        padding: 0;
    }
</style>

<style>
    .col-container {
        display: table;
        width: 100%;
    }
    
    .col-6 {
        display: table-cell;
        padding: 16px;
        width: 50%;
    }
    
    .col-3 {
        display: table-cell;
        padding: 16px;
        width: 25%;
    }
    
    .col-10 {
        display: table-cell;
        padding: 16px;
        width: 83.33%;
    }
    
    .col-2 {
        display: table-cell;
        padding: 16px;
        width: 16.667%;
    }
    
    .col-12 {
        display: table-cell;
        padding: 16px;
        width: 100%;
    }
</style>

<div class="container-fluid" id="body" style="height:100vh; width:100vw;  overflow-x:hidden;">
    <!-- overflow:hidden; -->

    <div id="dashboardContent" class="row" style="height:100%; background: linear-gradient(141deg, rgb(200, 200, 200) 0%, rgb(220, 220, 220) 51%, rgb(200, 200, 200) 100%);">

        <div class="col-md-12" style="height: 5%; background-color:rgb(40,40,40); box-shadow: 10px 3px 18px 1px rgba(0,0,0,0.75);">
            <app-header style="height:100%;"></app-header>
        </div>

        <div class="col-md-12" style="height:2.5%; background-color:rgb(60,60,60); box-shadow: 10px 3px 18px 1px rgba(0,0,0,0.75);">
            <app-alert></app-alert>
        </div>



        <!-- Grids -->


        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 thirdHeight grid first">
            <div class="col-md-12 boxShadow">
                <app-portfolio></app-portfolio>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 grid thirdHeight second">
            <div class="col-md-12 boxShadow">
                <!--  <app-jira-ccb></app-jira-ccb> -->
            </div>
        </div>


        <!-- col-md-3  height: 33.3% -->
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 grid thirdHeight third">
            <div class="col-md-12 boxShadow">

            </div>
        </div>

        <!-- col-md-3  height: 33.3% -->
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 grid thirdHeight fourth">
            <div class="col-md-12 boxShadow">
                <div class="col-md-12" style="height:10%; padding:0;">
                    <div class="col-md-12">
                        <h2 style="color:rgb(80,80,80); display:inline-block; text-align:left; height:50%; transform:translateY(50%);margin:0;padding:0;"></h2>
                        <h2 style="color:rgb(80,80,80); float:right; text-align:right; height:50%; transform:translateY(50%);margin:0;padding:0;">...</h2>
                    </div>
                </div>

                <div class="col-md-12" style="height:100%; padding:0;">

                </div>
            </div>
        </div>


        <div id="41" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 grid thirdHeight fifth">
            <div class="col-md-12 boxShadow" style="background:#333;">
                <app-jira-forest></app-jira-forest>
            </div>
        </div>


        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 grid thirdHeight sixth">
            <div class="col-md-12 boxShadow">
                <!--  <app-jira-puls></app-jira-puls> -->
            </div>
        </div>


        <div id="releaseNotesGrid" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 grid thirdHeight seventh">
            <div class="col-md-12 boxShadow">
                <div class="col-md-12" style="height:10%; padding:0;">
                    <div class="col-md-10" style="text-align:left; height:100%; padding-right:0;">
                        <h2 style="color:rgb(80,80,80); display:inline-block; text-align:left; height:50%; transform:translateY(50%);margin:0;padding:0;">Velocity Type</h2>
                    </div>

                    <div class="col-md-2" style="text-align:right; height:100%;">
                        <div class="fa-lg" style="display:inline-block; height:50%; transform:translateY(50%)">
                            <span class="fa-layers fa-fw hoverHand" (click)="modal.open()" style="">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                        </div>
                        <bs-modal #modal cssClass="modal-fourty">
                            <bs-modal-header [showDismiss]="false">
                                <h1 class="modal-title" style="color:black;">Velocity Type</h1>
                            </bs-modal-header>
                            <bs-modal-body>
                                <div class="col-md-12" style="text-align:left; margin-bottom:10%;">
                                    <div class="wrapperOne">

                                        <div>
                                            <h2 style="color:black;">Synopsis:</h2>
                                            <p style="">
                                                The function has been developed due to a need to see the distribution of the different Types and the throughput of the entire Flex Team. This can be seen and treated as a Key Performance Indicator (KPI) or Performance Indicator (PI) per single/ multiple
                                                release/s.
                                                <br><br> The information comes from JIRA (Projects MAC, MPP, MEM) and are automatically updated on a regular basis. For a complete view of ALL releases, please use view "Releases" and "MAC/ MEM/ MPP" within
                                                JIRA.
                                            </p>
                                        </div>

                                    </div>

                                </div>

                            </bs-modal-body>
                            <bs-modal-footer style="position:absolute;bottom:0;width:100%;">

                                <div class="col-md-9" style="text-align:left;">
                                    <p style="color:black; display:inline-block; margin-bottom:0;"></p>
                                </div>

                                <div class="col-md-3">
                                    <button type="button" class="btn btn-close" (click)="modal.close()">Close</button>
                                </div>

                            </bs-modal-footer>
                        </bs-modal>
                    </div>


                </div>
                <div class="col-md-12" style="height:90%; padding:0;">
                    <div class="col-md-12" style="height:100%;">


                        <!-- <app-pie-chart></app-pie-chart>
                        <app-gauge-chart></app-gauge-chart> -->
                    </div>
                </div>
            </div>
        </div>

        <div id="alertsGrid" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 grid thirdHeight eigth">
            <div class="col-md-12 boxShadow">

                <div class="col-md-12" style="height:10%; padding:0;">
                    <div class="col-md-12">
                        <h2 style="margin:0;color:rgb(80,80,80); display:inline-block; text-align:left; height:50%; transform:translateY(50%);padding:0;">Velocity Releases</h2>
                        <h2 style="margin:0;color:rgb(80,80,80); float:right; text-align:right; height:50%; transform:translateY(50%);padding:0;">...</h2>
                    </div>
                </div>
                <div class="col-md-12" style="height:90%; padding:0;">
                    <div class="col-md-12" style="height:100%;">
                    </div>
                </div>

            </div>
        </div>

        <div id="42" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 grid thirdHeight ninth">
            <div class="col-md-12 boxShadow">
                <app-test></app-test>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 grid thirdHeight tenth">
            <div class="col-md-12 boxShadow">
                <!--      <app-jira-release></app-jira-release> -->
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 grid thirdHeight eleventh">
            <div class="col-md-12 boxShadow">
                <!--  <app-whats-up></app-whats-up> -->
            </div>
        </div>

        <div id="43" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 grid thirdHeight twelfth">
            <div class="col-md-12 boxShadow">

            </div>
        </div>


    </div>
</div>