<style>
    .hoverHand:hover {
        cursor: pointer;
    }
</style>

<div class="col-md-12" style="height:10%; padding:0;">
    <div class="col-md-10" style="text-align:left; height:100%; padding-right:0;">
        <h2 style="color:rgb(80,80,80); display:inline-block; text-align:left; height:50%; transform:translateY(50%);margin:0;padding:0;">Flex-Tests</h2>
    </div>

    <div class="col-md-2" style="text-align:right; height:100%;">
        <div class="fa-lg" style="display:inline-block; height:50%; transform:translateY(50%)">
            <span class="fa-layers fa-fw hoverHand" (click)="modal.open()" style="">
                              <i class="fas fa-info-circle"></i>
                          </span>
        </div>
        <bs-modal #modal cssClass="modal-fifty" class="releasesModal">
            <bs-modal-header [showDismiss]="false">
                <h1 class="modal-title">Portfolio</h1>
            </bs-modal-header>
            <bs-modal-body>
                <div class="col-md-12" style="text-align:left;margin-bottom:10%;">
                    <h3>Synopsis:</h3>
                    <p>
                        This function has been developed due to a need to see Flex´s ALL planned and on-going activities as from the very highest level of need in the form of prioritized Value Items devided, in the areas of Business and IT, down to specific CRs/TRs within the
                        applications MAC, MACCloud, MEM and MPP.
                    </p>

                    <p>
                        To facilitate the End User a Drill Down (a possibility to see the commitment from a helicopter-view down to the actual details witin a specific CR/ TR) approach has been developed. This will support the End User with a clear and easy to use Graphical
                        User interface (GUI).
                    </p>



                    <h2 style="text-align:left;">NB:</h2>
                    <p style="margin:0;">Offers a possibility to present additional attributes (if available) such as…</p>
                    <ul>
                        <li>Created</li>
                        <li>Updated</li>
                        <li>Reporter</li>
                        <li>Assignee</li>
                        <li>Labels</li>
                        <li>Linked Issues</li>
                        <li>Components</li>
                    </ul>


                    <p>The information steams from JIRA (Projects MAC, MACCloud, MPP and MEM) and are automatically updated on a regular basis.
                        <span>
                          <a href="http://sesoco3319/" target="_blank">
                              http://sesoco3319/
                          </a>
                      </span>
                    </p>




                </div>

            </bs-modal-body>
            <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
                <div class="col-md-9" style="text-align:left;">

                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-close" (click)="modal.close()">Close</button>
                </div>
            </bs-modal-footer>
        </bs-modal>
    </div>


</div>
<div class="col-md-12" style="height:90%; padding:0;">
    <div class="col-md-12" style="height:100%;">
        <style>
            .section {
                padding: 1em;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%)
            }
            
            .section h2,
            h3 {
                text-align: center;
            }
            
            .section a span {
                font-size: 1.4rem;
                font-weight: 100;
            }
            
            .section a {
                font-family: inherit;
                font-size: 2rem;
                box-shadow: none;
                background-color: transparent;
                text-align: left;
                color: inherit;
                padding: 0;
                font-weight: 400;
                text-decoration: none;
                display: inline-block;
                text-align: center;
            }
            
            .section a:hover {
                cursor: pointer;
            }
        </style>

        <div class="section">

            <a href="https://www.dn.se/" target="_blank">
                Test Status<br>
                <span>
                   For Flexible Maintenance
                </span>
            </a>


        </div>


    </div>
</div>