<!-- 
<div class="fa-lg" style="display:inline-block;">
    <span class="fa-layers fa-fw hoverHand" (click)="isEditingAlert=true; logActive(); setAlertToActive(); modalAdd.open()" style="">
        <i class="far fa-edit"></i>
    </span>
</div>

-->

<div id="slackFeed" (mouseenter)="mouseInFeed = true;" (mouseleave)="mouseInFeed = false;" class="col-md-12" style="height:75%; padding:0;">
    <div style="position:absolute; height:100%; width:100%; background: linear-gradient(0deg, rgba(0, 0, 0,0) 0%, rgba(0, 0, 0,0) 80%,  rgba(245, 245, 245, 0.9) 100%);z-index:5;pointer-events:none;"></div>
    <div class="col-md-12" style="height:100%; padding:0; background-color:rgb(245,245,245);">

        <table class="table header-fixed" style="height:100%; position:relative;table-layout:fixed">
            <!-- table-striped  -->
            <tbody *ngIf="messages.length > 1" style="height:100%; overflow-y:auto; overflow-x:hidden;" id="scrollableBodySlack">

                <style>
                    .dummy {
                        margin-top: 100%;
                    }
                    
                    .in {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }
                </style>
                <div *ngFor="let mess of messages; let last = last; let i = index; trackBy: trackByTs;" #allTheseThings [attr.ready]="last ? false : true" style="text-align:left;">


                    <div class="col-md-12 slackEntry" style="margin-top:10px; margin-bottom:10px; padding:0.25em;">
                        <div class="col-md-2 slackImages" style="padding:0;">
                            <div class="col-md-5" style="padding:0;margin:2px;margin-top:0;border: 2px solid rgb(220,220,220);">
                                <div class="dummy"></div>
                                <div class="in" [ngStyle]="{ 'background-image': 'url(' + mess.workspaceIcon.image_44 + ')',  'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-position': '50% 50%'}"></div>
                            </div>

                            <div class="col-md-5" style="padding:0;margin:2px;margin-top:0;border: 2px solid rgb(220,220,220);">
                                <div class="dummy"></div>
                                <div *ngIf="!mess.icons" class="in" [ngStyle]="{ 'background-image': 'url(' + mess.profile.image_48 + ')',  'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-position': '50% 50%'}"></div>
                                <div *ngIf="mess.icons" class="in" [ngStyle]="{ 'background-image': 'url(' + mess.icons.image_64 + ')',  'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-position': '50% 50%'}"></div>
                            </div>
                        </div>

                        <div class="col-md-10" style="color:rgb(160,160,160); background-color:rgb(245,245,245);border: 2px solid rgb(220,220,220);padding:0.5em;">


                            <!-- <span *ngIf="mess.username == 'FlexBot'" style="font-weight:bold;">{{mess.username}}</span>

                                <span *ngIf="mess.profile.real_name && !mess.profile.cleanUserName" style="font-weight:bold;">{{mess.profile.real_name}}</span>
                                <span *ngIf="mess.profile.cleanUserName && !mess.profile.real_name" style="font-weight:bold;">{{mess.profile.cleanUserName}}</span>
                                 {{mess.cleanUserName}} -->
                            <p>
                                <span style="float:right;">{{mess.date.hour}}:{{mess.date.minutes}}:{{mess.date.seconds}} - {{mess.date.year}}/{{mess.date.month}}/{{mess.date.day}}</span>
                            </p>

                            <p style="margin-bottom:0;word-break: break-all">
                                {{mess.text}}
                            </p>
                        </div>
                    </div>
                    <!-- {{ last === true ? scrollDown() : null }} -->
                </div>
            </tbody>

            <style>
                .box {
                    height: 100%;
                    width: 100%;
                    font-style: oblique;
                    color: #FFF;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            </style>



            <tbody *ngIf="messages.length < 1" style="height:100%; overflow-y:auto; overflow-x:hidden;">

                <div class="box" style="height:100%;">
                    <h5 style="color:black;">Slack still blocked... :'( </h5>
                </div>

            </tbody>




        </table>
    </div>
</div>