<div id="whatsUpHeader" class="col-md-12" style="height: 10%; background-color:rgb(245, 245, 245); padding:0;">
    <div class="col-md-5" style="text-align:left; height:100%;">
        <h2 style="color:rgb(80,80,80); display:inline-block; text-align:left; height:50%; transform:translateY(50%);margin:0;padding:0;">What's Up</h2>
    </div>
    <div class="col-md-5" style="text-align:center; height:100%; padding:0;">
        <h5 *ngIf="slackFeedRequestTime" style="color:rgb(80,80,80); display:inline-block; text-align:left; height:50%; transform:translateY(50%);margin:0;padding:0;">
            Synched: {{slackFeedRequestTime | dateFormatter: 'date'}} at {{slackFeedRequestTime | dateFormatter: 'time'}}
        </h5>
    </div>

    <div class="col-md-2" style="text-align:right; height:100%;">
        <div class="fa-lg" style="display:inline-block; height:50%; transform:translateY(50%)">
            <span class="fa-layers fa-fw hoverHand" (click)="modal.open()" style="">
                    <i class="fas fa-info-circle"></i>
                </span>
        </div>
        <bs-modal #modal cssClass="modal-sixty">
            <bs-modal-header [showDismiss]="false">
                <h1 class="modal-title">What's Up</h1>
            </bs-modal-header>
            <bs-modal-body>
                <div class="col-md-12" style="text-align:center;margin-bottom:10%;">


                    <div class="wrapperOne">
                        <div>
                            <h3>Synopsis:</h3>
                            <p style="">
                                The function has been developed due to spread the information between the different Flex Teams and the need of unnecessary jumping between different Slack-channels. There is a possibility to send pre-defined, but also custom-made messages, in short words
                                save time producing the message and reach the whole Flex-community with some few clicks.
                            </p>

                            <p style="margin-bottom:0;">
                                Please be aware that You are able to select/ deselect what channels You have been offered based on the role You have been provided by the Dashboard Administrator.
                            </p>
                        </div>
                        <div>
                            <h5>Post 'Go' or 'No Go' Message:</h5>
                            <p style="margin-bottom:0;">
                                To inform Flex Team what CR´s/ TR´s WILL/ WILL NOT be deployed in Production environment for the selected Release within MAC, MACCloud, MEM and MPP:
                            </p>
                            <ul style="text-align:left;">
                                <li>Select the Release (a default-release has been proposed based on the current system date)</li>
                                <li>Select or deselect the individual CR´s/ TRs to be notified, as default all CR´s/ TR´s has been selected</li>
                                <li>Select one or several Slack Channels You would like to distribute the message</li>
                                <li>(Change the text-string if necessary)</li>
                                <li>Hit the Submit-button and the message will be launched to the selected Slack Channel/s</li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div>
                            <h5>Post Deploy Message:</h5>
                            <p style="margin-bottom:0;">
                                To inform Flex Team what CR´s/ TR´s has been deployed in Production environment for the selected Release within MAC, MACCloud, MEM and/ or MPP:
                            </p>
                            <ul style="text-align:left;">
                                <li>Select Deploy message to be notified</li>
                                <li>(Change the text-string if necessary)</li>
                                <li>Hit the Submit-button and the message will be launched to the selected Slack Channel/s</li>
                            </ul>
                        </div>
                        <div>
                            <h5>Post Custom message:</h5>
                            <p style="margin-bottom:0;">
                                To inform Flex Team about anything or maybe just send a encouragement of work well done =)
                            </p>
                            <ul style="text-align:left;">
                                <li>To save some keyboard-effort the Current User’s name are retrieved and will replace and populate the string &lt;NAME&gt;</li>
                                <li>Type in some text and hit the Submit-button and the message will be launched to the selected Slack Channel/s</li>
                            </ul>
                        </div>

                        <div>
                            <h5>Post Sick Message:</h5>
                            <p style="margin-bottom:0;">
                                To inform Flex Team that You are ill/ sick:
                            </p>
                            <ul style="text-align:left;">
                                <li>To save some keyboard-effort the Current User’s name are retrieved and will replace and populate the string &lt;AME&gt;</li>
                                <li>Hit the Submit-button and the message will be launched to the selected Slack Channel/s</li>
                            </ul>
                        </div>

                        <div>
                            <h5>Post Work at home message:</h5>
                            <p style="margin-bottom:0;">
                                To inform Flex Team that You will work at home:
                            </p>
                            <ul style="text-align:left;">
                                <li>To save some keyboard-effort the Current User’s name are retrieved and will replace and populate the string &ltNAME&gt</li>
                                <li>Hit the Submit-button and the message will be launched to the selected Slack Channel/s</li>
                            </ul>
                        </div>

                    </div>


                    <div class="wrapperOne">
                        <div>
                            <p style="margin-bottom:0;">
                                The following Flex Slack-channels do feed the Flex Dashboard called ”What´s up":
                            </p>
                            <ul style="text-align:left;">
                                <li>flexmac.slack.com => Target Group: Team MAC (Development Team)</li>
                                <li>flexmaccloud.slack.com => Target Group: Team MACCloud (Development Team)</li>
                                <li>flexmpp.slack.com => Target Group: Team MPP (Development Team)</li>
                                <li>flexbusinessowner.slack.com => Target Group: Team BO (Business Team)</li>
                                <li>flexmem.slack.com => Target Group: Team MEM (Development Team)</li>
                                <li>flexsupport.slack.com => Target Group: Team Support (HelpDesk Team)</li>
                                <li>flexmanagement.slack.com => Target Group: Flex Management (Management Team = Managers within the line-organization)</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </bs-modal-body>
            <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
                <div class="col-md-12">

                    <button type="button" class="btn btn-close" (click)="modal.close()">Close</button>
                </div>
            </bs-modal-footer>
        </bs-modal>
    </div>




</div>


<app-slack-messages [hidden]="isPostingToSlack"></app-slack-messages>


<app-slack-templates [hidden]="!isPostingToSlack"></app-slack-templates>


<div class="col-md-12" style="height:15%; border-top:1px solid rgb(220,220,220); position:relative;">
    <div class="center" style="height:75%;transform:translateY(22.5%);text-align:center;">
        <button (click)="isPostingToSlack = !isPostingToSlack;" type="submit" class="btn btn-close" value="Submit" style="height:100%;padding:5px;">Post/Cancel</button>
    </div>
</div>