.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: strecth;
    /* horizontally: start, stretch, end, center */
    align-items: stretch;
    margin-bottom: 1em;
    /* vertically: start, end, center */
}

.wrapper>div {
    padding: 1em;
    /* box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1); */
}

.wrapper>div:nth-child(odd) {
    padding: 1em;
    /* box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1); */
}

.wrapperOne {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: strecth;
    /* horizontally: start, stretch, end, center */
    align-items: stretch;
    margin-bottom: 1em;
    /* vertically: start, end, center */
}

.wrapperOne>div {
    /* box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1); */
    padding: 1em;
}

.wrapperOne>div:nth-child(odd) {
    padding: 1em;
    /* box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1); */
}

ul {
    text-align: left;
}

.hoverHand {
    cursor: pointer;
    /* transition: all .2s ease-in-out; */
}

.hoverHand:hover {
    cursor: pointer;
    /* transform: scale(1.15); */
}