<style>
    label {
        margin-top: 0px!important;
        margin-bottom: 0px!important;
    }
    
    ul {
        margin-top: 0px!important;
        margin-bottom: 0px!important;
        padding-bottom: 0px!important;
        padding-top: 0px!important;
    }
    
    .marg {
        margin-bottom: 1px!important;
        margin-top: 1px!important;
    }
    
    li.has-children {
        margin-top: 0px!important;
        margin-bottom: 0px!important;
        padding-bottom: 1px!important;
        padding-top: 1px!important;
    }
    
    .tooltip {
        opacity: 1!important;
        border: none!important;
    }
    
    .printContainer [class*='col-md'] {
        padding: 0!important;
    }
    
    .printContainer [class*='Change Request'] {
        border-bottom: 4px solid rgb(255, 211, 81)!important;
    }
    
    .printContainer [class*='Trouble Report'] {
        border-bottom: 4px solid rgb(208, 68, 55)!important;
    }
    
    .printContainer [class*='Task'] {
        border-bottom: 4px solid rgb(74, 103, 133)!important;
    }
    
    .printContainer [class*='Story'] {
        border-bottom: 4px solid rgb(20, 137, 44)!important;
    }
</style>





<div class="col-md-12" style="height:10%; padding:0;">
    <div class="col-md-5" style="text-align:left; height:100%; padding-right:0;">
        <h2 style="color:rgb(80,80,80); display:inline-block; text-align:left; height:50%; transform:translateY(50%);margin:0;padding:0;">PULS-Boards</h2>
    </div>
    <div class="col-md-5" style="text-align:center; height:100%; padding:0;">
        <h5 *ngIf="jiraPulsRequestTime" style="color:rgb(80,80,80); display:inline-block; text-align:left; height:50%; transform:translateY(50%);margin:0;padding:0;">
            <!-- height:50%; transform:translateY(50%); -->
            Synched: {{jiraPulsRequestTime | dateFormatter: 'date'}} at {{jiraPulsRequestTime | dateFormatter: 'time'}}
        </h5>
    </div>

    <div class="col-md-2" style="text-align:right; height:100%;">

        <div class="fa-lg" style="display:inline-block; height:50%; transform:translateY(50%)">
            <span class="fa-layers fa-fw hoverHand" (click)="modal.open()" style="">
                <i class="fas fa-info-circle"></i>
            </span>
        </div>



        <bs-modal #modal cssClass="modal-seventy" class="pulsesModal">
            <bs-modal-header [showDismiss]="false">
                <h1 class="modal-title">PULS-Boards</h1>
            </bs-modal-header>
            <bs-modal-body>
                <div class="col-md-12" style="text-align:left;margin-bottom:10%;">
                    <h2>Synopsis:</h2>
                    <p>
                        The function has been developed due a need to see a helicopter-view of the current status of all PULS-boards. The information is retrieved from selected JIRA projects (MAC, MACCloud, MPP and MEM) and the Dashboard view is automatically updated on a regular
                        basis
                    </p>

                    <h2>Functionality:</h2>
                    <p>
                        A Print-function may be used and the following etiquettes are avialable…
                    </p>
                    <ul>
                        <li>PostIt for PULS-boards of MAC, MACCloud, MEM and MPP</li>
                        <li>PostIt for PULS-board of Support*</li>
                        <li>PostIt for Any-board to Customize*</li>
                    </ul>

                    <h2>Release Notes:</h2>
                    <p>
                        A possibility to present the Technical Release Notes (if available) within the CR/ TR.
                    </p>
                    <p>
                        A possibility to present the Commercial Release Notes (if available) within the CR/ TR.
                    </p>

                    <h2>Argument:</h2>
                    <p>
                        A possibility to present the argument presented at a Change Control Board (CCB) Meeting and the very reason for performing this specific CR/ TR. Since there are a lot of changes (CR’s, TR’s, Expedite’s, Golden Arrow’s…) competing for attention, we are
                        forced to select and deselect at a very high level.
                    </p>

                    <style>
                        .wrapperThree {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            grid-auto-rows: minmax(100px, auto);
                            grid-gap: 1em;
                            justify-items: start;
                            align-items: stretch;
                            margin-bottom: 1em;
                            display: grid;
                            grid-template-columns: 33.3% 1fr 33.3%;
                            grid-template-rows: auto;
                        }
                    </style>
                    <div class="wrapperThree">
                        <div>
                            <h2>More/Hide:</h2>
                            <p style="margin:0;">Offers a possibility to present additional attributes (if available) such as…</p>
                            <ul>
                                <li>Created</li>
                                <li>Updated</li>
                                <li>Reporter</li>
                                <li>Assignee</li>
                                <li>Labels</li>
                                <li>Linked Issues</li>
                                <li>Components</li>
                            </ul>
                        </div>

                        <div>
                            <h2>Sorting:</h2>
                            <p style="margin:0;">Offers a possibility to sort the current CRs/TRs in the following order…</p>
                            <ul>
                                <li>Key</li>
                                <li>Title</li>
                                <li>Type</li>
                                <li>Priority</li>
                                <li>Status</li>
                                <li>Created</li>
                                <li>Updated</li>
                                <li>Reporter</li>
                                <li>Assignee</li>
                            </ul>
                        </div>

                        <div>
                            <h2>Filter:</h2>
                            <p style="margin:0;">Offers a possibility to filter the current CRs/TRs in the following way…</p>
                            <ul>
                                <li>Status with multiple selection </li>
                                <li>Priority with multiple selection </li>
                                <li>Severity with multiple selection </li>
                                <li>Labels with multiple selection</li>
                                <li>Created with lower and upper selection-criteria</li>
                                <li>Updated with lower and upper selection-criteria </li>
                                <li>Key with upper and lower selection-criteria</li>
                            </ul>

                        </div>
                    </div>


                    <h2>NB:</h2>
                    <p>The information will change with a high frequency, since the views will reflect the daily change of the current status of each CR/ TR.</p>
                </div>

            </bs-modal-body>
            <bs-modal-footer style="position:absolute;bottom:0;width:100%;">

                <div class="col-md-9" style="text-align:left;">
                    <p style="color:black; display:inline-block; margin-bottom:0;"><span style="font-weight:bold;">*</span> - Planned to be developed, but not yet implemented.</p>
                </div>

                <div class="col-md-3">
                    <button type="button" class="btn btn-close" (click)="modal.close()">Close</button>
                </div>

            </bs-modal-footer>
        </bs-modal>
    </div>


</div>


<div class="col-md-12" style="padding:0; overflow-y:scroll;height:90%;">


    <ul id="pulsAccordion" class="cd-accordion-menu animated" style="height:100%;width:100%;position:absolute;left:0;padding-left:0; margin-top:0; margin-bottom:0; background-color:rgb(245,245,245);">


        <li *ngFor="let jirapuls of jiraPulses | orderBy; let i = index; trackBy: trackByReleaseName; " [attr.data-index]="i" style="color:transparent;" class="has-children">
            <input type="checkbox" name="puls-group-{{i}}" id="puls-group-{{i}}">
            <label class="marg releaseName" for="puls-group-{{i}}" style="padding-left: 10%; padding-right:0.5em; height:100%; color:rgb(80,80,80); background-color:rgb(240,240,240); ">
                <span *ngIf="jirapuls.project == 'MACC'">MACCloud</span> 
                <span *ngIf="jirapuls.project != 'MACC'">{{jirapuls.project}}</span> 
                
                 <!-- - {{jirapuls.projectName}} -->
                    <span style="float:right;">{{jirapuls.issues?.length}} issues</span>
            </label>

            <ul *ngIf="jirapuls.issues?.length > 0" class="ulOne" style="padding-left:0;">

                <li style="padding-left:10%;padding-right:0.5em; width:100%; vertical-align:top; color:transparent; position:relative;display:inline-block;background-color:rgb(220,220,220);">

                    <mat-form-field>
                        <mat-select (change)="logSorter();" [(ngModel)]="activeSort" placeholder="Sort">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let sorton of sortingOptions" [value]="sorton">{{sorton}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="Filter" [formControl]="filterControl" multiple>
                            <!-- [formGroup]="myFormGroup"  -->
                            <mat-select-trigger>
                                {{filterControl.value ? filterControl.value[0] : ''}}
                                <span *ngIf="filterControl.value?.length > 1" class="example-additional-selection">
                                    (+{{filterControl.value.length - 1}} others)
                                </span>
                            </mat-select-trigger>
                            <!-- <mat-option>-- None --</mat-option> -->
                            <mat-optgroup *ngFor="let group of filters" [label]="group.name" [disabled]="group.disabled">
                                <!-- [(ngModel)]="chosenFilters" formControlName="group" name="groupName" -->
                                <mat-option *ngFor="let type of group.types" [value]="type" (change)="addRemoveFilter(group.name, type);" (click)="debugForm(type, group.name);">
                                    <!-- formControlName="type" -->
                                    {{ type }}
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                </li>

                <li *ngFor="let issue of jirapuls.issues | arraySort: activeSort | issueFilter:filterControl:filters; let j = index; trackBy: trackByIssueUpdated" [attr.data-index]="j" style="padding-left:1em;padding-right:0; width:100%; vertical-align:top; color:transparent; position:relative;display:inline-block;background-color:rgb(220,220,220);"
                    class="marg issue">

                    <div class="col-md-12" style="height:100%; color:rgb(80,80,80); padding:0;">
                        <div class="listWrapper" style="height:100%; padding-right:0.5em; padding-left:0;">

                            <div style="height:100%; padding:0;display:inline-block;">
                                <div class="tooltip" style="vertical-align:top;">
                                    <img src="{{issue.typeIcon}}" class="smallIcon" />
                                    <span class="tooltiptext">{{issue.type}}</span>
                                </div>

                                <div class="tooltip" style="vertical-align:top;">
                                    <img src="{{issue.priorityIcon}}" class="smallIcon" />
                                    <span class="tooltiptext">{{issue.priority}}</span>
                                </div>
                            </div>

                            <div style="height:100%;padding:0;  display:inline-block;">

                                <div class="col-md-12" style="height:50%; padding:0;">

                                    <div class="col-container">
                                        <div class="col-6" style="height:100%; padding:0;">
                                            <h4 style="padding-top:0; text-decoration:none; margin-bottom:0;">
                                                <a class="listKey" href="{{issue.url}}" target="_blank">
                                                    {{issue.key}}<br>
                                                </a>

                                                <!-- Printable page -->

                                                <style>
                                                    .printWrapper {
                                                        display: grid;
                                                        grid-template-columns: 40% 20% 20% 40%;
                                                        justify-items: strecth;
                                                        /* horizontally: start, stretch, end, center */
                                                        align-items: start;
                                                        grid-template-rows: auto;
                                                        /* vertically: start, end, center */
                                                    }
                                                </style>
                                                <bs-modal #printModal cssClass="modal-print">
                                                    <bs-modal-body id="print-group-{{j}}" style="margin-bottom:20px;">
                                                        <div class="col-md-12" style="height:100%; width:100%; padding:0; margin-bottom:5vmin;">
                                                            <div class="col-md-12 " style="background-color:rgb(255,255,255); border-radius:20px; border: 1px solid black;">
                                                                <!-- display:none; -->
                                                                <div class="col-md-12 {{issue.type}}" style="padding:0; border-bottom:10px solid; padding-top:10px;">
                                                                    <div class="printWrapper">
                                                                        <div>
                                                                            <h2 style="display:inline-block; margin-bottom:2%; padding-top:0;">{{issue.key}}</h2>
                                                                        </div>
                                                                        <div>
                                                                            <img src="{{issue.typeIcon}}" class="smallIcon" />
                                                                            <p style="font-weight:bold; display:inline-block; margin-bottom:2%; font-size:1rem;">{{issue.type}}</p>
                                                                        </div>
                                                                        <div>
                                                                            <img src="{{issue.priorityIcon}}" class="smallIcon" />
                                                                            <p style="font-weight:bold; display:inline-block; margin-bottom:2%; font-size:1rem;">{{issue.priority}}</p>
                                                                        </div>
                                                                        <div>
                                                                            <div style="height:16px; width:16px; display:inline-block;"></div>
                                                                            <p style="font-weight:bold; display:inline-block; margin-bottom:2%; font-size:1rem;">
                                                                                Severity:
                                                                                <span *ngIf="issue.severity">{{issue.severity.value}}</span>
                                                                                <span *ngIf="!issue.severity">None</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="col-md-12" style="padding:0;">

                                                                    <div class="col-md-12" style="text-align:center; padding-top:10px;">
                                                                        <h2 [hidden]="!issue.valueItems" style="display:inline-block; margin-bottom:0; padding-top:2px; display:inline-block; text-align:center;">
                                                                            Value Item:
                                                                            <span *ngFor="let valueItem of issue.valueItems;" style="margin-bottom:0; padding-top:2px;  display:inline-block;">{{valueItem}}<br></span>
                                                                        </h2>

                                                                    </div>

                                                                </div>

                                                                <div class="col-md-12" style="padding:0; margin-top:20px;">
                                                                    <div class="col-md-12">
                                                                        <h2 style="text-align:center; padding-top:0;">{{issue.title}}</h2>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-12" style="padding:0; margin-top:20px; padding-bottom:10px;">
                                                                    <div class="col-md-6">
                                                                        <h2 style="margin-bottom:0;">Reporter: {{issue.reporter}}</h2>
                                                                    </div>
                                                                    <div class="col-md-6" style="text-align:right;">
                                                                        <h2 style="margin-bottom:0; text-align:right;">Created: {{issue.created.date}}</h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </bs-modal-body>
                                                    <bs-modal-footer style="margin-top:20px; position:absolute;bottom:0;width:100%;">
                                                        <div class="col-md-12">
                                                            <button type="button" class="btn btn-close" (click)="printModal.close()">Close</button>
                                                        </div>
                                                    </bs-modal-footer>
                                                </bs-modal>



                                                <!-- Etikett: 
                                                    <div class="col-md-12" id="print-group-{{j}}" style="padding:0; display:none;">
                                                        <div class="col-md-12 printContainer" style="background-color:rgb(255,255,255); border-radius:20px; border: 1px solid black;"> 
                                                    -->
                                                <div class="fa-1x" style="display:inline-block;">
                                                    <span class="fa-layers fa-fw hoverHand" (click)="print(j)">
                                                        <i class="fas fa-print"></i>
                                                    </span>
                                                </div>

                                                <!-- (click)="print(j)"  id="print-group-{{j}}" -->



                                                <div *ngIf="issue.releaseNotesTechnical" class="fa-1x" style="display:inline-block;">
                                                    <span class="fa-layers fa-fw hoverHand" (click)="modalNotesTechnical.open();" style="">
                                                        <i class="far fa-sticky-note"></i>
                                                        <i class="fas fa-wrench" data-fa-transform="shrink-6"></i>
                                                    </span>
                                                </div>


                                                <bs-modal #modalNotesTechnical cssClass="modal-fifty">
                                                    <bs-modal-header [showDismiss]="false">

                                                        <h1 class="modal-title" style="text-align:center;">Release Notes<br><span style="font-style:italic;">Technical</span></h1>

                                                    </bs-modal-header>
                                                    <bs-modal-body>
                                                        <div class="col-md-12" style="text-align:left;">
                                                            <p style="border-bottom: 1px solid rgb(230,230,230); display:inline-block;">{{issue.key}} - {{issue.title}}</p>
                                                        </div>

                                                        <div class="col-md-12" style="text-align:left;">
                                                            <p style="border-bottom: 1px solid rgb(230,230,230); display:inline-block;">{{issue.releaseNotesTechnical}}</p>
                                                        </div>
                                                    </bs-modal-body>
                                                    <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
                                                        <div class="col-md-12">
                                                            <p style="height:50%; transform:translateY(50%);text-align:left;float:left;">Release Notes from issue in Jira</p>
                                                            <button type="button" class="btn btn-close" (click)="modalNotesTechnical.close()">Close</button>
                                                        </div>
                                                    </bs-modal-footer>
                                                </bs-modal>

                                                <div *ngIf="issue.releaseNotesCommercial" class="fa-1x" style="display:inline-block;">
                                                    <span class="fa-layers fa-fw hoverHand" (click)="modalNotesCommercial.open();" style="">
                                                        <i class="far fa-sticky-note"></i>
                                                        <i class="fas fa-user" data-fa-transform="shrink-6"></i>
                                                    </span>
                                                </div>

                                                <bs-modal #releaseNotesCommercial cssClass="modal-fifty">
                                                    <bs-modal-header [showDismiss]="false">
                                                        <h1 class="modal-title" style="text-align:center;">Release Notes<br><span style="font-style:italic;">Commercial</span></h1>
                                                    </bs-modal-header>
                                                    <bs-modal-body>
                                                        <div class="col-md-12" style="text-align:left;">
                                                            <p style="border-bottom: 1px solid rgb(230,230,230); display:inline-block;">{{issue.key}} - {{issue.title}}</p>
                                                        </div>

                                                        <div class="col-md-12" style="text-align:left;">
                                                            <p style="border-bottom: 1px solid rgb(230,230,230); display:inline-block;">{{issue.releaseNotesCommercial}}</p>
                                                        </div>
                                                    </bs-modal-body>
                                                    <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
                                                        <div class="col-md-12">
                                                            <p style="height:50%; transform:translateY(50%);text-align:left;float:left;">Release Notes from issue in Jira</p>
                                                            <button type="button" class="btn btn-close" (click)="releaseNotesCommercial.close()">Close</button>
                                                        </div>
                                                    </bs-modal-footer>
                                                </bs-modal>

                                            </h4>

                                        </div>

                                        <div class="col-6" style="height:100%; padding:0; text-align:right;">
                                            <!-- <p style="display:inline-block;margin-bottom:0;">Status: </p> -->
                                            <h5 class="{{issue.status}}" style="padding-top:0; display:inline-block; margin:0;">{{issue.status}}</h5>
                                        </div>
                                    </div>

                                    <div class="col-container">
                                        <div class="col-12" style="padding:0;">
                                            <h4 style="margin:0; ">{{issue.title | textLength: 50}}</h4>
                                        </div>
                                    </div>

                                    <div id="details{{i}}{{j}}" class="collapse">
                                        <div class="col-md-12" style="height:100%; text-align:center;padding-bottom:20px;padding-top:20px;border-top:1px solid rgb(230,230,230);padding-left:0; padding-right:0;">

                                            <div class="col-container">

                                                <div *ngIf="(issue.created)" class="col-md-6" style="text-align:left; padding:0;">
                                                    <p style="text-align:left; font-weight:bold; margin:0;">Created:</p>
                                                    <p style="text-align:left;">{{issue.created.date}} <br> {{issue.created.time}}</p>
                                                </div>

                                                <div *ngIf="(issue.updated)" class="col-md-6" style="text-align:left; padding:0;">
                                                    <p style="text-align:left; font-weight:bold; margin:0;">Updated:</p>
                                                    <p style="text-align:left;">{{issue.updated.date}} <br> {{issue.updated.time}}</p>
                                                </div>

                                                <div *ngIf="(issue.serviceCenterId)" class="col-md-6" style="text-align:left; padding:0;">
                                                    <p style="text-align:left; font-weight:bold; margin:0;">Service Center Id:</p>
                                                    <p style="text-align:left;">{{issue.serviceCenterId}}</p>
                                                </div>


                                                <div class="col-md-6" style="text-align:left; padding:0;">
                                                    <p style="text-align:left; font-weight:bold; margin:0;">Reporter:</p>
                                                    <p style="text-align:left;">{{issue.reporter}}</p>
                                                </div>

                                                <div class="col-md-6" style="text-align:left; padding:0;">
                                                    <p style="text-align:left; font-weight:bold; margin:0;">Assignee:</p>
                                                    <p style="text-align:left;">{{issue.assignee}}</p>
                                                    <div [hidden]="(!issue.additionalAssignees?.length > 0)" style="text-align:left;" *ngFor="let additionalAssignee of issue.additionalAssignees; let k = index;" [attr.data-index]="k">
                                                        <p style="text-align:left; font-weight:bold; margin:0;" *ngIf="k == 0">Additional Assignees:</p>
                                                        <p style="text-align:left;">{{additionalAssignee}}</p>
                                                    </div>
                                                </div>

                                            </div>



                                            <div *ngIf="(issue.valueItems?.length > 0)" class="col-md-12" style="text-align:left; padding:0;">

                                                <div style="text-align:left;" *ngFor="let valueItem of issue.valueItems; let l = index;" [attr.data-index]="l">
                                                    <p style="text-align:left; font-weight:bold; margin:0;" *ngIf="l == 0">Value Items:</p>
                                                    <p style="text-align:left;">{{valueItem}}</p>
                                                </div>
                                            </div>

                                            <div *ngIf="(issue.components?.length > 0)" class="col-md-12" style="text-align:left; padding:0;">

                                                <div style="text-align:left;" *ngFor="let component of issue.components; let m = index;" [attr.data-index]="m">
                                                    <p style="text-align:left; font-weight:bold; margin:0;" *ngIf="m == 0">Components:</p>
                                                    <p style="text-align:left;">{{component.name}}</p>
                                                </div>
                                            </div>

                                            <div *ngIf="(issue.labels?.length > 0)" class="col-md-12" style="text-align:left; padding:0;">

                                                <div style="text-align:left;" *ngFor="let label of issue.labels; let o = index;" [attr.data-index]="o">
                                                    <p style="text-align:left; font-weight:bold; margin:0;" *ngIf="o == 0">Labels:</p>
                                                    <p style="text-align:left;">{{label}}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div *ngIf="issue.issueLinksInward?.length > 0 || issue.issueLinksOutward?.length > 0" class="col-md-12" style="margin-bottom:20px;text-align:left; padding:0;">
                                            <p style="text-align:left; font-weight:bold; margin:0;">Linked issues:</p>

                                            <div *ngIf="issue.issueLinksInward" class="col-md-12" style="text-align:left;padding:0;">
                                                <div style="text-align:left;" *ngFor="let inwardIssues of issue.issueLinksInward; let o = index;" [attr.data-index]="o">
                                                    <p style="text-align:left;">{{inwardIssues.key}} - {{inwardIssues.title | textLength: 50}}</p>
                                                </div>
                                            </div>

                                            <div *ngIf="issue.issueLinksOutward" class="col-md-12" style="text-align:left;padding:0;">
                                                <div style="text-align:left;" *ngFor="let outwardIssues of issue.issueLinksOutward; let p = index;" [attr.data-index]="p">
                                                    <p style="text-align:left;">{{outwardIssues.key}} - {{outwardIssues.title | textLength: 50}}</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>


                            </div>

                            <div style="height:100%; padding:0; display:inline-block; text-align:center;">
                                <style>
                                    .fa-arrow-alt-circle-down.collapsed {
                                        transition: 0.70s;
                                        -webkit-transition: 0.70s;
                                        -moz-transition: 0.70s;
                                        -ms-transition: 0.70s;
                                        -o-transition: 0.70s;
                                        -webkit-transform: rotate(-90deg);
                                        -moz-transform: rotate(-90deg);
                                        -ms-transform: rotate(-90deg);
                                        -o-transform: rotate(-90deg);
                                        transform: rotate(-90deg);
                                    }
                                </style>
                                <i class="far fa-arrow-alt-circle-down fa-lg collapsed" data-toggle="collapse" aria-expanded="false" [attr.data-target]="'#details' + i + j" style="margin-top:0.1em"></i>

                            </div>
                        </div>

                    </div>
                </li>


            </ul>
        </li>


    </ul>



</div>