/* You can add global styles to this file, and also import other style files */


/* För dropdownsen som kommer från angularMaterial */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* Custom fonter */

@font-face {
    font-family: "Droid Sans Mono";
    font-style: normal;
    src: url("./assets/fonts/DroidSans.woff2");
}

@font-face {
    font-family: "Cardo";
    font-style: serif;
    src: url("./assets/fonts/Cardo-Bold.ttf");
}

@font-face {
    font-family: "Contrail One";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/ContrailOne-Regular.ttf");
}

@font-face {
    font-family: "Pathway Gothic One";
    font-style: sans-serif;
    font-weight: 400;
    src: url("./assets/fonts/PathwayGothicOne-Regular.ttf");
}


/* 
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Cardo', serif;
font-family: 'Contrail One', cursive; */

button {
    border-radius: 0.1rem!important;
}

h1,
h2,
h3,
h4,
h5,
label {
    font-family: 'Pathway Gothic One', sans-serif;
}

p,
li,
ul {
    /*  font-family: 'Cardo', serif; */
    /* font-family: "Cardo"; */
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.4rem;
}

p {
    font-size: 1.4rem;
}

li,
ul,
.form-control,
.mat-form-field {
    font-size: 1.4rem;
}

.accordion h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: 1.8rem;
}

.bold {
    font-weight: bold;
}

.mat-option-text {
    font-size: 1.4rem;
}

.listKey {
    font-family: inherit!important;
    font-size: inherit!important;
    box-shadow: none!important;
    background-color: transparent!important;
    text-align: left!important;
    color: inherit!important;
    padding: 0!important;
    text-decoration: none!important;
    display: inline-block!important;
    font-weight: bold!important;
}

.btn-close {
    background-color: rgb(40, 40, 40);
    color: rgb(200, 200, 200);
}

.btn-close:hover {
    background-color: rgb(60, 60, 60);
    color: rgb(220, 220, 220);
}

.accordion {
    width: 380px;
    margin: 20px auto;
}

.accordion :not(.modal-content) h1,
.accordion :not(.modal-content) h2,
.accordion :not(.modal-content) h3,
.accordion :not(.modal-content) h4,
.accordion :not(.modal-content) h5,
.accordion :not(.modal-content) h6 {
    cursor: pointer;
}

.btn {
    font-size: 1.4rem;
}

bs-modal-header {
    text-align: center;
}

bs-modal-body {
    text-align: left;
}

.col-container {
    text-align: left;
}

.accordion :not(.modal-content) .treeLevel0 {
    padding: 15px 20px!important;
    background-color: #333!important;
    color: #1abc9c!important;
}

.accordion :not(.modal-content) .treeLevel0:hover {
    color: #4afcdc!important;
}

.accordion :not(.modal-content) .treeLevel0:first-child {
    /*  border-radius: 10px 10px 0 0; */
}

.accordion :not(.modal-content) .treeLevel0:last-of-type {
    /*  border-radius: 0 0 10px 10px; */
}

.accordion :not(.modal-content) .treeLevel0:not(:last-of-type) {
    border-bottom: 1px dotted #1abc9c;
}

.accordion :not(.modal-content) div:not(.flex-container-center):not(.flex-container-left),
.accordion :not(.modal-content):not(.flex-container-center) p:not(.flex-container-center):not(.flex-container-left) {
    display: none;
}

.accordion :not(.modal-content) .treeLevel1 {
    padding-left: 12%;
    background-color: #1abc9c;
    border-bottom: 1px solid rgb(43, 173, 147);
    color: #333;
}

.accordion :not(.modal-content) .treeLevel1:hover {
    background-color: #09ab8b;
}

.accordion :not(.modal-content) .treeLevel2 {
    padding-left: 19%;
    background-color: #1E2019;
    border-bottom: 1px solid rgb(56, 60, 47);
    color: #ddd;
}

.accordion :not(.modal-content) .treeLevel2:hover {
    background-color: rgb(52, 55, 43);
}

.accordion :not(.modal-content) .treeLevel3 {
    padding-left: 26%;
    background-color: #394032;
    color: #ddd;
}

.accordion :not(.modal-content) .treeLevel3:hover {
    background-color: #4e5744;
}

.accordion :not(.modal-content) .treeLevel4 {
    padding-left: 31%;
    background-color: #36413E;
    color: #ddd;
}

.accordion :not(.modal-content) .treeLevel4:hover {
    background-color: rgb(70, 84, 80);
}

.accordion :not(.modal-content) .treeLevel5 {
    padding-left: 36%;
    background-color: rgb(98, 119, 114);
    color: #ddd;
}

.accordion :not(.modal-content) .treeLevel5:hover {
    background-color: rgb(149, 184, 176);
}

.accordion :not(.modal-content) * p {
    padding-left: 35px;
    background-color: #ddd;
    color: #333;
    line-height: 1.3rem;
}

div[class^='treeLevel'] {
    padding-right: 5px!important;
    display: grid!important;
    grid-template-columns: 10% 1fr;
    /* 10% 1fr 10%*/
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /*   justify-items: strecth; */
    align-items: stretch;
}

ngb-progressbar .progress {
    margin: 0!important;
    height: 100%!important;
}

progress {
    margin: 0!important;
    height: 100%!important;
}

ngb-progressbar {
    display: inline-block!important;
    width: 100%!important;
}

.flex-container-center {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container-left {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container1fr70 {
    height: 100%;
    padding: 0;
    margin: 0;
    display: grid!important;
    grid-template-columns: 1fr 70%;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 1em;
    align-items: center;
    justify-content: center;
}
.containerOneFr {
    height: 100%;
    padding: 0;
    margin: 0;
    display: grid!important;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 1em;
    align-items: center;
    justify-content: center;
}
.containerTwoFr {
    height: 100%;
    padding: 0;
    margin: 0;
    display: grid!important;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 1em;
    align-items: flex-start;
    justify-content: center;
}

div.arrow {
    display:none!important;
}
.container701fr {
    height: 100%;
    padding: 0;
    margin: 0;
    display: grid!important;
    grid-template-columns: 70% 1fr;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 1em;
    justify-items: strecth;
    align-items: stretch;
    align-items: center;
    justify-content: center;
}

.jiraIcon {
    content: url('./assets/images/jiraIco.png');
}

img.smallIcon {
    height: 1.6rem!important;
    width: 1.6rem!important;
}

.open {
    display: block!important;
}

.forestHolder * {
    margin: 0;
    padding: 0;
}

/deep/ .modal-thirty {
    min-width: 30vw!important;
    /*     min-height: 30vh!important; */
    max-width: 30vw!important;
    max-height: none!important;
    /* transform: translateY(70%)!important; */
}

/deep/ .modal-thirty .modal-content {
    min-width: 30vw!important;
    /*  min-height: 30vh!important; */
    max-width: 30vw!important;
    max-height: none!important;
    /* transform: translateY(20%)!important; */
}

/deep/ .modal-fourty {
    min-width: 40vw!important;
    /*     min-height: 40vh!important; */
    max-width: 40vw!important;
    max-height: none!important;
    /*  transform: translateY(60%)!important; */
}

/deep/ .modal-fourty .modal-content {
    min-width: 40vw!important;
    /*  min-height: 40vh!important; */
    max-width: 40vw!important;
    max-height: none!important;
    /* transform: translateY(20%)!important; */
}

.modal-fifty {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-fifty .modal-content {
    min-width: 50vw!important;
    /*     min-height: 50vh!important; */
    max-width: 50vw!important;
    max-height: none!important;
    /* transform: translateY(20%)!important; */
}

div.modal-fifty {}

.modal.fade .modal-dialog {
    transform: translate(0, 0);
}


/* .modal-fifty {
    min-width: 50vw!important;
    min-height: 50vh!important;
    max-width: 50vw!important;
    max-height: none!important;
}

.modal-fifty .modal-content {
    min-width: 50vw!important;
    min-height: 50vh!important;
    max-width: 50vw!important;
    max-height: none!important;
} */


/* mörkläggning av bakgrunden */

bs-modal {
    background-color: rgba(0, 0, 0, 0.5);
}

/deep/ .modal-sixty {
    min-width: 60vw!important;
    /*    min-height: 60vh!important; */
    max-width: none!important;
    max-height: none!important;
    /*  transform: translateY(20%)!important; */
}

/deep/ .modal-sixty .modal-content {
    min-width: 60vw!important;
    /*  min-height: 60vh!important; */
    max-width: none!important;
    max-height: none!important;
    /* transform: translateY(20%)!important; */
}

.modal-seventy {
    min-width: 70vw!important;
    /* min-height: 70vh!important; */
    max-width: 70vw!important;
    max-height: none!important;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-seventy .modal-content {
    min-width: 70vw!important;
    /* min-height: 70vh!important; */
    max-width: 70vw!important;
    max-height: none!important;
}

/deep/ .modal-print {
    min-width: 41.2vmin!important;
    min-height: 25.6vmin!important;
    max-width: none!important;
    max-height: none!important;
    /*  transform: translateY(20%)!important; */
}

/deep/ .modal-print .modal-content {
    min-width: 41.2vmin!important;
    min-height: 25.6vmin!important;
    max-width: none!important;
    max-height: none!important;
    /* transform: translateY(20%)!important; */
}

.col-container {
    display: table;
    width: 100%;
}

.col-6 {
    display: table-cell;
    padding: 16px;
    width: 50%;
}

.col-3 {
    display: table-cell;
    padding: 16px;
    width: 25%;
}

.col-10 {
    display: table-cell;
    padding: 16px;
    width: 83.33%;
}

.col-12 {
    display: table-cell;
    padding: 16px;
    width: 100%;
}

.col-2 {
    display: table-cell;
    padding: 16px;
    width: 16.667%;
}

.popover {
    display: block!important;
}

.popover>* {
    display: block!important;
}


/* STATUS COLORS */

.Done {
    background-color: rgb(20, 137, 44);
    color: white;
}

.New {
    background-color: rgb(74, 103, 133);
    color: white;
}

.In.Progress {
    background-color: rgb(255, 211, 81);
    color: black;
}

.Review {
    background-color: rgb(255, 211, 81);
    color: black;
}

.Closed {
    background-color: rgb(20, 137, 44);
    color: white;
}

.Approved {
    background-color: rgb(255, 211, 81);
    color: black;
}

.Resolved {
    background-color: rgb(20, 137, 44);
    color: white;
}

.Planning {
    background-color: rgb(74, 103, 133);
    color: white;
}