<div id="slackTemplates" class="col-md-12" style="height:75%;">

    <!--  left side with buttons -->
    <div id="slackButtons" class="col-md-2" style="height:100%; border-right: 1px solid rgb(62,62,62); background-color:rgb(245, 245, 245);">
        <div id="goNoGoButton" class="row" style="height:25%; text-align:center; position:relative;padding-top:5%; padding-bottom:5%;">
            <div class="center" style="width:100%; padding:5px; height:90%;">
                <button (click)="isPostingGoNoGoMessage = !isPostingGoNoGoMessage; isPostingAbscenceMessage = false; isPostingWorkFromHomeMessage = false; isPostingCustomMessage=false;" type="submit" class="btn btn-default" style="width:100%; white-space:nowrap; display:inline-block;  position:relative;padding:5px;height:95%;"
                    onclick="">
                    <i class="fa fa-flag-checkered fa-2x" aria-hidden="true" style="vertical-align: middle;padding-bottom:4px;"></i>
                </button>
            </div>
        </div>
        <div id="abscenceButton" class="row" style="height:25%; text-align:center; position:relative;padding-top:5%; padding-bottom:5%;">
            <div class="center" style="width:100%; padding:5px; height:90%;">
                <button (click)="isPostingAbscenceMessage = !isPostingAbscenceMessage; isPostingGoNoGoMessage = false; isPostingWorkFromHomeMessage = false; isPostingCustomMessage=false;" type="submit" class="btn btn-default" style="width:100%; white-space:nowrap; display:inline-block;  position:relative;padding:5px;height:95%;">
                    <i class="fa fa-thermometer-three-quarters fa-2x" aria-hidden="true" style="vertical-align: middle;padding-bottom:4px;"></i>
                </button>
            </div>
        </div>
        <div id="workFromHomeButton" class="row" style="height:25%; text-align:center; position:relative;padding-top:5%; padding-bottom:5%;">
            <div class="center" style="width:100%; padding:5px; height:90%;">
                <button (click)="isPostingWorkFromHomeMessage = !isPostingWorkFromHomeMessage; isPostingGoNoGoMessage = false; isPostingAbscenceMessage = false; isPostingCustomMessage=false;" style="width:100%; white-space:nowrap; display:inline-block;  position:relative;padding:5px;height:95%;"
                    type="submit" class="btn btn-default">
                    <i class="fa fa-home fa-2x" aria-hidden="true" style="vertical-align: middle;padding-bottom:4px;"></i>
                </button>
            </div>
        </div>
        <div id="customButton" class="row" style="height:25%; text-align:center; position:relative;padding-top:5%; padding-bottom:5%;">
            <div class="center" style="width:100%; padding:5px; height:90%;">
                <!-- data-ng-disabled="false" from button -->
                <button (click)="isPostingCustomMessage = !isPostingCustomMessage; isPostingGoNoGoMessage = false; isPostingAbscenceMessage = false; isPostingWorkFromHomeMessage = false;" style="width:100%; white-space:nowrap; display:inline-block;  position:relative;padding:5px;height:95%;"
                    type="submit" class="btn btn-default">
                    <i class="fa fa-pencil fa-2x" aria-hidden="true" style="color:rgb(80,80,80);text-align:center;width:100%;"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Info on all buttons grid-->
    <!-- hidea -->
    <div id="buttonInfoGrid" [hidden]="(isPostingGoNoGoMessage || isPostingAbscenceMessage || isPostingWorkFromHomeMessage || isPostingCustomMessage)" class="col-md-10" style="height:100%; background-color:rgb(245, 245, 245);">
        <div class="row" style="height:25%; text-align:center; position:relative;">
            <div class="center" style="width:100%; padding-left:10px;padding-right:10px;">
                <h5 style="text-align:left; margin:0; padding:0; color:rgb(80,80,80);">Post a "Go/No Go"-decision</h5>
            </div>
        </div>
        <div class="row" style="height:25%; text-align:center; position:relative;">
            <div class="center" style="width:100%; padding-left:10px;padding-right:10px;">
                <h5 style="text-align:left; margin:0; padding:0; color:rgb(80,80,80);">Notify about sickness/abscence</h5>
            </div>
        </div>
        <div class="row" style="height:25%; text-align:center; position:relative;">
            <div class="center" style="width:100%; padding-left:10px;padding-right:10px;">
                <h5 style="text-align:left; margin:0; padding:0; color:rgb(80,80,80);">Notify about working from home</h5>
            </div>
        </div>
        <div class="row" style="height:25%; text-align:center; position:relative;">
            <div class="center" style="width:100%; padding-left:10px;padding-right:10px;">
                <h5 style="text-align:left; margin:0; padding:0; color:rgb(80,80,80);">Write a custom message</h5>
            </div>
        </div>
    </div>

    <div id="goNoGoContent" [hidden]="!isPostingGoNoGoMessage" class="col-md-10" style="height:100%; background-color:rgb(245, 245, 245);">
        <!-- Go/NoGo - right side  -->
        <!--
        <div id="postGoNoGoHeader" class="row" style="height:10%; text-align:center; position:relative;">
            <div class="center" style="width:100%; padding-left:10px;padding-right:10px;">
                <h5 style="text-align:left; margin:0; padding:0; color:rgb(80,80,80);">Post a "Go/No Go"-decision</h5>
            </div>
        </div>
        -->

        <!-- Go/NoGo - right side, lower part-->
        <div id="sendGoNoGoGrid" class="row" style="height: 100%; position:relative;">
            <!-- Right Side: Go half -->
            <div id="sendGoGrid" style="height:50%; padding:0; margin:0; padding-top:2%;">
                <div class="col-sm-2" style="height:100%;padding-left:1%; padding-right:1%;">
                    <form class="form-horizontal" (ngSubmit)="sendToSlack(goTemplate)">
                        <button type="submit" class="btn btn-default" style="background-color:rgb(28, 36, 107);color:white; white-space:nowrap; display:inline-block; min-width: 100%; text-align:center; padding-top:10%; padding-bottom:10%;">Go</button>
                    </form>
                </div>

                <!-- Right Side not editing -->
                <div [hidden]="editingGoTemplate" class="col-sm-10" style="height:100%; padding-left:0; ">
                    <!-- <h5 style="text-align:left; padding:0; display:inline; color:rgb(80,80,80);">Current Template:</h5> -->
                    <div *ngIf="goTemplate?.messageTemplate" class="col-md-11">
                        <p style="text-align: justify; text-justify: inter-word;color:rgb(80,80,80);" id="goMessageTemplate" [(ngModel)]="goTemplate" name="goInput" ngDefaultControl>{{goTemplate.messageTemplate}}</p>
                    </div>

                    <div *ngIf="!goTemplate?.messageTemplate" class="col-md-11">
                        <p style="text-align: justify; text-justify: inter-word;color:rgb(80,80,80);">Couldn't fetch "Go"-template</p>
                    </div>


                    <div class="col-md-1">
                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:rgb(80,80,80);text-align:right;width:100%;" (click)="editingGoTemplate = true; goInput = goTemplate.messageTemplate"></i>
                    </div>
                </div>

                <!-- Right Side editing -->
                <div [hidden]="!editingGoTemplate" class="col-sm-9" style="height:100%; padding:0; padding-left:0;">
                    <form class="form-horizontal">
                        <div class="col-sm-12" style="padding-left:2px;">
                            <form style="border:1px solid rgb(220,220,220);" class="form-horizontal">
                                <!-- (ngSubmit)="updateMessageTemplate(goTemplate)" -->
                                <textarea style="padding-top:0;" rows="4" cols="50" type="text" class="form-control" id="goMessageTemplateEdit" [(ngModel)]="goInput" name="goInput" ngDefaultControl></textarea>
                            </form>
                        </div>
                        <div class="col-sm-12" style="text-align:right;">
                            <button style="padding:4px;" type="submit" class="btn btn-default" value="Submit" (click)="editingGoTemplate = false; updateMessageTemplate(goTemplate, goInput);">Save</button>
                            <button style="padding:4px;" class="btn btn-default" (click)="editingGoTemplate = false;">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Right Side: No Go half -->
            <div id="sendNoGoGrid" style="height:50%; padding:0; margin:0; padding-top:2%;">
                <div class="col-sm-2" style="height:100%;padding-left:1%; padding-right:1%;">
                    <form class="form-horizontal" (ngSubmit)="sendToSlack(noGoTemplate)">
                        <button type="submit" class="btn btn-default" style="background-color:rgb(226, 50, 55);color:white; white-space:nowrap; display:inline-block; min-width: 100%; text-align:center; padding-top:10%; padding-bottom:10%;">No Go</button>
                    </form>
                </div>

                <!-- Right Side not editing -->
                <div [hidden]="editingNoGoTemplate" class="col-sm-10" style="height:100%; padding-left:0;">
                    <!-- <h5 style="text-align:left; padding:0; display:inline; color:rgb(80,80,80);">Current Template:</h5> -->
                    <div *ngIf="noGoTemplate?.messageTemplate" class="col-md-11">
                        <p style="text-align: justify; text-justify: inter-word;color:rgb(80,80,80);" id="noGoMessageTemplate" [(ngModel)]="noGoTemplate" name="noGoInput" ngDefaultControl>{{noGoTemplate.messageTemplate}}</p>
                    </div>

                    <div *ngIf="!noGoTemplate?.messageTemplate" class="col-md-11">
                        <p style="text-align: justify; text-justify: inter-word;color:rgb(80,80,80);" id="noGoMessageTemplate">Could not fetch "No Go"-template</p>
                    </div>

                    <div class="col-md-1">
                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:rgb(80,80,80);text-align:right;width:100%;" (click)="editingNoGoTemplate = true; noGoInput = noGoTemplate.messageTemplate"></i>
                    </div>
                </div>

                <!-- Right Side editing -->
                <div [hidden]="!editingNoGoTemplate" class="col-sm-9" style="height:100%; padding:0; padding-left:0;">
                    <form class="form-horizontal">
                        <div class="col-sm-12" style="padding-left:2px;">
                            <form style="border:1px solid rgb(220,220,220);" class="form-horizontal">
                                <!-- (ngSubmit)="updateMessageTemplate(noGoTemplate)" -->
                                <textarea style="padding-top:0;" rows="4" cols="50" type="text" class="form-control" id="noGoMessageTemplateEdit" [(ngModel)]="noGoInput" name="noGoInput" ngDefaultControl></textarea>
                            </form>
                        </div>
                        <div class="col-sm-12" style="text-align:right;">
                            <button style="padding:4px;" type="submit" class="btn btn-default" value="Submit" (click)="editingNoGoTemplate = false; updateMessageTemplate(noGoTemplate, noGoInput);">Save</button>
                            <button style="padding:4px;" class="btn btn-default" (click)="editingNoGoTemplate = false;">Cancel</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div id="abscenceContent" [hidden]="!isPostingAbscenceMessage" class="col-md-10" style="height:100%; background-color:rgb(245, 245, 245); padding:0;">
        <!--
        <div id="abscenceHeader" class="row" style="height:10%; text-align:center; position:relative;">
            <div class="center" style="width:100%; padding-left:10px;padding-right:10px;">
                <h5 style="text-align:left; margin:0; padding:0; color:rgb(80,80,80);">Notify about Abscence</h5>
            </div>
        </div>
        -->

        <div id="sendAbscenceGrid" class="row" style="height:50%; padding:0; margin:0; padding-top:2%;">

            <div class="col-sm-2" style="height:100%;padding-left:1%; padding-right:1%;">
                <form class="form-horizontal" (ngSubmit)="sendToSlack(abscenceTemplate)">
                    <button type="submit" class="btn btn-default" style="background-color:rgb(28, 36, 107);color:white; white-space:nowrap; display:inline-block; min-width: 100%; text-align:center; padding-top:10%; padding-bottom:10%;">Send</button>
                </form>
            </div>


            <!-- Right Side not editing -->
            <div [hidden]="editingAbscenceTemplate" class="col-sm-10" style="height:100%; text-align:left; padding-left:0;">
                <!-- <h5 style="text-align:left; padding:0; display:inline; color:rgb(80,80,80);">Current Template:</h5> -->

                <div *ngIf="abscenceTemplate?.messageTemplate" class="col-md-11">
                    <p style="text-align: justify; text-justify: inter-word;color:rgb(80,80,80);" id="abscenceMessageTemplate" [(ngModel)]="abscenceTemplate" name="abscenceInput" ngDefaultControl>{{abscenceTemplate.messageTemplate}}</p>
                </div>
                <div *ngIf="!abscenceTemplate?.messageTemplate" class="col-md-11">
                    <p style="text-align: justify; text-justify: inter-word;color:rgb(80,80,80);">Could not fetch "Abscence"-template</p>
                </div>

                <div class="col-md-1">
                    <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:rgb(80,80,80);text-align:right;width:100%;" (click)="editingAbscenceTemplate = true; abscenceInput = abscenceTemplate.messageTemplate"></i>
                </div>
            </div>

            <!-- Right Side editing -->
            <div [hidden]="!editingAbscenceTemplate" class="col-sm-10" style="height:100%; padding:0; padding-left:0;">
                <form class="form-horizontal">
                    <div class="col-sm-12">
                        <form style="border:1px solid rgb(220,220,220);" class="form-horizontal">
                            <!-- (ngSubmit)="updateMessageTemplate(abscenceTemplate)" -->
                            <textarea style="padding-left:0px;padding-top:0;" rows="4" cols="50" type="text" class="form-control" id="abscenceMessageTemplateEdit" [(ngModel)]="abscenceInput" name="abscenceInput" ngDefaultControl></textarea>
                        </form>
                    </div>
                    <div class="col-sm-12" style="text-align:right;">
                        <button style="padding:4px;" type="submit" class="btn btn-default" value="Submit" (click)="editingAbscenceTemplate = false; updateMessageTemplate(abscenceTemplate, abscenceInput);">Save</button>
                        <button style="padding:4px;" class="btn btn-default" (click)="editingAbscenceTemplate = false;">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="workFromHomeContent" [hidden]="!isPostingWorkFromHomeMessage" class="col-md-10" style="height:100%; background-color:rgb(245, 245, 245); padding:0;">
        <!--
        <div id="workFromHomeHeader" class="row" style="height:10%; text-align:center; position:relative;">
            <div class="center" style="width:100%; padding-left:10px;padding-right:10px;">
                <h5 style="text-align:left; margin:0; padding:0; color:rgb(80,80,80);">Notify about workFromHome</h5>
            </div>
        </div>
        -->

        <div id="sendWorkFromHomeGrid" class="row" style="height:50%; padding:0; margin:0; padding-top:2%;">

            <div class="col-sm-2" style="height:100%;padding-left:1%; padding-right:1%;">
                <form class="form-horizontal" (ngSubmit)="sendToSlack(workFromHomeTemplate)">
                    <button type="submit" class="btn btn-default" style="background-color:rgb(40,40,40); color:white; white-space:nowrap; display:inline-block; min-width: 100%; text-align:center; padding-top:10%; padding-bottom:10%;">Send</button>
                </form>
            </div>

            <!-- Right Side not editing -->
            <div [hidden]="editingWorkFromHomeTemplate" class="col-sm-10" style="height:100%; text-align:left; padding-left:0;">
                <!-- <h5 style="text-align:left; padding:0; display:inline; color:rgb(80,80,80);">Current Template:</h5> -->
                <div *ngIf="workFromHomeTemplate?.messageTemplate" class="col-md-11">
                    <p style="text-align: justify; text-justify: inter-word;color:rgb(80,80,80);" id="workFromHomeMessageTemplate" [(ngModel)]="workFromHomeTemplate" name="workFromHomeInput" ngDefaultControl>{{workFromHomeTemplate.messageTemplate}}</p>
                </div>
                <div *ngIf="!workFromHomeTemplate?.messageTemplate" class="col-md-11">
                    <p style="text-align: justify; text-justify: inter-word;color:rgb(80,80,80);">Could not fetch "Work from Home"-template</p>
                </div>

                <div class="col-md-1">
                    <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:rgb(80,80,80); text-align:right;width:100%;" (click)="editingWorkFromHomeTemplate = true; workFromHomeInput = workFromHomeTemplate.messageTemplate"></i>
                </div>
            </div>

            <!-- Right Side editing -->
            <div [hidden]="!editingWorkFromHomeTemplate" class="col-sm-10" style="height:100%; padding:0; padding-left:0;">
                <form class="form-horizontal">
                    <div class="col-sm-12">
                        <form style="border:1px solid rgb(220,220,220);" class="form-horizontal">
                            <!-- (ngSubmit)="updateMessageTemplate(workFromHomeTemplate)" -->
                            <textarea style="padding-left:0px;padding-top:0;" rows="4" cols="50" type="text" class="form-control" id="workFromHomeMessageTemplateEdit" [(ngModel)]="workFromHomeInput" name="workFromHomeInput" ngDefaultControl></textarea>
                        </form>
                    </div>
                    <div class="col-sm-12" style="text-align:right;">
                        <button style="padding:4px;" type="submit" class="btn btn-default" value="Submit" (click)="editingWorkFromHomeTemplate = false; updateMessageTemplate(workFromHomeTemplate, workFromHomeInput);">Save</button>
                        <button style="padding:4px;" class="btn btn-default" (click)="editingWorkFromHomeTemplate = false;">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="customMessageContent" [hidden]="!isPostingCustomMessage" class="col-md-10" style="height:100%; background-color:rgb(245, 245, 245);">
        <!--
        <div id="postCustomMessageHeader" class="row" style="height:10%; text-align:center; position:relative;">
            <div class="center" style="width:100%; padding-left:10px;padding-right:10px;">
                <h5 style="text-align:left; margin:0; padding:0; color:rgb(80,80,80);">Write a custom message</h5>
            </div>
        </div>
        -->
        <div id="sendCustomMessageGrid" class="row" style="height:100%; text-align:center; position:relative;">
            <form style="height:90%; padding:0; margin:0;" class="form-horizontal" (submit)="sendToSlack(customMessageInput);">
                <div class="col-sm-12">
                    <textarea style="background-color:transparent; color:rgb(80,80,80); border:1px solid rgb(160,160,160);" rows="3" cols="50" type="text" class="form-control" id="customMessageToSlack" [(ngModel)]="customMessageInput" placeholder="Enter message" name="customMessageToSlack"></textarea>
                </div>
                <div class="col-sm-12" style="text-align:right;">
                    <button type="submit" class="btn btn-default" value="Submit">Submit</button>
                    <button class="btn btn-default" (click)="isPostingCustomMessage = false;">Cancel</button>
                </div>
            </form>
        </div>
    </div>

</div>



<!-- 

*Howdy*, 

We do have a decision from the GO/NO GO Meeting today at <TIME> and the decision is *GO*.

As ususal a strong work from all of You!
With regards / PO-Team

_The following CRs/ TRs will be released:_ 

-->